flows/Bookkeeping_Notify_Bookkeeper_and_Supervisor.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotifyBokkeepingTeam</name>
        <label>NotifyBokkeepingTeam</label>
        <locationX>1086</locationX>
        <locationY>199</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotifyBookkeeperTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@andersonadvisors.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NotifyBookkeeper</name>
        <label>NotifyBookkeeper</label>
        <locationX>553</locationX>
        <locationY>654</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BookkeeperTemplateV2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@andersonadvisors.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Set of Books assigned to you</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AddtoEmailsList</name>
        <label>AddtoEmailsList</label>
        <locationX>971</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>EmailsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recipientEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>kazim.zaidi@tkxel.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotifyBokkeepingTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAdditionalText</name>
        <label>AssignAdditionalText</label>
        <locationX>416</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>AdditionalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please verify everything has been correctly sent to Tax.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAdditionalText2</name>
        <label>AssignAdditionalText</label>
        <locationX>1018</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>AdditionalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please confirm everything has been transferred to the monthly bookkeeping team.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailExists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChangedEntity</name>
        <label>ChangedEntity?</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bookkeeper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bookkeeper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailExists2</targetReference>
            </connector>
            <label>Bookkeeper</label>
        </rules>
        <rules>
            <name>Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatus</targetReference>
            </connector>
            <label>Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatus</name>
        <label>CheckStatus</label>
        <locationX>560</locationX>
        <locationY>462</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_Sent_to_Tax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookkeepingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Sent to Tax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAdditionalText</targetReference>
            </connector>
            <label>Completed - Sent to Tax</label>
        </rules>
        <rules>
            <name>Completed_Moved_to_Ongoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookkeepingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Moved to Ongoing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAdditionalText2</targetReference>
            </connector>
            <label>Completed - Moved to Ongoing</label>
        </rules>
        <rules>
            <name>NoAddText</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BookkeepingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Financials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BookkeepingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Notes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BookkeepingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailExists</targetReference>
            </connector>
            <label>No Additional Text</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailExists</name>
        <label>EmailExists?</label>
        <locationX>852</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddtoEmailsList</targetReference>
            </connector>
            <label>Email Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailExists2</name>
        <label>EmailExists?</label>
        <locationX>324</locationX>
        <locationY>643</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_not_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotifyBookkeeper</targetReference>
            </connector>
            <label>Email not Null</label>
        </rules>
    </decisions>
    <description>This flow sends out an email Notification to bookkeepers and supervisors</description>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Set of Books - &quot;  + {!SOBName} + &quot; - &quot; + {!BookkeepingStage}</expression>
    </formulas>
    <interviewLabel>Bookkeeping - Notify Bookkeeper and Supervisor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bookkeeping - Notify Bookkeeper and Supervisor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Email</name>
        <label>Get User Email</label>
        <locationX>168</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangedEntity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>recipientEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>116</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_Email</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>BookkeeperTemplateV2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Recipient},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following Set of Books has been assigned to you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;https://platinum.force.com/aba/{!setOfBooksId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please click on the link above to view the record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for all that you do!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;best,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotifyBookkeeperTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Recipient},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This following Set of Books has been placed in {!BookkeepingStage}.&lt;/p&gt;&lt;p&gt;https://platinum.force.com/aba/{!setOfBooksId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Client: {!ClientName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!AdditionalText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for all that you do!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;best,&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AdditionalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookkeepingStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Entity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>setOfBooksId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOBName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
