flows/Bookkeeping_Set_of_Books_Update_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>SCH-0079</description>
    <interviewLabel>Bookkeeping - Set of Books - Update Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bookkeeping - Set of Books - Update Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetClient</name>
        <label>GetClient</label>
        <locationX>191</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Bookkeeper</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSetOfBooks.Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>E_Mail__c</queriedFields>
        <queriedFields>Other_E_Mail__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSetOfBooks</name>
        <label>GetSetOfBooks</label>
        <locationX>191</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetOfBooksId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Set_of_Books__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bookkeeper__c</queriedFields>
        <queriedFields>Bookkeeping_Reviewer__c</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Bookkeeper</name>
        <label>Lookup Bookkeeper</label>
        <locationX>360</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Bookkeeper_Reviewer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSetOfBooks.Bookkeeper__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e0B000000uLuCQAU</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>BookkeeperEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Bookkeeper_Reviewer</name>
        <label>Lookup Bookkeeper Reviewer</label>
        <locationX>533</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Set_Of_Books_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSetOfBooks.Bookkeeping_Reviewer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e0B000000uLuCQAU</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>BKReviewerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Set_Of_Books_Record</name>
        <label>Update Set Of Books Record</label>
        <locationX>684</locationX>
        <locationY>236</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetOfBooksId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Email__c</field>
            <value>
                <elementReference>GetClient.E_Mail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>GetClient.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Email__c</field>
            <value>
                <elementReference>GetClient.Other_E_Mail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bk_team_bk_email__c</field>
            <value>
                <elementReference>BookkeeperEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bk_team_bk_reviewer_email__c</field>
            <value>
                <elementReference>BKReviewerEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Set_of_Books__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetSetOfBooks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BKReviewerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookkeeperEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookkeeperId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookkeeperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookkeeperReviewerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookkeeperReviewerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JrBookkeeperEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JrBookkeeperId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JrBookkeeperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetOfBooksId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
