flows/Box_Listener_Create_Case_and_task.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetTaskStatus</name>
        <label>SetTaskStatus</label>
        <locationX>555</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>getOldTasksNotCompleted.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiple Tasks Generated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTaskStatus</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>asa</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>21.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>CharacterLimitReached_element</name>
        <label>CharacterLimitReached?</label>
        <locationX>919</locationX>
        <locationY>467</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CharacterLimitReached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTaskStatus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CharacterLimitReached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTaskRecords</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifCaseANDTaskExists</name>
        <label>ifCaseANDTaskExists</label>
        <locationX>555</locationX>
        <locationY>633</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>updateCaseandTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOldTasksNotCompleted</targetReference>
            </connector>
            <label>updateCaseandTask</label>
        </rules>
        <rules>
            <name>Create_Case_and_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewCase</targetReference>
            </connector>
            <label>Create Case and Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskExists</name>
        <label>TaskExists</label>
        <locationX>704</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOldTasksNotCompleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CharacterLimitReached_element</targetReference>
            </connector>
            <label>Task Present?</label>
        </rules>
        <rules>
            <name>Task_not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOldTasksNotCompleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTask</targetReference>
            </connector>
            <label>Task not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateNewCaseCreated</name>
        <label>ValidateNewCaseCreated</label>
        <locationX>1018</locationX>
        <locationY>634</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfNewCaseCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTask</targetReference>
            </connector>
            <label>IfNewCaseCreated</label>
        </rules>
    </decisions>
    <description>Change Request: New task will be created if description is at its limit</description>
    <environments>Default</environments>
    <formulas>
        <name>CharacterLimitReached</name>
        <dataType>Boolean</dataType>
        <expression>if(LEN({!getOldTasksNotCompleted.Description}) + LEN({!Description}) &gt;= 32000, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDate})+&apos;- &apos;+{!Filename} +&apos;  Uploaded to &apos;+ {!FolderName} +&apos;  folder&apos;</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;File Uploaded in Client&apos;s  &quot; +if({!BaseFoldername}!=&apos;&apos;, {!BaseFoldername},&apos;Other&apos;) +&quot; Folder&quot;</expression>
    </formulas>
    <formulas>
        <name>Wait</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/26)</expression>
    </formulas>
    <interviewLabel>Box Listener- Create Case and task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Box Listener- Create Case and task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNewCase</name>
        <label>CreateNewCase</label>
        <locationX>839</locationX>
        <locationY>625</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>ValidateNewCaseCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getFRUP.box__Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>BoxQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Box Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Coordinator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>box__FolderID__c</field>
            <value>
                <elementReference>FolderId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>949</locationX>
        <locationY>107</locationY>
        <connector>
            <targetReference>Box_Listener</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>getFRUP.box__Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>BoxQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getFRUP</name>
        <label>getFRUP</label>
        <locationX>65</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>box__Folder_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FolderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>box__FRUP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOldCases</name>
        <label>getOldCases</label>
        <locationX>353</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifCaseANDTaskExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFRUP.box__Record_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Box Notification</stringValue>
            </value>
        </filters>
        <filters>
            <field>box__FolderID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FolderId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOldTasksNotCompleted</name>
        <label>getOldTasksNotCompleted</label>
        <locationX>436</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TaskExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Multiple Tasks Generated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Box_Listener</name>
        <label>Box Listener</label>
        <locationX>1293</locationX>
        <locationY>323</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BoxListnerREcordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Processed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Box_Listener__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTaskRecords</name>
        <label>UpdateTaskRecords</label>
        <locationX>1183</locationX>
        <locationY>488</locationY>
        <connector>
            <targetReference>Box_Listener</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOldTasksNotCompleted.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AddCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTaskStatus</name>
        <label>UpdateTaskStatus</label>
        <locationX>585</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <inputReference>getOldTasksNotCompleted</inputReference>
    </recordUpdates>
    <start>
        <locationX>162</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getFRUP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>157</locationX>
        <locationY>588</locationY>
        <connector>
            <targetReference>getOldCases</targetReference>
        </connector>
        <flowName>Account_Get_Primary_contact_flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>getFRUP.box__Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <name>ConatctID</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>AddCaseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!getOldTasksNotCompleted.Description}
{!Description}</text>
    </textTemplates>
    <variables>
        <name>ads</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>asdf</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>21.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BaseFoldername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BoxListnerREcordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BoxQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G6f000005wBri</stringValue>
        </value>
    </variables>
    <variables>
        <name>caserecod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0126f000001lF9rAAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Box Updated</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FolderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FolderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopvariable</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>This case is to notify if a file is uploaded in Box</description>
        <name>NewCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>This an automated case created when the client uploads document in the Viewable client folder. Please Check the task description for the folder information.</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Box Created</stringValue>
        </value>
    </variables>
    <variables>
        <name>qazws</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TaskRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012U0000000g5s9IAA</stringValue>
        </value>
    </variables>
</Flow>
