flows/BuildCampaignMemeber_platform_event_Create_Campaign_member.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>Check if Sales Rep field has a value</description>
        <name>Check_if_Sales_Rep_Present</name>
        <label>Check if Sales Rep Present</label>
        <locationX>548</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Create_campaign_Member_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Rep_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_campaign_Member</targetReference>
            </connector>
            <label>Sales Rep Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundCM</name>
        <label>FoundCM?</label>
        <locationX>331</locationX>
        <locationY>258</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Campaign_Member_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Sales_Rep_Present</targetReference>
            </connector>
            <label>No Campaign Member found</label>
        </rules>
    </decisions>
    <interviewLabel>Campaign Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BuildCampaignMemeber platform event- Create Campaign member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_campaign_Member</name>
        <label>Create campaign Member</label>
        <locationX>557</locationX>
        <locationY>505</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.CampaignId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventBright_Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_campaign_Member_0</name>
        <label>Create campaign Member</label>
        <locationX>795</locationX>
        <locationY>256</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.CampaignId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Campaign_Member</name>
        <label>Find Campaign Member</label>
        <locationX>174</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundCM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CampaignID</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Campaign_Member</targetReference>
        </connector>
        <object>BuildCampaignMember__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
