flows/CalendlyAction_BeforeSave_Client_Finder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Found_Client_Email</name>
        <label>Found Client Email?</label>
        <locationX>254</locationX>
        <locationY>412</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Against_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Put_AccId_on_CalendlyAction</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>CalendlyAction - BeforeSave Client Finder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CalendlyAction - BeforeSave Client Finder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Against_Email</name>
        <label>Search Against Email</label>
        <locationX>249</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Client_Email</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>E_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Other_E_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Spouse_E_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Spouse_Other_E_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Put_AccId_on_CalendlyAction</name>
        <label>Put AccId on CalendlyAction</label>
        <locationX>542</locationX>
        <locationY>338</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendlyAction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>Search_Against_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CalendlyAction__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>126</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>Search_Against_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CalendlyAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendlyAction__c</objectType>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
