flows/Campaign_Member_Send_Credit_Card_Decline_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>X30_Day_Notice</name>
        <label>30 Day Notice</label>
        <locationX>436</locationX>
        <locationY>592</locationY>
        <actionName>CampaignMember.Emails_Contact_30_days_before_card_expiration</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Log_Email_on_Contact_30</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X60_Day_Notice</name>
        <label>60 Day Notice</label>
        <locationX>662</locationX>
        <locationY>590</locationY>
        <actionName>CampaignMember.Emails_Contact_60_days_before_card_expiration</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Log_Email_on_Contact_60</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X7_Day_Notice</name>
        <label>7 Day Notice</label>
        <locationX>208</locationX>
        <locationY>586</locationY>
        <actionName>CampaignMember.Emails_Contact_7_days_before_card_expiration</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Log_Email_on_Contact_7</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>How_many_Days_until_Expiration</name>
        <label>How many Days until Expiration?</label>
        <locationX>425</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expires_in_7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CampaignId7Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_Day_Notice</targetReference>
            </connector>
            <label>Expires in 7 Days</label>
        </rules>
        <rules>
            <name>Expires_in_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CampaignId30Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X30_Day_Notice</targetReference>
            </connector>
            <label>Expires in 30 Days</label>
        </rules>
        <rules>
            <name>Expires_in_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CampaignId60Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X60_Day_Notice</targetReference>
            </connector>
            <label>Expires in 60 Days</label>
        </rules>
    </decisions>
    <interviewLabel>Campaign Member - Send Credit Card Decline Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Member - Send Credit Card Decline Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Email_on_Contact_30</name>
        <label>Log Email on Contact 30</label>
        <locationX>431</locationX>
        <locationY>749</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>An email was sent to this contact alerting them that their Platinum credit card would expire in 30 days.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Automatic Email: Platinum Card Expires in 30 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_on_Contact_60</name>
        <label>Log Email on Contact 60</label>
        <locationX>671</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>An email was sent to this contact alerting them that their Platinum credit card would expire in 60 days.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Automatic Email: Platinum Card Expires in 60 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_on_Contact_7</name>
        <label>Log Email on Contact 7</label>
        <locationX>195</locationX>
        <locationY>747</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>An email was sent to this contact alerting them that their Platinum credit card would expire in 7 days.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Automatic Email: Platinum Card Expires in 7 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>310</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>How_many_Days_until_Expiration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Days_Until_Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-09-03</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignId30Days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7016f000002GBiDAAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>CampaignId60Days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7016f000002GBi8AAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>CampaignId7Days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7016f000002GBiSAAW</stringValue>
        </value>
    </variables>
</Flow>
