flows/Case_Email_Signature_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_the_Email_Signature</name>
        <label>Update the Email Signature</label>
        <locationX>576</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntityComplianceEMailSignature</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_the_Email_Signature_0</name>
        <label>Update the Email Signature</label>
        <locationX>576</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxSupport</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_the_Email_Signature_0_0</name>
        <label>Update the Email Signature</label>
        <locationX>578</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>platinumcaresES</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_the_Email_Signature_0_0_0</name>
        <label>Update the Email Signature</label>
        <locationX>576</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salessupportES</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_the_Email_Signature_0_0_0_0</name>
        <label>Update the Email Signature</label>
        <locationX>557</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initialconsult</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Email_Signature_Assignment</name>
        <label>Email Signature Assignment</label>
        <locationX>89</locationX>
        <locationY>508</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Taxprep_support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G6f000004jLyHEAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Email_Signature_0</targetReference>
            </connector>
            <label>Taxprep support</label>
        </rules>
        <rules>
            <name>Entity_Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G6f000004jLebEAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Email_Signature</targetReference>
            </connector>
            <label>Entity Compliance</label>
        </rules>
        <rules>
            <name>Platinum_Cares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G6f000004jLyMEAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Email_Signature_0_0</targetReference>
            </connector>
            <label>Platinum Cares</label>
        </rules>
        <rules>
            <name>Sales_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G6f000004jLyREAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Email_Signature_0_0_0</targetReference>
            </connector>
            <label>Sales Support</label>
        </rules>
        <rules>
            <name>Initial_Consult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G6f000004jLyWEAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Email_Signature_0_0_0_0</targetReference>
            </connector>
            <label>Initial Consult</label>
        </rules>
    </decisions>
    <interviewLabel>Case - Email Signature Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Email Signature Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Email_Signature_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126f000001Yqv1AAC</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EntityComplianceEMailSignature</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;184&quot;&gt;&lt;col width=&quot;428&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:86.5pt&quot;&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:100px;height:100px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/BwjUiQrKIAAUULY6__5u3UCNfQGjABZ_YoS7j170GvdYxxv0U2IkRAfINBk9TnfWmgyVlnA5ZuCrKzjSA7P6isZiM-eLbW3SC4L2bDUOh7tzmfgbwUrobk_szKOa0Lyeu1Se_g04&quot; width=&quot;100&quot; height=&quot;100&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;&quot;&gt;&lt;span style=&quot;font-size: 19.5pt; font-family: Arial; color: rgb(102, 105, 104); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;ENTITY COMPLIANCE SUPPORT&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt; padding: 8pt 0pt 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;800.706.4741&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;702.664.0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:45.25pt&quot;&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:171px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh4.googleusercontent.com/YFd43H8eYp9X-VgYPYAxzKaTjkcQvmGJH-_S-Yn_K9AYxrKtQJV9Mm9XGoAb8vfDSYLhTMBMW1ENPcxPv61fn9b8sAZfSdySGZxe1St5O_QVV8zItkyCszg_LeZLXnUlzGsrZD8F&quot; width=&quot;171&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Drive, Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt; padding: 0pt 0pt 7.5pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(82, 88, 95); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:71.25pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;background-color:#ffffff;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:280px;height:80px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh5.googleusercontent.com/LkuzzJXAkxMRxee2LyCpCIw1XOsYmJOU384xMBtbgMrRf18W9tDSxsi6NunPanodLfz9qUi6G_0VFnZ3-6eYCeLFyThIirbj1Kc29kyNPe0d1A2PdjQuOdJ6kRnw6q3bQHwMdifO&quot; width=&quot;280&quot; height=&quot;80&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh4.googleusercontent.com/0IR5fMqFKOVkW7uyic1bEO41a70edK4ldoA9sZLxyxF2Ttym2tVAMkm7XYeQ_VbVdNOTPRCrwwNtWxiFzTYChtzuMY2IgDJFWlXSMk7iW9PKKPi6sZ37xv5kcb7EdEmyRsDP05WV&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh5.googleusercontent.com/XklEoMzg__T79l-YD8BLjOZwhaGr8VkOk30uhtctjdBXzWJlDVck7MjgYuXKrayL5OjOu5CPcziI8aJeUQ_784ejwEr7kvbL4oKE9BA7utkHK9tSj-iFOegGs51QCTYdXmt36vwk&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:0pt 3pt 0pt 3pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:0.9818181818181818;text-align: justify;background-color:#ffffff;margin-top:8pt;margin-bottom:8pt;&quot;&gt;&lt;span style=&quot;font-size: 7.5pt; font-family: Roboto, sans-serif; color: rgb(51, 51, 51); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;DISCLAIMERS: If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>initialconsult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;194&quot;&gt;&lt;col width=&quot;418&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:86.5pt&quot;&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:100px;height:100px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh3.googleusercontent.com/emls9LujBXDUA5ZDAbvw5yh0L35lgSG3iND3g_IB14T2JYtV3UIebj2R-v2IP4WOZoX0N8mOUokYksgYTHmGPilpbYtZCgbO-5Aif5ydQ34cM41VeXsffjzmbBd2KYlcsenyWHuA&quot; width=&quot;100&quot; height=&quot;100&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;&quot;&gt;&lt;span style=&quot;font-size: 19.5pt; font-family: Arial; color: rgb(102, 105, 104); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;INITIAL CONSULT SUPPORT&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt; padding: 8pt 0pt 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;800.706.4741&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;702.664.0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:45.25pt&quot;&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:171px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh5.googleusercontent.com/Zic5Pb2Uv2b82ood9o5qgp9c1mSP9FCkUZQOgl-hHqi04ByW1BywrzwzrR-biiUSi1k7BzggV8cxXDgqcUn7znohavpk2Xgz_yPKnDNnT38n77nGY4T_jrFdNugmsrnnusbkgJlx&quot; width=&quot;171&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Drive, Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt; padding: 0pt 0pt 7.5pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(82, 88, 95); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:71.25pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;background-color:#ffffff;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:280px;height:80px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh3.googleusercontent.com/F28j9zJH8Kn_Zk5jb6_2ZIOi9FjrUMxAXHHF2eF7ONQcahpm9-6jQKOyu6MIkYpXKTBVLLyw64dhVT46sbBTaCROCBUfjPFw1_wc-sK7a1IhNcAmFx9iCrDTcLidSO14dehJT15z&quot; width=&quot;280&quot; height=&quot;80&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/r8cV8YCAoTU0C2wG9OvDg8a91F-HUZiia1nWxOgrD-tqEtDvfRFNYXsOsR7W7CtteRLnvxqXUsV6iIVcu1ZZE0eIhyRhL8SPIiW3wVf7Y1QhB_6PW0Dx-K8xVS2A4Tm7qQT__K7u&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/xVxchb1Z4GH30nSZld6jWM65he5wXCWJbIztwYtHEJzUVCzFEsooWS0JKf8YdzXAjmG-MqGpAja2LS7XySsZuFUMTrVotr-T5LWVJikehxDg6jQaLxAl6Q1LOUiWssEfBfdRyPWF&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:0pt 3pt 0pt 3pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:0.9818181818181818;text-align: justify;background-color:#ffffff;margin-top:8pt;margin-bottom:8pt;&quot;&gt;&lt;span style=&quot;font-size: 7.5pt; font-family: Roboto, sans-serif; color: rgb(51, 51, 51); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;DISCLAIMERS: If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>platinumcaresES</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;161&quot;&gt;&lt;col width=&quot;310&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:69.45263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 36pt;text-align: center;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 13.5pt; font-family: Arial; color: rgb(36, 39, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:91px;height:79px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/XF47KYb5KTogQhrJzWRskrXiITbo__pSFkBtQbetAJWVA1QZbh8M8qFTkQ2Bl7G_Cap-_OFyAG5zEVDOT81oxQ9m986VjR2YgFvCPHowfn8f2wnjsN5NHECgihdOwojIC6sCKW2G&quot; width=&quot;91&quot; height=&quot;79&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 19pt; font-family: Arial; color: rgb(102, 105, 104); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;PLATINUM CARES&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:8pt 0pt 4pt 0pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;800.706.4741&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;702.664.0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:37.20263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:148px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh4.googleusercontent.com/1bYNCjZeys_cqCyERJ4NCtsdVRCCANukq8vLQQF6sNdMcy5fji81rF_aS2KkbOwvpSOuRY1KXjlsnrsKhVXlKIUnh-V5FJWbAbtkGVFNNWhJnU1zopq-AaMfanz3QuH4cgEYP6OH&quot; width=&quot;148&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;​​&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Dr.,Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60.75pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:277px;height:54px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh5.googleusercontent.com/aO6XpdS73YOU6ElkRmQ7ppzHu_wv90q_3ZajbqX7wYHm08XmGBaI3_UcHzjUaOw0DP_Zke3z-NJM6WczZtVouU7QwPD0S9ze4plzBBjG-e3SrP7y93eygLz1BBOeUmu9f6KUQfZQ&quot; width=&quot;277&quot; height=&quot;54&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/w9BuvtYSlJaVjMcFzc8KTw1AE4Rn7xqKBtC7nnbPwSIul5EpmU4PWSe015hfBH5vwSidmR5n812k8IJDcPqzSYb3_6TbqJ9yzKvDTneDWqZOb2LpW4Dd2jJCH6Sv6udBSlCdcbDp&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/r3Fb2uj2QRgyDtYRVlDcwAzRLgc6xsIPen_vznKb0eGpheGyAnbw0odI15wp6yKmo51_ZziCtMgrIwprGO6sGE4WCyCP-9-6FkOJJLIVcsAzcApXDUc1aiAA2T1owPr6BdcBEga7&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>salessupportES</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;215&quot;&gt;&lt;col width=&quot;397&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:86.5pt&quot;&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:100px;height:100px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh4.googleusercontent.com/WrACu69poYPDKX3r2nYNiGYOT71ZBOxWaQRu89VcMpxfTQctXtX-geYqZ4-puZ_KzvJHk4xy5MyyYbt87i652CJW_cI5HntFe9rRIvXy1bq3hIEfZnPCWAEA27KmR973RQ980_0X&quot; width=&quot;100&quot; height=&quot;100&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;&quot;&gt;&lt;span style=&quot;font-size: 19.5pt; font-family: Arial; color: rgb(102, 105, 104); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;SALES SUPPORT&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt; padding: 8pt 0pt 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;800.706.4714&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;702.664.0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:45.25pt&quot;&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:171px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh3.googleusercontent.com/IcbusF1cp9-XCkJ5PKdqha4CbbHHRyjpEHrx9fhXrx5nccXVQg0RUCT_QWj_TezICRr3itEzzGrmCNACp6KUKlPa2jBTSPh4fDGIv_D1ewwNdHh8OL0va-rUBoxosuJglyw90ST7&quot; width=&quot;171&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Drive, Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt; padding: 0pt 0pt 7.5pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(82, 88, 95); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:71.25pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;background-color:#ffffff;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:280px;height:80px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh6.googleusercontent.com/NXNZkG4tnORU9c57ennzbQXwjrycPRJ3ZUmX7_6zwp5pGzZYyU2IRdAuXJScBCKIly1FNpDxSRHaAxu39V4Pc9eQPPyX7APr9vHsaGKtOPFqPzbIVyKrxSKyZTc9wrafhlNHH1v6&quot; width=&quot;280&quot; height=&quot;80&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/SLOU7n_nnawBGO-qj0c49FY1U6Q7mj8WS-6T2UxT0R7pHi2zYO49uNeHAKJvp1NQwrLBFoY0CXypz6tpZ0eDm0SqjxC2cY8R8rGR7nb-XSrdI7qADyeoUL8aM1gQZGukwILDqisA&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh5.googleusercontent.com/365083xhenIP8hTwh685SwwaW1mE12qmT2erYnFsJ3mHfv8ciKKSVtWWyPahxr7yD-tQUhxOueF1VZRes4Z-uQmssbJYLX6ODU3PeltpgnKcOx0PkRAKF-hAtRsinJL8qeFDzR8e&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaxSupport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;190&quot;&gt;&lt;col width=&quot;422&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:86.5pt&quot;&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:100px;height:100px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/LGJkHYtpuZ29ALfBDT1D-a2S8ZATL5cOhV0mLLLywVfr9_UaSiE7nH16JBmsujV-dykYlFEr83J5lUinek_5f6elt_Oyhh6q3ZxybWqWES7cl__XJRSXv2KOnatq-bcI1lCykIp2&quot; width=&quot;100&quot; height=&quot;100&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;&quot;&gt;&lt;span style=&quot;font-size: 19.5pt; font-family: Arial; color: rgb(102, 105, 104); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;TAX PREPARATION SUPPORT&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt; padding: 8pt 0pt 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;800.706.4741&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;702.664.0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:45.25pt&quot;&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:171px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh6.googleusercontent.com/VZcCu7_hFyVq0FrVIgndm74UsapjwuoQN9-JePrGoJ17UreU2YCorF__OKNOXXPmNWKUJxiIVsXIn5A9SZ6o5SqiGWOs0fJR8aeYi6P1cUSNS_81dqWIaph2ZUo-03yZ3sAMwi_H&quot; width=&quot;171&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 4pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Drive, Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt; padding: 0pt 0pt 7.5pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(82, 88, 95); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:71.25pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;background-color:#ffffff;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height: 1.2; margin-top: 0pt; margin-bottom: 12pt;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:280px;height:80px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh6.googleusercontent.com/xeUB3Z3f_E5uNNAOBNJyLBrGcea33XCsaf2AA8DSJaGzrNJbttwGV1EGF6krigE_Pl_W71KoYjrvc_6TxuLcAXqLwB18o3CZVNAr_s8uge3R-_XRSBoQhkY6JIFejYc0N3hcTRzW&quot; width=&quot;280&quot; height=&quot;80&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh4.googleusercontent.com/pPoxCdF1I5u6s7iFxgRd3j77zBgip7vXm6-26b7HFarlKw2TTGtIwjHe5OE_rHWcmE8OmD9aWlPH24LnljhSdMEvWQ_LwJreffi5u8INqZRGCW_ba-Rnt5G5NwY59vEAjMSQsUJJ&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(32, 33, 36); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/mf3JMwTJwvy147TtYOcCJDc17BRR-wCGEyT7pypsxEnqAA7kmmGquBdRf7kRpcBOtcX5PN-jk3jGVktyh4mGI1df7t0IWFZbj7omaDdYejjNOvlBx0MehZ3uUtckUcrEVM1HjI5r&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:0pt 3pt 0pt 3pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:0.9818181818181818;text-align: justify;background-color:#ffffff;margin-top:8pt;margin-bottom:8pt;&quot;&gt;&lt;span style=&quot;font-size: 7.5pt; font-family: Roboto, sans-serif; color: rgb(51, 51, 51); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;DISCLAIMERS: If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
