flows/Case_Reopen_the_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Reassign_the_Case</name>
        <label>Reassign the Case ?</label>
        <locationX>160</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reassign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_0</targetReference>
            </connector>
            <label>Reassign</label>
        </rules>
        <rules>
            <name>Do_not_Reassign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDays</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case</targetReference>
            </connector>
            <label>Do not Reassign</label>
        </rules>
    </decisions>
    <formulas>
        <name>OwnerIDAssignement</name>
        <dataType>String</dataType>
        <expression>If(CONTAINS({!EmailAddress},&quot;entitycompliance&quot;),&quot;00G6f000004jLeb&quot;,
  IF( CONTAINS({!EmailAddress},&quot;taxprepsupport&quot;),&quot;00G6f000004jLyH&quot;,
   IF( CONTAINS({!EmailAddress},&quot;platinumcares&quot;),&quot;00G6f000004jLyM&quot;,
	IF( CONTAINS({!EmailAddress},&quot;salessupport&quot;),&quot;00G6f000004jLyR&quot;,
	IF(CONTAINS({!EmailAddress},&quot;initialconsult&quot;),&quot;00G6f000004jLyW&quot;,&quot;&quot;)))))</expression>
    </formulas>
    <interviewLabel>Case - Reopen the Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Reopen the Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>544</locationX>
        <locationY>315</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_0</name>
        <label>Update case</label>
        <locationX>245</locationX>
        <locationY>578</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDAssignement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Reassign_the_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
