flows/Contact_Create_New_NPS_Feedback_Survey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_dupes</name>
        <label>Check for dupes</label>
        <locationX>438</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>Create_NPS_Feedback_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No dupes</defaultConnectorLabel>
        <rules>
            <name>Already_provided_NPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeedbackId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Already provided NPS?</label>
        </rules>
    </decisions>
    <formulas>
        <name>NowMinus50Minutes</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 50 * (1/24/60)</expression>
    </formulas>
    <formulas>
        <name>todayMinus120</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 120</expression>
    </formulas>
    <interviewLabel>Contact - Create New NPS Feedback Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Create New NPS Feedback Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_NPS_Feedback_Record</name>
        <label>Create NPS Feedback Record</label>
        <locationX>752</locationX>
        <locationY>415</locationY>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Source__c</field>
            <value>
                <stringValue>Hubspot NPS Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Rating__c</field>
            <value>
                <elementReference>Get_Contact.Last_NPS_survey_rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>NPS Survey Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050B000006naqr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126f000001QfV8AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>Get_Contact.Last_NPS_survey_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Comments__c</field>
            <value>
                <elementReference>Get_Contact.Last_NPS_survey_comment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Feedback_WIthin_4_months</name>
        <label>Find Existing Feedback WIthin 4 months</label>
        <locationX>320</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_dupes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126f000001QfV8AAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>todayMinus120</elementReference>
            </value>
        </filters>
        <object>Feedback__c</object>
        <outputAssignments>
            <assignToReference>FeedbackId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>173</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Feedback_WIthin_4_months</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>41</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Wait_10_Minutes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FeedbackId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_10_Minutes</name>
        <label>Wait 10 Minutes</label>
        <locationX>166</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>X10_Minutes_Elapsed</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>NowMinus50Minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>10 Minutes Elapsed</label>
        </waitEvents>
    </waits>
</Flow>
