flows/Entity_Future_Planned_or_Missing_Info_Task_Reassignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Future_Planned_Or_Missing_Info</name>
        <label>Future Planned Or Missing Info</label>
        <locationX>407</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>TaskId_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>TaskId is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Decision</name>
        <label>Status Decision</label>
        <locationX>801</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Expedite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntityStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expedited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expedite_Update</targetReference>
            </connector>
            <label>Expedite</label>
        </rules>
        <rules>
            <name>Sent_to_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntityStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent To Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntityType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_to_Processing_Update</targetReference>
            </connector>
            <label>Sent to Processing</label>
        </rules>
        <rules>
            <name>Sent_to_Tacoma_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntityStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent To Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_to_Tacoma_Update</targetReference>
            </connector>
            <label>Sent to Tacoma</label>
        </rules>
    </decisions>
    <formulas>
        <name>ActiveCAM</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CAMId}), &quot;&quot;, {!CAM})</expression>
    </formulas>
    <formulas>
        <name>CAMsansChristina</name>
        <dataType>String</dataType>
        <expression>IF({!CAM} = &quot;Christina Brown&quot;, null, {!CAM})</expression>
    </formulas>
    <formulas>
        <name>CaseVEntity</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CaseId}), {!EntityId}, {!CaseId})</expression>
    </formulas>
    <formulas>
        <name>csrName</name>
        <dataType>String</dataType>
        <expression>{!CSRFirstName} + &quot; &quot; + {!CSRLastName}</expression>
    </formulas>
    <formulas>
        <name>CSRorAA</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!CSRId}),
&quot;005U0000001DC1y&quot;,
{!CSRId}
)</expression>
    </formulas>
    <formulas>
        <name>ExpeditedFiling</name>
        <dataType>String</dataType>
        <expression>{!EntityType} + &quot; Filing - EXPEDITED&quot;</expression>
    </formulas>
    <formulas>
        <name>NormalFiling</name>
        <dataType>String</dataType>
        <expression>{!EntityType} + &quot; Filing&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskIdorTaskId2</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!TaskId}), {!TaskId2}, {!TaskId})</expression>
    </formulas>
    <interviewLabel>Entity Future Planned or Missing Info Task Reassignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entity Future Planned or Missing Info Task Reassignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_CAM</name>
        <label>Find CAM</label>
        <locationX>492</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAM</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e0B000000uLuC</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CAMId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>186</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CAM</assignToReference>
            <field>Assigned_CAM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LawCoordinator</assignToReference>
            <field>Assigned_CSR__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>189</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Future_Planned_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Roles__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Entity</name>
        <label>Lookup Entity</label>
        <locationX>178</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntityId</elementReference>
            </value>
        </filters>
        <object>Entities__c</object>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>Primary_Client__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TacomaRandomAssignment</assignToReference>
            <field>Rand__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntityStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntityType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Future_Planned_Task</name>
        <label>Lookup Future Planned Task</label>
        <locationX>191</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Missing_Filing_Info_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Future Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseVEntity</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>TaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Missing_Filing_Info_Task</name>
        <label>Lookup Missing Filing Info Task</label>
        <locationX>195</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_CAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing Filing Info</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseVEntity</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>TaskId2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Expedite_Update</name>
        <label>Expedite Update</label>
        <locationX>589</locationX>
        <locationY>158</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskIdorTaskId2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CAM__c</field>
            <value>
                <elementReference>ActiveCAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSR__c</field>
            <value>
                <elementReference>LawCoordinator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_connect__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005U0000001DC1y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Stage__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120B000000t7pp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Entity__c</field>
            <value>
                <elementReference>EntityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ExpeditedFiling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseVEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sent_to_Processing_Update</name>
        <label>Sent to Processing Update</label>
        <locationX>792</locationX>
        <locationY>57</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskIdorTaskId2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CAM__c</field>
            <value>
                <elementReference>ActiveCAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSR__c</field>
            <value>
                <elementReference>LawCoordinator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_connect__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005U0000001DC1y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Stage__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120B000000t7pp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Entity__c</field>
            <value>
                <elementReference>EntityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NormalFiling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseVEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sent_to_Tacoma_Update</name>
        <label>Sent to Tacoma Update</label>
        <locationX>1044</locationX>
        <locationY>173</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskIdorTaskId2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CAM__c</field>
            <value>
                <elementReference>ActiveCAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSR__c</field>
            <value>
                <elementReference>LawCoordinator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_connect__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TacomaRandomAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Stage__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120B000000t7pp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Entity__c</field>
            <value>
                <elementReference>EntityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NormalFiling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseVEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Entity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CAMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CSRFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CSRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CSRLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LawCoordinator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TacomaRandomAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
