flows/Entitlement_Ticket_Separation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AsnTicketCount</name>
        <label>AsnTicketCount</label>
        <locationX>439</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>varTicketCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNumberOfTickets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Entitlement</name>
        <label>Create Entitlement</label>
        <locationX>674</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>TmpEntitlement.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpEntitlement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpEntitlement.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpEntitlement.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpEntitlement.Ticket_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpEntitlement.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrement_Counter</name>
        <label>Decrement Counter</label>
        <locationX>890</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>varTicketCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmDecrementCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Entitlement_Collection</name>
        <label>Entitlement Collection</label>
        <locationX>890</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>recCollVarEntitlement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TmpEntitlement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrement_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Ticket</name>
        <label>Create Ticket?</label>
        <locationX>666</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>Insert_Entitlements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTicketCounter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTicketCounter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Entitlement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>EntitlementName</name>
        <dataType>String</dataType>
        <expression>&quot;Ticket &quot;  +  TEXT({!varTicketCounter}) + &quot; of&quot; + &quot; &quot; + TEXT({!TotalNumberOfTickets}) +  &quot; - &quot;  + SUBSTITUTE({!Get_Entitlement.Name},&quot;(&quot;+TEXT({!TotalNumberOfTickets})+&quot;)&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmDecrementCounter</name>
        <dataType>Number</dataType>
        <expression>{!varTicketCounter} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalNumberOfTickets</name>
        <dataType>Number</dataType>
        <expression>Value(MID({!Get_Entitlement.Name},
    FIND(&quot;(&quot;,{!Get_Entitlement.Name})+LEN(&quot;(&quot;)
    ,FIND(&quot;)&quot;,{!Get_Entitlement.Name}) - FIND(&quot;(&quot;,{!Get_Entitlement.Name}) - LEN(&quot;(&quot;)
))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Entitlement - Ticket Separation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entitlement - Ticket Separation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Entitlements</name>
        <label>Insert Entitlements</label>
        <locationX>674</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>Delete_Orig_Entitlement</targetReference>
        </connector>
        <inputReference>recCollVarEntitlement</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Orig_Entitlement</name>
        <label>Delete Orig Entitlement</label>
        <locationX>901</locationX>
        <locationY>127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>185</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsnTicketCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntitlementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>62</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Get_Entitlement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recCollVarEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>TmpEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>varTicketCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
