flows/Entities_Funding_Task_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Entities_Funding_Task_Email</name>
        <label>Entities -Funding Task Email</label>
        <locationX>675</locationX>
        <locationY>204</locationY>
        <actionName>Entities__c.Entities_Funding_Task_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PContact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>EnId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Entities_Funding_Task_Email_0</name>
        <label>Entities -Funding Task Email</label>
        <locationX>664</locationX>
        <locationY>436</locationY>
        <actionName>Entities__c.Entities_Funding_Task_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PContact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>EnId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_if_Date_is_present</name>
        <label>Check if Date is present</label>
        <locationX>124</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pause_date_shipped_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateShiped</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_DataLoad</targetReference>
            </connector>
            <label>Pause date shipped Present</label>
        </rules>
        <rules>
            <name>Pause_Filed_Deed_Date_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FiledDeedSenttoClient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_DataLoad_0</targetReference>
            </connector>
            <label>Pause Filed Deed Date present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTask</name>
        <label>CheckTask</label>
        <locationX>1121</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_DataLoad</name>
        <label>If DataLoad</label>
        <locationX>273</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>Pause_the_flow_5_days_from_the_date_shipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Blast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataLoad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entities_Funding_Task_Email</targetReference>
            </connector>
            <label>Email Blast ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_DataLoad_0</name>
        <label>If DataLoad</label>
        <locationX>162</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Pause_the_flow_5_days_from_the_date_shipped_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Blast_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataLoad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entities_Funding_Task_Email_0</targetReference>
            </connector>
            <label>Email Blast ?</label>
        </rules>
    </decisions>
    <description>change subject</description>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today()+10</expression>
    </formulas>
    <interviewLabel>Entities -Funding Task Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entities -Funding Task Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1062</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056f00000AHrCuAAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Stage__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000g5s9IAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Completion Forum Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>PContact.ConatctID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetTaskRecord</name>
        <label>GetTaskRecord</label>
        <locationX>988</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Funding Forum Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>55</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Check_if_Date_is_present</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>PContact</name>
        <label>GetPrimaryContact</label>
        <locationX>813</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>GetTaskRecord</targetReference>
        </connector>
        <flowName>Account_Get_Primary_contact_flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Comments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!EnName}- This is an automated task that has been created when {!EnName} ship date was Added.</text>
    </textTemplates>
    <variables>
        <name>AccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataLoad</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateShiped</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FiledDeedSenttoClient</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_the_flow_5_days_from_the_date_shipped</name>
        <label>Pause the flow 5 days from the date shipped</label>
        <locationX>438</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_5_days</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Entities_Funding_Task_Email</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>DateShiped</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Pause 5 days</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_the_flow_5_days_from_the_date_shipped_0</name>
        <label>Pause the flow 5 days from the date shipped</label>
        <locationX>399</locationX>
        <locationY>641</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_5_days_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Entities_Funding_Task_Email_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>FiledDeedSenttoClient</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Pause 5 days</label>
        </waitEvents>
    </waits>
</Flow>
