flows/Entity_Mailing_Services_Renewal_Sale.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Add_Nominee</name>
        <label>Add Nominee?</label>
        <locationX>1427</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.Nominee_Services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nominee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Entity.Nominee_Services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corp Nom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Nominee_OLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mailing_Services_Type</name>
        <label>Mailing Services Type</label>
        <locationX>266</locationX>
        <locationY>443</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>CAP</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.Mailing_Services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Headquarters</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Entity.Mailing_Services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Assistance Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GreenHQ</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_CAP_Sale</targetReference>
            </connector>
            <label>CAP</label>
        </rules>
        <rules>
            <name>Mail_Forwarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.Mailing_Services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mail Forwarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GreenHQ</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Mail_Forwarding_Sale</targetReference>
            </connector>
            <label>Mail Forwarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sale_exists</name>
        <label>Sale exists?</label>
        <locationX>816</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Create_CAP_Sale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_CAP_Sale</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sale_Entity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sale_exists_0</name>
        <label>Sale exists?</label>
        <locationX>587</locationX>
        <locationY>776</locationY>
        <defaultConnector>
            <targetReference>Create_Mail_Forwarding_Sale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Mail_Forwarding_Sale</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_OLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>EntityType</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Entity.RecordTypeId},
&quot;012U0000000DE8mIAG&quot;, &quot;LLC&quot;,
&quot;012U0000000DE8S&quot;, &quot;Corp&quot;,
&quot;012U0000000DE8rIAG&quot;, &quot;LP&quot;,
&quot;LLC&quot;)</expression>
    </formulas>
    <formulas>
        <name>GreenHQ</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND( 
NOT(ISBLANK({!Get_Account.Green_Corp_HQ_Date__c})), 
TODAY() &lt; ({!Get_Account.Green_Corp_HQ_Date__c} + 730), 
ISBLANK({!Get_Account.Nexus_Current__c})),
TRUE,
FALSE)</expression>
    </formulas>
    <formulas>
        <name>OrgDateMonthEnd</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR( {!Get_Entity.Organizational_Date__c}),MONTH( {!Get_Entity.Organizational_Date__c}), 01), 1) - 1</expression>
    </formulas>
    <formulas>
        <name>OrgDateMonthEnd_Plus1Year</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR( {!Get_Entity.Organizational_Date__c})+1,MONTH( {!Get_Entity.Organizational_Date__c}), 01), 1) - 1</expression>
    </formulas>
    <formulas>
        <name>OrgDateMonthEnd_Plus1Year_Plus1Day</name>
        <dataType>Date</dataType>
        <expression>{!OrgDateMonthEnd_Plus1Year} + 1</expression>
    </formulas>
    <formulas>
        <name>OrgDateMonthEnd_Plus2Years</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR( {!Get_Entity.Organizational_Date__c})+2,MONTH( {!Get_Entity.Organizational_Date__c}), 01), 1) - 1</expression>
    </formulas>
    <formulas>
        <name>PriceAdd250</name>
        <dataType>Number</dataType>
        <expression>{!Get_Current_OLI.TotalPrice}+ 250</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QuantityAddOne</name>
        <dataType>Number</dataType>
        <expression>{!Get_Current_OLI.Quantity}+ 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Entity - Mailing Services - Renewal Sale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entity - Mailing Services - Renewal Sale</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Nominee_OLI</name>
        <label>Add Nominee OLI</label>
        <locationX>1662</locationX>
        <locationY>221</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_CAP_Sale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u4P00000tC0tiQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4P000007ZsyK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>297.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_OLI_CAP</name>
        <label>Add OLI CAP</label>
        <locationX>1435</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Add_Nominee</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_CAP_Sale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u4P00000tBxCyQAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4P000007ZoKn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CAP_Sale</name>
        <label>Create CAP Sale</label>
        <locationX>1047</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>New_Sale_Entity_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Entity.Primary_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Gateway__c</field>
            <value>
                <elementReference>ChargentGatewayId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OrgDateMonthEnd_Plus1Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>Get_Entity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Made_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Company Assistance Program Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01sU0000000DX8a</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000DhZzIAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Effective_Date__c</field>
            <value>
                <elementReference>OrgDateMonthEnd_Plus1Year_Plus1Day</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_End_Date__c</field>
            <value>
                <elementReference>OrgDateMonthEnd_Plus2Years</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Campaign__c</field>
            <value>
                <stringValue>7014P000001BSSuQAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Mail_Forward_Sale_Entity</name>
        <label>Create Mail Forward Sale Entity</label>
        <locationX>1122</locationX>
        <locationY>659</locationY>
        <connector>
            <targetReference>Create_Mail_Forwarding_OLI</targetReference>
        </connector>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>Get_Entity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Entity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Create_Mail_Forwarding_Sale</elementReference>
            </value>
        </inputAssignments>
        <object>SaleEntity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Mail_Forward_Sale_Entity0</name>
        <label>Create Mail Forward Sale Entity</label>
        <locationX>1324</locationX>
        <locationY>884</locationY>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>Get_Entity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Entity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Existing_Mail_Forwarding_Sale.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SaleEntity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Mail_Forwarding_OLI</name>
        <label>Create Mail Forwarding OLI</label>
        <locationX>1316</locationX>
        <locationY>659</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Mail_Forwarding_Sale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01uU0000002d2GxIAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01tU0000000ykTt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>250.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Mail_Forwarding_Sale</name>
        <label>Create Mail Forwarding Sale</label>
        <locationX>948</locationX>
        <locationY>659</locationY>
        <connector>
            <targetReference>Create_Mail_Forward_Sale_Entity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Entity.Primary_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Gateway__c</field>
            <value>
                <elementReference>ChargentGatewayId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OrgDateMonthEnd_Plus1Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>Get_Entity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Made_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Mail Forwarding Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01sU0000000DX8a</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000DhZzIAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Effective_Date__c</field>
            <value>
                <elementReference>OrgDateMonthEnd_Plus1Year_Plus1Day</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_End_Date__c</field>
            <value>
                <elementReference>OrgDateMonthEnd_Plus2Years</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Campaign__c</field>
            <value>
                <stringValue>7014P000001BSSuQAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sale_Entity</name>
        <label>Create Sale Entity</label>
        <locationX>1050</locationX>
        <locationY>228</locationY>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>Get_Entity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Entity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Existing_CAP_Sale.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SaleEntity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Sale_Entity_0</name>
        <label>New Sale Entity</label>
        <locationX>1236</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Add_OLI_CAP</targetReference>
        </connector>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>Get_Entity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Entity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Create_CAP_Sale</elementReference>
            </value>
        </inputAssignments>
        <object>SaleEntity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>61</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mailing_Services_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Entity.Primary_Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_OLI</name>
        <label>Get Current OLI</label>
        <locationX>953</locationX>
        <locationY>885</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Mail_Forwarding_Sale.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entity</name>
        <label>Get Entity</label>
        <locationX>63</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_CAP_Sale</name>
        <label>Get Existing CAP Sale</label>
        <locationX>594</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sale_exists</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Entity.Primary_Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Headquarters Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Company Assistance Program Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Mail_Forwarding_Sale</name>
        <label>Get Existing Mail Forwarding Sale</label>
        <locationX>601</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sale_exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Entity.Primary_Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mail Forwarding Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_OLI</name>
        <label>Update Current OLI</label>
        <locationX>1136</locationX>
        <locationY>884</locationY>
        <connector>
            <targetReference>Create_Mail_Forward_Sale_Entity0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_OLI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>QuantityAddOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <elementReference>PriceAdd250</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Entity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChargentGatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0P6f00000JXCzHEAX</stringValue>
        </value>
    </variables>
    <variables>
        <name>EntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
