flows/Event_02_08_2021_SIS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_2_Event_Tickets</name>
        <label>Add 2 Event Tickets</label>
        <locationX>1561</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t0B000002Et59QAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000rzrFuQAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_C_Corp</name>
        <label>Add C-Corp</label>
        <locationX>1574</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU00000005vddIAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjD8IAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Land_Trust</name>
        <label>Add Land Trust</label>
        <locationX>1807</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU00000006ASCIA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjDEIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Land_Trust_0</name>
        <label>Add Land Trust</label>
        <locationX>1821</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU00000006ASCIA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjDEIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Land_Trust_0_0</name>
        <label>Add Land Trust</label>
        <locationX>1618</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU00000006ASCIA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjDEIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Land_Trust_0_0_0</name>
        <label>Add Land Trust</label>
        <locationX>1621</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU00000006ASCIA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjDEIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Living_Trust</name>
        <label>Add Living Trust</label>
        <locationX>1111</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU00000006AS2IAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjDCIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QRP</name>
        <label>Add QRP</label>
        <locationX>1106</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU0000001nfC8IAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjEKIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TAP</name>
        <label>Add TAP</label>
        <locationX>1335</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t4P000007ZpCbQAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2995.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tBxGTQA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Titanium</name>
        <label>Add Titanium</label>
        <locationX>1344</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t0B000002F5EcQAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u0B00000kiZC0QAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Virtual_BK_1_Year</name>
        <label>Add Virtual BK 1 Year</label>
        <locationX>1110</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t4P00000Aj1DuQAJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tDS9zQAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Virtual_BK_1_Year_0</name>
        <label>Add Virtual BK 1 Year</label>
        <locationX>1110</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t4P00000Aj1DuQAJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tDS9zQAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Virtual_BK_1_Year_0_0</name>
        <label>Add Virtual BK 1 Year</label>
        <locationX>1368</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t4P00000Aj1DuQAJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tDS9zQAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Virtual_BK_1_Year_0_0_0</name>
        <label>Add Virtual BK 1 Year</label>
        <locationX>1363</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t4P00000Aj1DuQAJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tDS9zQAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsnPlatinumCount</name>
        <label>AsnPlatinumCount</label>
        <locationX>466</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>PlatSaleCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sale.Account.Platinum_Sale_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Get_Primary_contact_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs</name>
        <label>Assign Campaign IDs</label>
        <locationX>836</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001a6UcAAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs_0</name>
        <label>Assign Campaign IDs</label>
        <locationX>835</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001aQYyAAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs_0_0</name>
        <label>Assign Campaign IDs</label>
        <locationX>843</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001aQZ3AAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs_0_0_0</name>
        <label>Assign Campaign IDs</label>
        <locationX>837</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001aQZ8AAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1234</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Titanium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1460</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_C_Corp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1685</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Land_Trust</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1227</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TAP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1453</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_2_Event_Tickets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1676</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Land_Trust_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1243</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Virtual_BK_1_Year_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1238</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Virtual_BK_1_Year_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1470</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Land_Trust_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1465</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Land_Trust_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1927</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Platinum_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1941</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Entitlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1737</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Platinum_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1741</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Platinum_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAsCase1_0</name>
        <label>CreateAsCase</label>
        <locationX>2439</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>CreateAsCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateBKCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaxCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAsCase1_0_0</name>
        <label>CreateAsCase</label>
        <locationX>2450</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>CreateAsCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateBKCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaxCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAsCase1_0_0_0</name>
        <label>CreateAsCase</label>
        <locationX>2477</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>CreateAsCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateBKCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaxCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAsCase1_0_0_0_0</name>
        <label>CreateAsCase</label>
        <locationX>2482</locationX>
        <locationY>1266</locationY>
        <assignmentItems>
            <assignToReference>CreateAsCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateBKCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaxCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateFulfillmentCase_0</name>
        <label>CreateFulfillmentCase</label>
        <locationX>2443</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>CreateFulfimentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateBKCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaxCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateFulfillmentCase_0_0</name>
        <label>CreateFulfillmentCase</label>
        <locationX>2454</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>CreateFulfimentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateBKCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaxCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateFulfillmentCase_0_0_0</name>
        <label>CreateFulfillmentCase</label>
        <locationX>2481</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>CreateFulfimentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateBKCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaxCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateFulfillmentCase_0_0_0_0</name>
        <label>CreateFulfillmentCase</label>
        <locationX>2486</locationX>
        <locationY>1422</locationY>
        <assignmentItems>
            <assignToReference>CreateFulfimentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateBKCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaxCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Platinum_0</name>
        <label>Has Platinum?</label>
        <locationX>2214</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPlatinum_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAsCase1_0</targetReference>
            </connector>
            <label>YesPlatinum</label>
        </rules>
        <rules>
            <name>NoPlatinum_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFulfillmentCase_0</targetReference>
            </connector>
            <label>NoPlatinum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Platinum_0_0</name>
        <label>Has Platinum?</label>
        <locationX>2225</locationX>
        <locationY>563</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPlatinum_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAsCase1_0_0</targetReference>
            </connector>
            <label>YesPlatinum</label>
        </rules>
        <rules>
            <name>NoPlatinum_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFulfillmentCase_0_0</targetReference>
            </connector>
            <label>NoPlatinum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Platinum_0_0_0</name>
        <label>Has Platinum?</label>
        <locationX>2251</locationX>
        <locationY>865</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPlatinum_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAsCase1_0_0_0</targetReference>
            </connector>
            <label>YesPlatinum</label>
        </rules>
        <rules>
            <name>NoPlatinum_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFulfillmentCase_0_0_0</targetReference>
            </connector>
            <label>NoPlatinum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Platinum_0_0_0_0</name>
        <label>Has Platinum?</label>
        <locationX>2257</locationX>
        <locationY>1339</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPlatinum_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAsCase1_0_0_0_0</targetReference>
            </connector>
            <label>YesPlatinum</label>
        </rules>
        <rules>
            <name>NoPlatinum_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFulfillmentCase_0_0_0_0</targetReference>
            </connector>
            <label>NoPlatinum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offer_Type</name>
        <label>Offer Type</label>
        <locationX>482</locationX>
        <locationY>577</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer_1_SIS_Real_Estate_Upgrade_3_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS Real Estate Upgrade 2021</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_IDs_0</targetReference>
            </connector>
            <label>Offer 1- SIS Real Estate Upgrade 3/15</label>
        </rules>
        <rules>
            <name>Offer_2_SIS_Tax_Bookkeeping_Bundle_3_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS Tax Bookkeeping Bundle 2021</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_IDs</targetReference>
            </connector>
            <label>Offer 2- SIS Tax Bookkeeping Bundle 3/15</label>
        </rules>
        <rules>
            <name>Offer_3_Living_Trust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS Legacy Bundle 2021 LIVING TRUST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_IDs_0_0</targetReference>
            </connector>
            <label>Offer 3 - Living Trust</label>
        </rules>
        <rules>
            <name>Offer_3_QRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS Legacy Bundle 2021 QRP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_IDs_0_0_0</targetReference>
            </connector>
            <label>Offer 3 - QRP</label>
        </rules>
    </decisions>
    <formulas>
        <name>OfferPurchaseTextFormula</name>
        <dataType>String</dataType>
        <expression>IF({!EventOfferAutomationText} = &quot;SIS Real Estate Upgrade 2021&quot;,  {!PurchasedDescriptionOffer1},
IF({!EventOfferAutomationText} = &quot;SIS Tax Bookkeeping Bundle 2021&quot;,  {!PurchasedDescriptionOffer2},
IF({!EventOfferAutomationText} = &quot;SIS Legacy Bundle 2021 LIVING TRUST&quot;,  {!PurchasedDescriptionOffer3LivingTrust},
IF({!EventOfferAutomationText} = &quot;SIS Legacy Bundle 2021 QRP&quot;,  {!PurchasedDescriptionOffer3QRP},
&quot;Purchased package at SIS September 2022&quot;))))</expression>
    </formulas>
    <formulas>
        <name>Wait</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (1/24)</expression>
    </formulas>
    <interviewLabel>Event - 02.08.2021 - SIS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - 03.15.2021 - SIS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Entitlements</name>
        <label>Create Entitlements</label>
        <locationX>2055</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Has_Platinum_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Received for purchasing the Tax Offer at SIS January 2022</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>2 Tickets to an upcoming Taxwise event in 2022</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_OpportunityLineItem_List</name>
        <label>Insert OpportunityLineItem List</label>
        <locationX>2910</locationX>
        <locationY>664</locationY>
        <inputReference>OpportunityLineItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Sale</name>
        <label>Get Sale</label>
        <locationX>339</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsnPlatinumCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Wait_Wait1hour</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_Get_Primary_contact_flow</name>
        <label>Account - Get Primary contact flow</label>
        <locationX>581</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Offer_Type</targetReference>
        </connector>
        <flowName>Account_Get_Primary_contact_flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>960</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Add_Virtual_BK_1_Year_0</targetReference>
        </connector>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>Account_Get_Primary_contact_flow.ConatctID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event_0</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>956</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Add_Virtual_BK_1_Year</targetReference>
        </connector>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>Account_Get_Primary_contact_flow.ConatctID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event_0_0</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>978</locationX>
        <locationY>662</locationY>
        <connector>
            <targetReference>Add_Living_Trust</targetReference>
        </connector>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>Account_Get_Primary_contact_flow.ConatctID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event_0_0_0</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>973</locationX>
        <locationY>824</locationY>
        <connector>
            <targetReference>Add_QRP</targetReference>
        </connector>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>Account_Get_Primary_contact_flow.ConatctID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>2655</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Insert_OpportunityLineItem_List</targetReference>
        </connector>
        <flowName>Create_Case_Flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseRequired</name>
            <value>
                <elementReference>CreateAsCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BookkeepingCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CreateBkCase</name>
            <value>
                <elementReference>CreateBKCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OfferDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaleId</name>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaxCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case_0_0</name>
        <label>Create Case</label>
        <locationX>2666</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Insert_OpportunityLineItem_List</targetReference>
        </connector>
        <flowName>Create_Case_Flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseRequired</name>
            <value>
                <elementReference>CreateAsCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BookkeepingCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CreateBkCase</name>
            <value>
                <elementReference>CreateBKCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OfferDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaleId</name>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaxCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case_0_0_0</name>
        <label>Create Case</label>
        <locationX>2693</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>Insert_OpportunityLineItem_List</targetReference>
        </connector>
        <flowName>Create_Case_Flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseRequired</name>
            <value>
                <elementReference>CreateAsCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BookkeepingCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CreateBkCase</name>
            <value>
                <elementReference>CreateBKCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OfferDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaleId</name>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaxCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case_0_0_0_0</name>
        <label>Create Case</label>
        <locationX>2698</locationX>
        <locationY>1337</locationY>
        <connector>
            <targetReference>Insert_OpportunityLineItem_List</targetReference>
        </connector>
        <flowName>Create_Case_Flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseRequired</name>
            <value>
                <elementReference>CreateAsCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BookkeepingCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CreateBkCase</name>
            <value>
                <elementReference>CreateBKCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OfferDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaleId</name>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaxCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>PurchasedDescriptionOffer1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
SIS Real Estate Upgrade - January
$8500
Titanium Upgrade
1 Corp (corp only, no option here)
Tax Toolbox - Digital
Anderson Funding Community
Virtual Bookkeeping for 1 Year
Bonus Land Trust</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
SIS Tax &amp; Bookkeeping Bundle - January
$2995
Tax Advantage Program
Tax Toolbox - Digital
2 Tickets to an upcoming Taxwise event in 2021
Virtual Bookkeeping for 1 Year
Anderson Funding Community
Bonus Land Trust</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer3LivingTrust</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
Legacy Bundle at SIS - January
$2500
Living Trust or QRP - The client chose Living Trust
Tax Toolbox - Digital
Anderson Funding Community
Virtual Bookkeeping for 1 Year
Bonus Land Trust</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer3QRP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
Legacy Bundle at SIS - January
$2500
Living Trust or QRP - The client chose QRP
Tax Toolbox - Digital
Anderson Funding Community
Virtual Bookkeeping for 1 Year
Bonus Land Trust</text>
    </textTemplates>
    <variables>
        <name>CampaignMemberIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateAsCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateBKCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateFulfimentCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateTaxCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventOfferAutomationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PlatSaleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_Wait1hour</name>
        <label>Wait (Wait1hour)</label>
        <locationX>181</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Instant_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Sale</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Wait</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Instant Pause</label>
        </waitEvents>
    </waits>
</Flow>
