flows/Event_Infinity_Investing_Workshop_04_16_2022.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_360</name>
        <label>Add 360</label>
        <locationX>600</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t6f00000OFPl5AAH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2997.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u6f00000ImuLVAAZ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_360_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_360_to_List</name>
        <label>Assign 360 to List</label>
        <locationX>719</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_OpportunityLineItem_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exists</name>
        <label>Exists?</label>
        <locationX>50</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MakeEventSale</targetReference>
            </connector>
            <label>YesExists</label>
        </rules>
        <rules>
            <name>NoExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewAccount</targetReference>
            </connector>
            <label>NoExists</label>
        </rules>
    </decisions>
    <formulas>
        <name>AmountBothBump</name>
        <dataType>Number</dataType>
        <expression>{!AmountLGZ} - 8000 - 2500</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AmountLTBump</name>
        <dataType>Number</dataType>
        <expression>{!AmountLGZ} - 2500</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AmountTitaniumBump</name>
        <dataType>Number</dataType>
        <expression>{!AmountLGZ} - 8000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OfferPurchaseTextFormula</name>
        <dataType>String</dataType>
        <expression>IF({!BumpLZS} = &quot;Titanium&quot;, {!PurchasedDescriptionOffer2}, 
IF({!BumpLZS} = &quot;LivingTrust&quot;,  {!PurchasedDescriptionOffer3},
IF({!BumpLZS} = &quot;Both&quot;,   {!PurchasedDescriptionOffer4}, {!PurchasedDescriptionOffer1})))</expression>
    </formulas>
    <formulas>
        <name>TransactionAmount</name>
        <dataType>Number</dataType>
        <expression>IF({!BumpLZS} = &quot;Titanium&quot;, {!AmountLGZ} + 8000, {!AmountLGZ})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TXDateFormula</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!TransactionDateLZS})), {!TransactionDateLZS}, {!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>Wait</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (1/24)</expression>
    </formulas>
    <interviewLabel>Event- How to Make Money &amp; Save the World 03.19.2022 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event- Infinity Investing Workshop 04.30.2022</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>1076</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Pause_Four</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Info__c</field>
            <value>
                <stringValue>Created via a data import after the event occurred.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Amount__c</field>
            <value>
                <numberValue>2997.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Authorization__c</field>
            <value>
                <elementReference>Authorization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Card_Last_4__c</field>
            <value>
                <elementReference>CardLast4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Gateway_Date__c</field>
            <value>
                <elementReference>TXDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Gateway_ID__c</field>
            <value>
                <elementReference>StripeIdLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Gateway__c</field>
            <value>
                <stringValue>a0P6f00000K2yKcEAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Opportunity__c</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Response__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Type__c</field>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentSFA__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewAccount</name>
        <label>CreateNewAccount</label>
        <locationX>109</locationX>
        <locationY>532</locationY>
        <assignRecordIdToReference>AccountId</assignRecordIdToReference>
        <connector>
            <targetReference>CreatePrimaryContact</targetReference>
        </connector>
        <inputAssignments>
            <field>E_Mail__c</field>
            <value>
                <elementReference>EmailLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>FirstNameLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>LastNameLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Lead_Source__c</field>
            <value>
                <elementReference>MainLeadSourceLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>123</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Campaign_Source__c</field>
            <value>
                <elementReference>OriginalCampaignSourceLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PhoneLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_1__c</field>
            <value>
                <elementReference>PhoneLZS</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>CreatePrimaryContact</name>
        <label>CreatePrimaryContact</label>
        <locationX>251</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>MakeEventSaleNewAcc</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Roles__c</field>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PhoneLZS</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_OpportunityLineItem_List</name>
        <label>Insert OpportunityLineItem List</label>
        <locationX>817</locationX>
        <locationY>523</locationY>
        <connector>
            <targetReference>Pause_Three</targetReference>
        </connector>
        <inputReference>OpportunityLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>MakeEventSale</name>
        <label>MakeEventSale</label>
        <locationX>333</locationX>
        <locationY>358</locationY>
        <assignRecordIdToReference>SaleId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Sale</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>AmountLGZ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Offer_Automation_Text__c</field>
            <value>
                <elementReference>EventOfferAutomationLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Infinity Investing Workshop 04.30.2022</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126f000001lFMcAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Campaign__c</field>
            <value>
                <elementReference>SaleCampaignLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>MakeEventSaleNewAcc</name>
        <label>MakeEventSaleNewAcc</label>
        <locationX>444</locationX>
        <locationY>530</locationY>
        <assignRecordIdToReference>SaleId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Sale</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>AmountLGZ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Offer_Automation_Text__c</field>
            <value>
                <elementReference>EventOfferAutomationLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Infinity Investing Workshop 04.30.2022</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126f000001lFMcAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Campaign__c</field>
            <value>
                <elementReference>SaleCampaignLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Subscription_updrade</name>
        <label>Subscription updrade</label>
        <locationX>1257</locationX>
        <locationY>419</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Offer_automaton_text__c</field>
            <value>
                <elementReference>EventOfferAutomationLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_level__c</field>
            <value>
                <stringValue>360</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Campaign__c</field>
            <value>
                <elementReference>SaleCampaignLZS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Upgrade__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>202</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailLZS</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sale</name>
        <label>Get Sale</label>
        <locationX>470</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Get_Primary_contact_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>168</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_Get_Primary_contact_flow</name>
        <label>Account - Get Primary contact flow</label>
        <locationX>597</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>Pause_Two</targetReference>
        </connector>
        <flowName>Account_Get_Primary_contact_flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>PurchasedDescriptionOffer1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>${!AmountLGZ} - Business Essentials Package - Bookkeeping Version -   2/26 AP Event
(1) Choice of entity (LLC, Corp, QRP, or WST)
(1) CAP for 1 Year
(1) Platinum (initial fee waived)
(1) Virtual Bookkeeping (for 1 year)
Plus:
(1) Tax Toolbox (digital version)
(1) Anderson Funding Community
Bonus: (1) Land Trust
(1) Deed Prep for above Land Trust only
Obtain cc for Platinum subscription</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>${!AmountLGZ} - Business Essentials Package - Bookkeeping Version -  2/26 AP Event
(1) Choice of entity (LLC, Corp, QRP, or WST)
(1) CAP for 1 Year
(1) Platinum (initial fee waived)
(1) Virtual Bookkeeping (for 1 year)
Plus:
(1) Tax Toolbox (digital version)
(1) Anderson Funding Community
Bonus: (1) Land Trust
(1) Deed Prep for above Land Trust only
Bump Offer: (1) $8,000 Titanium
Obtain cc for Platinum subscription</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>${!AmountLGZ} - Business Essentials Package - Bookkeeping Version -  2/26 AP Event
(1) Choice of entity (LLC, Corp, QRP, or WST)
(1) CAP for 1 Year
(1) Platinum (initial fee waived)
(1) Virtual Bookkeeping (for 1 year)
Plus:
(1) Tax Toolbox (digital version)
(1) Anderson Funding Community
Bonus: (1) Land Trust
(1) Deed Prep for above Land Trust only
Bump Offer: (1) $2,500 Living Trust
Obtain cc for Platinum subscription</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer4</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>${!AmountLGZ} - Business Essentials Package - Bookkeeping Version -   2/26 AP Event
(1) Choice of entity (LLC, Corp, QRP, or WST)
(1) CAP for 1 Year
(1) Platinum (initial fee waived)
(1) Virtual Bookkeeping (for 1 year)
Plus:
(1) Tax Toolbox (digital version)
(1) Anderson Funding Community
Bonus: (1) Land Trust
(1) Deed Prep for above Land Trust only

Bump Offer: (1) $8,000 Titanium
Bump Offer: (1) $2,500 Living Trust
Obtain cc for Platinum subscription</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AmountLGZ</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Authorization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuildCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuildCampaignMember__e</objectType>
    </variables>
    <variables>
        <name>BuildCampaignMemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BuildCampaignMember__e</objectType>
    </variables>
    <variables>
        <name>BumpLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuyerCampaignLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardLast4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateAsCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateBKCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateFulfimentCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventOfferAutomationLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstNameLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastNameLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MainLeadSourceLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OriginalCampaignSourceLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatSaleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SaleCampaignLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeIdLZS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionDateLZS</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>493</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Instant_Wait</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Wait</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Instant Wait</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_Four</name>
        <label>Pause</label>
        <locationX>1167</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Instant_Wait_Four</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Subscription_updrade</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Wait</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Instant Wait</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_Three</name>
        <label>Pause</label>
        <locationX>925</locationX>
        <locationY>513</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Instant_Wait_Three</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Create_Transaction</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Wait</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Instant Wait</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_Two</name>
        <label>Pause</label>
        <locationX>710</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Instant_Wait_Two</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Add_360</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Wait</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Instant Wait</label>
        </waitEvents>
    </waits>
</Flow>
