flows/Event_1_11_21_SIW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AsnPlatinumCount</name>
        <label>AsnPlatinumCount</label>
        <locationX>327</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>PlatSaleCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sale.Account.Platinum_Sale_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_OfferCheck</name>
        <label>Contact&amp;OfferCheck</label>
        <locationX>1103</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Offer_1_or_3</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wealth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Legacy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Campaign_Member</targetReference>
            </connector>
            <label>Yes - Offer 1 or 3</label>
        </rules>
        <rules>
            <name>Yes_Offer_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Campaign_Member_0</targetReference>
            </connector>
            <label>Yes - Offer 2</label>
        </rules>
        <rules>
            <name>No_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BK_Case</targetReference>
            </connector>
            <label>No Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Case</name>
        <label>Found Case?</label>
        <locationX>1800</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_AS_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>YesCase</label>
        </rules>
        <rules>
            <name>NoCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_AS_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>NoCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Primary_Contact</name>
        <label>Found Primary Contact</label>
        <locationX>50</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPrimaryContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Offer_Type</targetReference>
            </connector>
            <label>YesPrimaryContact</label>
        </rules>
        <rules>
            <name>NoPrimaryContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Oldest_Contact</targetReference>
            </connector>
            <label>NoPrimaryContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundCM1</name>
        <label>FoundCM?</label>
        <locationX>1112</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberId1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BK_Case</targetReference>
            </connector>
            <label>FoundCM</label>
        </rules>
        <rules>
            <name>NoFoundCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberId1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Member_0</targetReference>
            </connector>
            <label>NoFoundCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundCM1_0</name>
        <label>FoundCM?</label>
        <locationX>1327</locationX>
        <locationY>843</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundCM_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberId1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Campaign_Member_0_0</targetReference>
            </connector>
            <label>FoundCM</label>
        </rules>
        <rules>
            <name>NoFoundCM_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberId1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Member</targetReference>
            </connector>
            <label>NoFoundCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundCM1_0_0</name>
        <label>FoundCM?</label>
        <locationX>1419</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundCM_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberId2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BK_Case</targetReference>
            </connector>
            <label>FoundCM</label>
        </rules>
        <rules>
            <name>NoFoundCM_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberId2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Member_0_0</targetReference>
            </connector>
            <label>NoFoundCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Platinum</name>
        <label>Has Platinum?</label>
        <locationX>1523</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPlatinum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_AS_Case</targetReference>
            </connector>
            <label>YesPlatinum</label>
        </rules>
        <rules>
            <name>NoPlatinum</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fulfillment_on_Agreement_Case</targetReference>
            </connector>
            <label>NoPlatinum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offer_Type</name>
        <label>Offer Type</label>
        <locationX>408</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer_1_Wealth_Hacker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wealth Hacker Package 1/11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Virtual_BK_1_Year</targetReference>
            </connector>
            <label>Offer 1 - Wealth Hacker</label>
        </rules>
        <rules>
            <name>Offer_2_Tax_Hacker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tax Hacker Package 1/11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Virtual_BK_1_Year_0</targetReference>
            </connector>
            <label>Offer 2 - Tax Hacker</label>
        </rules>
        <rules>
            <name>Offer_3_Legacy_Hacker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Legacy Hacker Package 1/11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Virtual_BK_1_Year_0_0</targetReference>
            </connector>
            <label>Offer 3 - Legacy Hacker</label>
        </rules>
    </decisions>
    <decisions>
        <name>QRP_or_Living_Trust</name>
        <label>QRP or Living Trust</label>
        <locationX>614</locationX>
        <locationY>818</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Living_Trust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LIVING TRUST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Living_Trust</targetReference>
            </connector>
            <label>Living Trust</label>
        </rules>
        <rules>
            <name>QRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>QRP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_QRP</targetReference>
            </connector>
            <label>QRP</label>
        </rules>
    </decisions>
    <formulas>
        <name>CAPPriceFormula</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Sale.Amount} = 1500, 0, 497)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OfferPurchaseTextFormula</name>
        <dataType>String</dataType>
        <expression>IF({!EventOfferAutomationText} = &quot;Wealth Hacker Package 1/11&quot;,  {!PurchasedDescriptionOffer1},
IF({!EventOfferAutomationText} = &quot;Tax Hacker Package 1/11&quot;,  {!PurchasedDescriptionOffer2},
IF({!EventOfferAutomationText} = &quot;Legacy Hacker Package 1/11 QRP&quot;,  {!PurchasedDescriptionOffer3},
IF({!EventOfferAutomationText} = &quot;Legacy Hacker Package 1/11 LIVING TRUST&quot;,  {!PurchasedDescriptionOffer3},
&quot;Purchased package at SIW 01.11.2021&quot;))))</expression>
    </formulas>
    <formulas>
        <name>PlatPriceFormula</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Sale.Amount} = 1500, 0, 1000)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProperEmailCampaign</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!EventOfferAutomationText}, &quot;Wealth Hacker&quot;), &quot;7016f000001tUbvAAE&quot;,
IF(CONTAINS({!EventOfferAutomationText}, &quot;QRP&quot;), &quot;7016f000001tVinAAE&quot;, &quot;7016f000001tVXGAA2&quot;))</expression>
    </formulas>
    <formulas>
        <name>Wait</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (1/24)</expression>
    </formulas>
    <formulas>
        <name>x1YearOut</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 365</expression>
    </formulas>
    <interviewLabel>Event - 1/11/21 SIW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - 1/11/21 SIW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_2_Event_Tickets</name>
        <label>Add 2 Event Tickets</label>
        <locationX>776</locationX>
        <locationY>556</locationY>
        <connector>
            <targetReference>Create_Entitlements</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t0B000002Et59QAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_C_Corp</name>
        <label>Add C-Corp</label>
        <locationX>916</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Contact_OfferCheck</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01tU00000005vddIAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Living_Trust</name>
        <label>Add Living Trust</label>
        <locationX>894</locationX>
        <locationY>697</locationY>
        <connector>
            <targetReference>Contact_OfferCheck</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01tU00000006AS2IAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_QRP</name>
        <label>Add QRP</label>
        <locationX>1116</locationX>
        <locationY>819</locationY>
        <connector>
            <targetReference>Contact_OfferCheck</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01tU0000001nfC8IAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_TAP</name>
        <label>Add TAP</label>
        <locationX>645</locationX>
        <locationY>556</locationY>
        <connector>
            <targetReference>Add_2_Event_Tickets</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4P000007ZpCbQAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>2995.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Titanium</name>
        <label>Add Titanium</label>
        <locationX>784</locationX>
        <locationY>419</locationY>
        <connector>
            <targetReference>Add_C_Corp</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t0B000002F5EcQAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>8500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Virtual_BK_1_Year</name>
        <label>Add Virtual BK 1 Year</label>
        <locationX>653</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>Add_Titanium</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4P00000Aj1DuQAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Virtual_BK_1_Year_0</name>
        <label>Add Virtual BK 1 Year</label>
        <locationX>563</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Add_TAP</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4P00000Aj1DuQAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Virtual_BK_1_Year_0_0</name>
        <label>Add Virtual BK 1 Year</label>
        <locationX>465</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>QRP_or_Living_Trust</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4P00000Aj1DuQAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_BK_Case</name>
        <label>Create BK Case</label>
        <locationX>1345</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Has_Platinum</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056f00000AH27G</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Evaluation_Date__c</field>
            <value>
                <elementReference>x1YearOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000g6UYIAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Bookkeeping - Virtual Bookkeeping</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Agreement__c</field>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>1317</locationX>
        <locationY>627</locationY>
        <connector>
            <targetReference>FoundCM1_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7016f000001tV6jAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_0</name>
        <label>Create Campaign Member</label>
        <locationX>1224</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>Create_BK_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>ProperEmailCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_0_0</name>
        <label>Create Campaign Member</label>
        <locationX>1552</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Create_BK_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7016f000001tV6eAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1798</locationX>
        <locationY>49</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005U0000001DC1yIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000g6UJIAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales__c</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Anderson System Case 2021</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Quarterly Follow Up</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Entitlements</name>
        <label>Create Entitlements</label>
        <locationX>911</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>Contact_OfferCheck</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Received for purchasing the Tax Offer at SIW 01.11.2021</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>2 Tickets to an upcoming Taxwise event in 2021</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_on_Agreement_Case</name>
        <label>Create Fulfillment on Agreement Case</label>
        <locationX>1751</locationX>
        <locationY>466</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005U0000001DC1yIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000g6UTIAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales__c</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Fulfillment on Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Coordinator</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call</name>
        <label>Create Welcome Call</label>
        <locationX>2145</locationX>
        <locationY>296</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>Find_AS_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Due__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005U0000001DC1yIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000g5s9IAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Welcome Call :)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Find_AS_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_AS_Case</name>
        <label>Find AS Case</label>
        <locationX>1664</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Anderson System</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Campaign_Member</name>
        <label>Find Campaign Member</label>
        <locationX>1042</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundCM1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProperEmailCampaign</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CampaignMemberId1</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Campaign_Member_0</name>
        <label>Find Campaign Member</label>
        <locationX>1232</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundCM1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7016f000001tV6jAAE</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CampaignMemberId1</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Campaign_Member_0_0</name>
        <label>Find Campaign Member</label>
        <locationX>1556</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundCM1_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7016f000001tV6eAAE</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CampaignMemberId2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Oldest_Contact</name>
        <label>Find Oldest Contact</label>
        <locationX>268</locationX>
        <locationY>589</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Offer_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Primary_Contact</name>
        <label>Find Primary Contact</label>
        <locationX>174</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Roles__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sale</name>
        <label>Get Sale</label>
        <locationX>498</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsnPlatinumCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1996</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>Create_Welcome_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_AS_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>UpdatedDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>319</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Wait1hour</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PurchasedDescriptionOffer1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
Real Estate Upgrade Bundle at SIW 01/11/21 - $8500
Titanium Upgrade
1 Corp (corp only, no option here)
Tax Toolbox - Digital
Anderson Funding Community
Virtual Bookkeeping for 1 Year</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
Tax &amp; Bookkeeping Bundle Bundle at SIW 01/11/21 - $2995
Tax Advantage Program
Tax Toolbox - Digital
2 Tickets to an upcoming Taxwise event in 2021
Virtual Bookkeeping for 1 Year
Anderson Funding Community</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
Legacy Bundle at SIW 01/11/21 - $2500
Living Trust or QRP
Tax Toolbox - Digital
Anderson Funding Community
Virtual Bookkeeping for 1 Year</text>
    </textTemplates>
    <textTemplates>
        <name>UpdatedDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Find_AS_Case.Description}
{!OfferPurchaseTextFormula}</text>
    </textTemplates>
    <variables>
        <name>CampaignMemberId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventOfferAutomationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatSaleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait1hour</name>
        <label>Wait</label>
        <locationX>686</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Instant_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Sale</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Wait</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Instant Pause</label>
        </waitEvents>
    </waits>
</Flow>
