flows/External_LLC_Q_Entity_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Anderson_Advisor</name>
        <choiceText>Anderson Advisors</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Anderson_Advisors</name>
        <choiceText>Anderson Advisors</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>April</name>
        <choiceText>April</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>April</stringValue>
        </value>
    </choices>
    <choices>
        <name>August</name>
        <choiceText>August</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>August</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brokerage_Accounts_Savings</name>
        <choiceText>Brokerage Accounts/ Savings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brokerage Accounts/ Savings</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Corp</name>
        <choiceText>C-Corp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Corp1</name>
        <choiceText>C-Corp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Corporation</name>
        <choiceText>C-Corporation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>December</name>
        <choiceText>December</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>December</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deed</name>
        <choiceText>Deed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Default</name>
        <choiceText>Default</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disregarded</name>
        <choiceText>Disregarded</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Entity</name>
        <choiceText>Entity</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>February</name>
        <choiceText>February</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>February</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flipping_Real_Estate</name>
        <choiceText>Flipping Real Estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flipping Real Estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Four</name>
        <choiceText>Four</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Four</stringValue>
        </value>
    </choices>
    <choices>
        <name>Holding_LLC</name>
        <choiceText>Holding LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Holding LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>IRA_LLC</name>
        <choiceText>IRA LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IRA LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>January</name>
        <choiceText>January</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>January</stringValue>
        </value>
    </choices>
    <choices>
        <name>Joint_Venture_LLC</name>
        <choiceText>Joint Venture LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Joint Venture LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>July</name>
        <choiceText>July</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>July</stringValue>
        </value>
    </choices>
    <choices>
        <name>June</name>
        <choiceText>June</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>June</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_Trust</name>
        <choiceText>Land Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land Trust</stringValue>
        </value>
    </choices>
    <choices>
        <name>Limited_Liability_Company</name>
        <choiceText>Limited Liability Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Liability Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Limited_Partnership</name>
        <choiceText>Limited Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Partnership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Living_Trust</name>
        <choiceText>Living Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Living Trust</stringValue>
        </value>
    </choices>
    <choices>
        <name>LLC</name>
        <choiceText>LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manager_Managed1</name>
        <choiceText>Manager-Managed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>ManagerManaged</name>
        <choiceText>Manager Managed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>March</name>
        <choiceText>March</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>March</stringValue>
        </value>
    </choices>
    <choices>
        <name>May</name>
        <choiceText>May</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May</stringValue>
        </value>
    </choices>
    <choices>
        <name>Member_Managed1</name>
        <choiceText>Member-Managed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>MemberManaged</name>
        <choiceText>Member Managed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nevada</name>
        <choiceText>Nevada</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nevada3225</name>
        <choiceText>Nevada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BOSS Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>False</stringValue>
        </value>
    </choices>
    <choices>
        <name>November</name>
        <choiceText>November</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>November</stringValue>
        </value>
    </choices>
    <choices>
        <name>October</name>
        <choiceText>October</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>October</stringValue>
        </value>
    </choices>
    <choices>
        <name>One</name>
        <choiceText>One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partnership</name>
        <choiceText>Partnership</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Person</name>
        <choiceText>Person</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>records</name>
        <choiceText>records</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>lookup_to_entities</elementReference>
        </value>
    </choices>
    <choices>
        <name>Rental_Real_Estate</name>
        <choiceText>Rental Real Estate</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>S_Corp</name>
        <choiceText>S-Corp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>S-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_Corp1</name>
        <choiceText>S-Corp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>S-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_Corporation</name>
        <choiceText>S-Corporation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>September</name>
        <choiceText>September</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>September</stringValue>
        </value>
    </choices>
    <choices>
        <name>Series_Limited_Liability_Company</name>
        <choiceText>Series Limited Liability Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Series Limited Liability Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shelf_LLC1</name>
        <choiceText>Shelf LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelf LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Three</name>
        <choiceText>Three</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Three</stringValue>
        </value>
    </choices>
    <choices>
        <name>Two</name>
        <choiceText>Two</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Two</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wyoming</name>
        <choiceText>Wyoming</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </choices>
    <constants>
        <name>Andersom</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Anderson Advisors</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Nexus_or_not</name>
        <label>Nexus or not</label>
        <locationX>190</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>Entity_Selection_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Nexus_Said_Using_Nexus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nexusdata</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>http</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UseNexus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entity_Selection</targetReference>
            </connector>
            <label>Has Nexus Said Using Nexus</label>
        </rules>
        <rules>
            <name>Has_Nexus_but_selected_to_not_use</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nexusdata</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>http</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UseNexus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entity_Selection_0</targetReference>
            </connector>
            <label>Has Nexus but selected to not use</label>
        </rules>
        <rules>
            <name>No_Nexus_but_wanted_to_use</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nexusdata</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>UseNexus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entity_Selection_0_0</targetReference>
            </connector>
            <label>No Nexus but wanted to use</label>
        </rules>
        <rules>
            <name>No_Nexus_No_using_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nexusdata</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>UseNexus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entity_Selection_0_0_0</targetReference>
            </connector>
            <label>No Nexus No using it</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>address</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Address__c</picklistField>
        <picklistObject>Entities__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Caseschoice1</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000g6UT</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>sobj_entieies.Case__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>CaseNumber</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>crsrnames</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CSR__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>csrname</name>
        <dataType>String</dataType>
        <displayField>CSR__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CSR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Assigned_CSR__c</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>organizationstate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Organization_State__c</picklistField>
        <picklistObject>Entities__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sales1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DatePlus2</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+2</expression>
    </formulas>
    <formulas>
        <name>vUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>External LLC Q Entity Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>External LLC Q Entity Creation</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>1681</locationX>
        <locationY>332</locationY>
        <assignNextValueToReference>sobj_entieies</assignNextValueToReference>
        <collectionReference>entities_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>How_Will_it_be_Managed_0</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_entities</name>
        <label>create entities</label>
        <locationX>775</locationX>
        <locationY>9</locationY>
        <connector>
            <targetReference>update_opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternate_Name__c</field>
            <value>
                <elementReference>Alternatenamechoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Location__c</field>
            <value>
                <elementReference>Nevada3225</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Purpose__c</field>
            <value>
                <elementReference>LLCQ.LLC_s_Principle_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity_Type__c</field>
            <value>
                <stringValue>01IU0000000Ey34</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLCQ__c</field>
            <value>
                <elementReference>acc_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_1__c</field>
            <value>
                <elementReference>Manager1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_2__c</field>
            <value>
                <elementReference>Manager2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_3__c</field>
            <value>
                <elementReference>Manager3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_1__c</field>
            <value>
                <elementReference>Firstmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_2__c</field>
            <value>
                <elementReference>Secondmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_3__c</field>
            <value>
                <elementReference>thirdmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_4__c</field>
            <value>
                <elementReference>Fourthmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LLCQName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_State__c</field>
            <value>
                <elementReference>FilingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerofQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Client__c</field>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questionnaire_Received__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questionnaire_to_Processor__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Status__c</field>
            <value>
                <elementReference>Taxstatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_End_Selected__c</field>
            <value>
                <elementReference>Yearenddate</elementReference>
            </value>
        </inputAssignments>
        <object>Entities__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_entities_0</name>
        <label>create entities</label>
        <locationX>774</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>update_opportunity_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternate_Name__c</field>
            <value>
                <elementReference>Alternatenamechoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Location__c</field>
            <value>
                <elementReference>Nevada3225</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Purpose__c</field>
            <value>
                <elementReference>LLCQ.LLC_s_Principle_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity_Type__c</field>
            <value>
                <stringValue>01IU0000000Ey34</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLCQ__c</field>
            <value>
                <elementReference>acc_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_1__c</field>
            <value>
                <elementReference>Manager1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_2__c</field>
            <value>
                <elementReference>Manager2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_3__c</field>
            <value>
                <elementReference>Manager3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_1__c</field>
            <value>
                <elementReference>Firstmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_2__c</field>
            <value>
                <elementReference>Secondmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_3__c</field>
            <value>
                <elementReference>thirdmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_4__c</field>
            <value>
                <elementReference>Fourthmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LLCQName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_State__c</field>
            <value>
                <elementReference>FilingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerofQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Client__c</field>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questionnaire_Received__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questionnaire_to_Processor__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Status__c</field>
            <value>
                <elementReference>Taxstatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_End_Selected__c</field>
            <value>
                <elementReference>Yearenddate</elementReference>
            </value>
        </inputAssignments>
        <object>Entities__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_entities_0_0</name>
        <label>create entities</label>
        <locationX>768</locationX>
        <locationY>301</locationY>
        <assignRecordIdToReference>EntityID</assignRecordIdToReference>
        <connector>
            <targetReference>update_opportunity_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternate_Name__c</field>
            <value>
                <elementReference>Alternatenamechoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Location__c</field>
            <value>
                <elementReference>Nevada3225</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Purpose__c</field>
            <value>
                <elementReference>LLCQ.LLC_s_Principle_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>sobj_entieies.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity_Type__c</field>
            <value>
                <stringValue>01IU0000000Ey34</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Fees_Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLCQ__c</field>
            <value>
                <elementReference>acc_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_1__c</field>
            <value>
                <elementReference>Manager1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_2__c</field>
            <value>
                <elementReference>Manager2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_3__c</field>
            <value>
                <elementReference>Manager3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_1__c</field>
            <value>
                <elementReference>Firstmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_2__c</field>
            <value>
                <elementReference>Secondmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_3__c</field>
            <value>
                <elementReference>thirdmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_4__c</field>
            <value>
                <elementReference>Fourthmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LLCQName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nominee__c</field>
            <value>
                <elementReference>nomineeyesorno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_State__c</field>
            <value>
                <elementReference>FilingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerofQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Client__c</field>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Notes__c</field>
            <value>
                <elementReference>Notes_to_Processing2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questionnaire_Received__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questionnaire_to_Processor__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale__c</field>
            <value>
                <elementReference>Sale_for_fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Status__c</field>
            <value>
                <elementReference>Taxstatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_End_Selected__c</field>
            <value>
                <elementReference>Yearenddate</elementReference>
            </value>
        </inputAssignments>
        <object>Entities__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_entities_0_0_0</name>
        <label>create entities</label>
        <locationX>757</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>update_opportunity_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternate_Name__c</field>
            <value>
                <elementReference>Alternatenamechoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Location__c</field>
            <value>
                <elementReference>Nevada3225</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Purpose__c</field>
            <value>
                <elementReference>LLCQ.LLC_s_Principle_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity_Type__c</field>
            <value>
                <stringValue>01IU0000000Ey34</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLCQ__c</field>
            <value>
                <elementReference>acc_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_1__c</field>
            <value>
                <elementReference>Manager1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_2__c</field>
            <value>
                <elementReference>Manager2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_3__c</field>
            <value>
                <elementReference>Manager3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_1__c</field>
            <value>
                <elementReference>Firstmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_2__c</field>
            <value>
                <elementReference>Secondmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_3__c</field>
            <value>
                <elementReference>thirdmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_4__c</field>
            <value>
                <elementReference>Fourthmembername</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LLCQName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_State__c</field>
            <value>
                <elementReference>FilingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerofQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Client__c</field>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questionnaire_Received__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questionnaire_to_Processor__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Status__c</field>
            <value>
                <elementReference>Taxstatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_End_Selected__c</field>
            <value>
                <elementReference>Yearenddate</elementReference>
            </value>
        </inputAssignments>
        <object>Entities__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Processing_Task</name>
        <label>Create Processing Task</label>
        <locationX>1287</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>CSR__c</field>
            <value>
                <elementReference>CSR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Due__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Entity__c</field>
            <value>
                <elementReference>LLCQName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005U0000001DC1y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Stage__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120B000000t7pp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Entity__c</field>
            <value>
                <elementReference>EntityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LLC Filing</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Sales_Entity_Created</name>
        <label>Sales Entity Created</label>
        <locationX>1137</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>Create_Processing_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>EntityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LLCQName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Sale_for_fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Limited Liability Company (LLC)</stringValue>
            </value>
        </inputAssignments>
        <object>SaleEntity__c</object>
    </recordCreates>
    <recordLookups>
        <name>LLCQLookup</name>
        <label>LLCQLookup</label>
        <locationX>2</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_to_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LLCQName2</elementReference>
            </value>
        </filters>
        <object>LLC_Q__c</object>
        <outputAssignments>
            <assignToReference>MainAccount</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Alternatenamechoice</assignToReference>
            <field>Alternate_LLC_name_choice__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UseNexus</assignToReference>
            <field>Are_you_going_to_be_using_Anderson_s_Nev__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Datecreated</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Nominee</assignToReference>
            <field>Do_you_want_Anonymity_for_this_LLC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nomineeyesorno</assignToReference>
            <field>Do_you_want_Anonymity_for_this_LLC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FilingFee</assignToReference>
            <field>Filing_Fee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FilingState</assignToReference>
            <field>Filing_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Firstmembername</assignToReference>
            <field>First_M__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>firstmemberownership</assignToReference>
            <field>First_Member_Ownership__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Fourthmembername</assignToReference>
            <field>Fourth_Member_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Fourthmemberownership</assignToReference>
            <field>Fourth_Member_Ownership__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Fourthssn</assignToReference>
            <field>Fourth_Member_SSN_EIN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Fourthstateres</assignToReference>
            <field>Fourth_State_of_Residence_or_Formation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Isthisforprofessional1</assignToReference>
            <field>Is_this_LLC_for_a_professional_service__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Businessaddress</assignToReference>
            <field>LLC_Business_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Businesscity</assignToReference>
            <field>LLC_Business_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Businessstate</assignToReference>
            <field>LLC_Business_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Businesszip</assignToReference>
            <field>LLC_Business_Zip__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mailingaddress</assignToReference>
            <field>LLC_Mailing_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mailingcity</assignToReference>
            <field>LLC_Mailing_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mailingstate</assignToReference>
            <field>LLC_Mailing_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mailingzip</assignToReference>
            <field>LLC_Mailing_Zip__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Taxstatus</assignToReference>
            <field>LLC_Tax_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>principalpurpose</assignToReference>
            <field>LLC_s_Principle_Purpose__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Manager1</assignToReference>
            <field>Manager_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Manager2</assignToReference>
            <field>Manager_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Manager3</assignToReference>
            <field>Manager_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LLCQName2</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerofQ</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Firstssn</assignToReference>
            <field>SSN_EIN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Secondmembername</assignToReference>
            <field>Second_Member_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Secondmemberownership</assignToReference>
            <field>Second_Member_Ownership__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Secondssn</assignToReference>
            <field>Second_Member_SSN_EIN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Secondstateres</assignToReference>
            <field>Second_State_of_Residence_or_Formation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Firststateres</assignToReference>
            <field>State_of_Residence_or_Formation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thirdmembername</assignToReference>
            <field>Third_Member_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thirdmemberownership</assignToReference>
            <field>Third_Member_Ownership__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Thirdssn</assignToReference>
            <field>Third_Member_SSN_EIN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Thirdstateres</assignToReference>
            <field>Third_State_of_Residence_or_Formation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Yearenddate</assignToReference>
            <field>Year_End_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_cases</name>
        <label>Lookup cases</label>
        <locationX>17</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000g6UT</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Cases</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_to_account</name>
        <label>lookup to account</label>
        <locationX>12</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nexus_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LLCQ.Client_Account_Number__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Nexusdata</assignToReference>
            <field>Corporate_Headquarters__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acc_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acc_name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acc_owner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_to_entities</name>
        <label>lookup to entities</label>
        <locationX>1667</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organization_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>organizationstate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shelf</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005U0000003p93g</stringValue>
            </value>
        </filters>
        <object>Entities__c</object>
        <outputReference>entities_collection</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Organization_State__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_entities</name>
        <label>update entities</label>
        <locationX>1699</locationX>
        <locationY>652</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_entieies.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Anderson</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>acc_owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Client__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Entities__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity</name>
        <label>update opportunity</label>
        <locationX>927</locationX>
        <locationY>9</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sale</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>sobj_entieies.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_0_0</name>
        <label>update opportunity</label>
        <locationX>965</locationX>
        <locationY>163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sale</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>sobj_entieies.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_0_0_0</name>
        <label>update opportunity</label>
        <locationX>968</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Sales_Entity_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LLCQName2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>EntityID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_0_0_0_0</name>
        <label>update opportunity</label>
        <locationX>968</locationX>
        <locationY>509</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MainAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sale</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>sobj_entieies.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>1443</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>Thank you for flying Pan-Am</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entity_Selection</name>
        <label>Has Nexus Selected Yes</label>
        <locationX>382</locationX>
        <locationY>10</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_entities</targetReference>
        </connector>
        <fields>
            <name>EntityCreationWizard</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Hello {!vUserID},&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Did you double check to verify all fields are filled in and correct ? &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;It looks like the Filing fee for &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!FilingState}&lt;/B&gt;&lt;/FONT&gt; &lt;FONT KERNING=&quot;1&quot;&gt; is &lt;B&gt;{!FilingFee}&lt;/B&gt; &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;This Client Does have Nexus/Corporate Headquarters on the account and they have indicated they would like to use this service, but im having a hard time seeing if they have used the 3 entities that come with this service. Please Verify they have not used all of them.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Clicking the Next Button will Create an LLC for &lt;B&gt;{!LLCQName2}.&lt;/B&gt; It will also create the Task for Processing and send the Client an E-mail.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales4</name>
            <choiceReferences>Sales1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cases3</name>
            <choiceReferences>Caseschoice1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldText>.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes_to_Processing4</name>
            <fieldText>Notes to Processing</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spacer1</name>
            <fieldText>.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Spacer2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>llcQname1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LLCQName2</elementReference>
            </defaultValue>
            <fieldText>llcQname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entity_Selection_0</name>
        <label>Has Nexus Selected no</label>
        <locationX>578</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_entities_0</targetReference>
        </connector>
        <fields>
            <name>EntityCreationWizard_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Hello {!vUserID},&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Did you double check to verify all fields are filled in and correct ? &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;It looks like the Filing fee for &lt;B&gt;{!FilingState}&lt;/B&gt;  is &lt;B&gt;{!FilingFee}.&lt;/B&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;I see the Client has Nexus, but is not using it for this LLC is this Correct ?&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Clicking the Next Button will Create an LLC for &lt;B&gt;{!LLCQName2}. &lt;/B&gt;It will also create the task for Processing and send the Client an E-mail.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Spacer_0</name>
            <fieldText>.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Spacer1_0</name>
            <fieldText>.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales</name>
            <choiceReferences>Sales1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case3</name>
            <choiceReferences>Caseschoice1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes_to_Processor3</name>
            <fieldText>Notes to Processor</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spacer2_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>llcQname1_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LLCQName2</elementReference>
            </defaultValue>
            <fieldText>llcQname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entity_Selection_0_0</name>
        <label>No Nexus but Selected Yes</label>
        <locationX>396</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_entities_0_0</targetReference>
        </connector>
        <fields>
            <name>EntityCreationWizard_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Hello {!vUserID},&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Did you double check to verify all fields are filled in and correct ? &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;It looks like the Filing fee for &lt;B&gt;{!FilingState}&lt;/B&gt;  is &lt;B&gt;{!FilingFee}.&lt;/B&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;The Client has Selected to use Nexus, but I am not seeing Nexus on the account. Please Check this information is correct.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Clicking the Next Button will Create an LLC for &lt;B&gt;{!LLCQName2}.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Spacer_0_0</name>
            <fieldText>.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Spacer1_0_0</name>
            <fieldText>.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sale_for_fees</name>
            <choiceReferences>Sales1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sale for fees</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cases2</name>
            <choiceReferences>Caseschoice1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CSR</name>
            <choiceReferences>crsrnames</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CSR</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes_to_Processing2</name>
            <fieldText>Notes to Processing</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spacer2_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>llcQname1_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LLCQName2</elementReference>
            </defaultValue>
            <fieldText>llcQname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entity_Selection_0_0_0</name>
        <label>No Nexus but Selected No</label>
        <locationX>246</locationX>
        <locationY>496</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_entities_0_0_0</targetReference>
        </connector>
        <fields>
            <name>EntityCreationWizard_0_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Hello {!vUserID},&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Did you double check to verify all fields are filled in and correct ? &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;It looks like the Filing fee for &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!FilingState}&lt;/B&gt;  is &lt;B&gt;{!FilingFee}.&lt;/B&gt; If this has been charged already please click the button below to aknowlege and proceed. &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Clicking the Next Button will Create an LLC for &lt;B&gt;{!LLCQName2}.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sale</name>
            <choiceReferences>Sales1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case</name>
            <choiceReferences>Caseschoice1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spacer2_0_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes_to_Processing</name>
            <fieldText>Notes to Processing</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>A task will be created for the processors to begin working on the entity if you have notes you would like added to the Entity screen please provide them here.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Test_nexus_data1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Nexusdata</elementReference>
            </defaultValue>
            <fieldText>Test nexus data1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Test_Nexus_Data2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UseNexus</elementReference>
            </defaultValue>
            <fieldText>Test Nexus Data2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>llcQname1_0_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LLCQName2</elementReference>
            </defaultValue>
            <fieldText>llcQname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_Will_it_be_Managed_0</name>
        <label>How Will it be Managed</label>
        <locationX>1689</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Select_How_The_LLC_will_be_Managed_0</name>
            <choiceReferences>Manager_Managed1</choiceReferences>
            <choiceReferences>Member_Managed1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select How The LLC will be Managed</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Member_Managed_0</name>
        <label>Member-Managed</label>
        <locationX>1704</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_entities</targetReference>
        </connector>
        <fields>
            <name>MemberInformation_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Member Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Member_one_0</name>
            <dataType>String</dataType>
            <fieldText>Member 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership1percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member2_0</name>
            <dataType>String</dataType>
            <fieldText>Member2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership2percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member3_0</name>
            <dataType>String</dataType>
            <fieldText>Member3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership3percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member4_0</name>
            <dataType>String</dataType>
            <fieldText>Member4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership4percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member5_0</name>
            <dataType>String</dataType>
            <fieldText>Member5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership5percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PropertyAddressinfosection</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Property Address Information &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>select_the_field</name>
        <label>select the field</label>
        <locationX>1656</locationX>
        <locationY>171</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_to_entities</targetReference>
        </connector>
        <fields>
            <name>select_the_value</name>
            <choiceReferences>organizationstate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the State for the Self LLC</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LLCQLookup</startElementReference>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>OneEntity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Hello, Please see attached the information we will be filling for you. If you have any questions please reach out ASAP. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>acc_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acc_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acc_owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Accountnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Address1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingStreet</elementReference>
        </value>
    </variables>
    <variables>
        <name>AddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingCity</elementReference>
        </value>
    </variables>
    <variables>
        <name>addressstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingState</elementReference>
        </value>
    </variables>
    <variables>
        <name>addresszip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingPostalCode</elementReference>
        </value>
    </variables>
    <variables>
        <name>Alternatenamechoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Businessaddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Businesscity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Businessstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Businesszip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Person Logged in</description>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserLogin</objectType>
    </variables>
    <variables>
        <name>Datecreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>entities_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entities__c</objectType>
    </variables>
    <variables>
        <name>EntityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FilingFee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FilingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Firstmembername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>firstmemberownership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Firstssn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Firststateres</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Fourthmembername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Fourthmemberownership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Fourthssn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Fourthstateres</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Isthisforprofessional1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LLCQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_Q__c</objectType>
    </variables>
    <variables>
        <name>LLCQName2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>LLCQName2</elementReference>
        </value>
    </variables>
    <variables>
        <name>Mailingaddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Mailingcity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Mailingstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Mailingzip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MainAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Manager1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Manager2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Manager3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Nexusdata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Nexusdata</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nominee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nomineeyesorno</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Owneridnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerofQ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>principalpurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProfessionalService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Secondmembername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Secondmemberownership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Secondssn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Secondstateres</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShippingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingStreet</elementReference>
        </value>
    </variables>
    <variables>
        <name>sobj_entieies</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entities__c</objectType>
    </variables>
    <variables>
        <name>Taxstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thirdmembername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thirdmemberownership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Thirdssn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Thirdstateres</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UseNexus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>UseNexus</elementReference>
        </value>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Yearenddate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
