flows/Live_Agent_Offline.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Account_found</name>
        <label>Account found?</label>
        <locationX>667</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>New_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Law_Coordinator</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Found_2</name>
        <label>Account Found 2</label>
        <locationX>181</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Find_Account_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_found</targetReference>
            </connector>
            <label>Found2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Found_3</name>
        <label>Account Found 3</label>
        <locationX>182</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Find_Account_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_found</targetReference>
            </connector>
            <label>Found3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_4</name>
        <label>Found 4</label>
        <locationX>307</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Find_Account_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_found</targetReference>
            </connector>
            <label>Found4</label>
        </rules>
    </decisions>
    <formulas>
        <name>AssignedToFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!LawCoordinatorId})), {!LawCoordinatorId},
IF(NOT(ISBLANK({!CAMId})), {!CAMId}, &quot;005U0000001DC1y&quot;))</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Live Agent Offline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Live Agent Offline</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Lead</name>
        <label>New Lead</label>
        <locationX>867</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Delete_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>CaseEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CaseFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CaseLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Lead_Source__c</field>
            <value>
                <stringValue>Online Organic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Campaign_Source__c</field>
            <value>
                <stringValue>701U00000016JhFIAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005U0000001DC1yIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>CasePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>688</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Delete_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignedToFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Offline Website Chat Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>PrimaryContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Case</name>
        <label>Delete Case</label>
        <locationX>869</locationX>
        <locationY>654</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>190</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>E_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseEmail</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CAM</assignToReference>
            <field>Assigned_CAM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LawCoordinator</assignToReference>
            <field>Assigned_CSR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Account_2</name>
        <label>Find Account</label>
        <locationX>197</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Other_E_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseEmail</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CAM</assignToReference>
            <field>Assigned_CAM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LawCoordinator</assignToReference>
            <field>Assigned_CSR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Account_3</name>
        <label>Find Account</label>
        <locationX>192</locationX>
        <locationY>640</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Spouse_E_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseEmail</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CAM</assignToReference>
            <field>Assigned_CAM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LawCoordinator</assignToReference>
            <field>Assigned_CSR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Account_4</name>
        <label>Find Account 4</label>
        <locationX>470</locationX>
        <locationY>635</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Spouse_Other_E_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseEmail</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CAM</assignToReference>
            <field>Assigned_CAM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LawCoordinator</assignToReference>
            <field>Assigned_CSR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_CAM</name>
        <label>Find CAM</label>
        <locationX>676</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAM</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CAMId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Law_Coordinator</name>
        <label>Find Law Coordinator</label>
        <locationX>677</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_CAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LawCoordinator</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>LawCoordinatorId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>677</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Roles__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PrimaryContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CAMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LawCoordinator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LawCoordinatorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
