flows/LLC_Q_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Anderson_Advisor</name>
        <choiceText>Anderson Advisors</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Anderson_Advisors</name>
        <choiceText>Anderson Advisors</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>April</name>
        <choiceText>April</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>April</stringValue>
        </value>
    </choices>
    <choices>
        <name>August</name>
        <choiceText>August</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>August</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brokerage_Accounts_Savings</name>
        <choiceText>Brokerage Accounts/ Savings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brokerage Accounts/ Savings</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Corp</name>
        <choiceText>C-Corp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Corp1</name>
        <choiceText>C-Corp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Corporation</name>
        <choiceText>C-Corporation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>December</name>
        <choiceText>December</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>December</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deed</name>
        <choiceText>Deed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Default</name>
        <choiceText>Default</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disregarded</name>
        <choiceText>Disregarded</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Entity</name>
        <choiceText>Entity</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>February</name>
        <choiceText>February</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>February</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flipping_Real_Estate</name>
        <choiceText>Flipping Real Estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flipping Real Estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Four</name>
        <choiceText>Four</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Four</stringValue>
        </value>
    </choices>
    <choices>
        <name>Holding_LLC</name>
        <choiceText>Holding LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Holding LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>IRA_LLC</name>
        <choiceText>IRA LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IRA LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>January</name>
        <choiceText>January</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>January</stringValue>
        </value>
    </choices>
    <choices>
        <name>Joint_Venture_LLC</name>
        <choiceText>Joint Venture LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Joint Venture LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>July</name>
        <choiceText>July</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>July</stringValue>
        </value>
    </choices>
    <choices>
        <name>June</name>
        <choiceText>June</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>June</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_Trust</name>
        <choiceText>Land Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land Trust</stringValue>
        </value>
    </choices>
    <choices>
        <name>Limited_Liability_Company</name>
        <choiceText>Limited Liability Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Liability Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Limited_Partnership</name>
        <choiceText>Limited Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Partnership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Living_Trust</name>
        <choiceText>Living Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Living Trust</stringValue>
        </value>
    </choices>
    <choices>
        <name>LLC</name>
        <choiceText>LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manager_Managed1</name>
        <choiceText>Manager-Managed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>ManagerManaged</name>
        <choiceText>Manager Managed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>March</name>
        <choiceText>March</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>March</stringValue>
        </value>
    </choices>
    <choices>
        <name>May</name>
        <choiceText>May</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May</stringValue>
        </value>
    </choices>
    <choices>
        <name>Member_Managed1</name>
        <choiceText>Member-Managed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>MemberManaged</name>
        <choiceText>Member Managed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nevada</name>
        <choiceText>Nevada</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nevada3225</name>
        <choiceText>Nevada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BOSS Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>False</stringValue>
        </value>
    </choices>
    <choices>
        <name>November</name>
        <choiceText>November</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>November</stringValue>
        </value>
    </choices>
    <choices>
        <name>October</name>
        <choiceText>October</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>October</stringValue>
        </value>
    </choices>
    <choices>
        <name>One</name>
        <choiceText>One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partnership</name>
        <choiceText>Partnership</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Person</name>
        <choiceText>Person</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>records</name>
        <choiceText>records</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>lookup_to_entities</elementReference>
        </value>
    </choices>
    <choices>
        <name>Rental_Real_Estate</name>
        <choiceText>Rental Real Estate</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>S_Corp</name>
        <choiceText>S-Corp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>S-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_Corp1</name>
        <choiceText>S-Corp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>S-Corp</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_Corporation</name>
        <choiceText>S-Corporation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>September</name>
        <choiceText>September</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>September</stringValue>
        </value>
    </choices>
    <choices>
        <name>Series_Limited_Liability_Company</name>
        <choiceText>Series Limited Liability Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Series Limited Liability Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shelf_LLC1</name>
        <choiceText>Shelf LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelf LLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Three</name>
        <choiceText>Three</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Three</stringValue>
        </value>
    </choices>
    <choices>
        <name>Two</name>
        <choiceText>Two</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Two</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wyoming</name>
        <choiceText>Wyoming</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </choices>
    <constants>
        <name>Andersom</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Anderson Advisors</stringValue>
        </value>
    </constants>
    <decisions>
        <name>corpchoice</name>
        <label>C-Corp</label>
        <locationX>14</locationX>
        <locationY>183</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>C_Corp_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LLC_Tax_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C-Corp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Corp_Year_End_Date</targetReference>
            </connector>
            <label>C-Corp Selected</label>
        </rules>
        <rules>
            <name>not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LLC_Tax_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>C-Corp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LLC_Name_and_State</targetReference>
            </connector>
            <label>not selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entity_Selected</name>
        <label>Entity Selected</label>
        <locationX>293</locationX>
        <locationY>5</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LLC_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_LLC_Type_to_Create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limited Liability Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step1</targetReference>
            </connector>
            <label>LLC Selected</label>
        </rules>
        <rules>
            <name>Shelf_LLC_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_LLC_Type_to_Create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Shelf_LLC1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>select_the_field</targetReference>
            </connector>
            <label>Shelf LLC selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Nexus_or_not</name>
        <label>Has Nexus or not</label>
        <locationX>21</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Nexus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nexusdata</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>https</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_they_Have_NEXUS</targetReference>
            </connector>
            <label>Has Nexus</label>
        </rules>
        <rules>
            <name>Does_not_Have</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nexusdata</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Do_they_Have_NEXUS_0</targetReference>
            </connector>
            <label>Does not Have Nexus</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_entities_to_create</name>
        <label>How Many entities to create</label>
        <locationX>274</locationX>
        <locationY>951</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>One_Entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateMultipleEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>One</elementReference>
                </rightValue>
            </conditions>
            <label>One Entity</label>
        </rules>
        <rules>
            <name>Two_Entities_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateMultipleEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Two</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_Entities_Creation</targetReference>
            </connector>
            <label>Two Entities Selected</label>
        </rules>
        <rules>
            <name>Three_Entities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateMultipleEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Three</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Three_Entities_Creation</targetReference>
            </connector>
            <label>Three Entities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Managed_or_Member</name>
        <label>Managed or Member</label>
        <locationX>174</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Managed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_How_The_LLC_will_be_Managed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_Managed</targetReference>
            </connector>
            <label>Managed</label>
        </rules>
        <rules>
            <name>Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_How_The_LLC_will_be_Managed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Managed</targetReference>
            </connector>
            <label>Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Managed_or_Member_0</name>
        <label>Managed or Member</label>
        <locationX>220</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Managed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_How_The_LLC_will_be_Managed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_Managed_0</targetReference>
            </connector>
            <label>Managed</label>
        </rules>
        <rules>
            <name>Member_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_How_The_LLC_will_be_Managed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Managed_0</targetReference>
            </connector>
            <label>Member</label>
        </rules>
    </decisions>
    <description>test_test_sfdc</description>
    <dynamicChoiceSets>
        <name>address</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Address__c</picklistField>
        <picklistObject>Entities__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>organizationstate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Organization_State__c</picklistField>
        <picklistObject>Entities__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>vUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>LLC Q Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LLC Q Flow 5</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>346</locationX>
        <locationY>363</locationY>
        <assignNextValueToReference>sobj_entieies</assignNextValueToReference>
        <collectionReference>entities_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>How_Will_it_be_Managed_0</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_entities</name>
        <label>create entities</label>
        <locationX>105</locationX>
        <locationY>951</locationY>
        <connector>
            <targetReference>How_Many_entities_to_create</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternate_Name__c</field>
            <value>
                <elementReference>LLC_Alternate_Choice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Location__c</field>
            <value>
                <elementReference>Nevada3225</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Purpose__c</field>
            <value>
                <elementReference>LLC_s_Principle_Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity_Type__c</field>
            <value>
                <stringValue>01IU0000000Ey34</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Fees_Paid__c</field>
            <value>
                <elementReference>Have_the_filing_Fees_Been_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsBoss__c</field>
            <value>
                <elementReference>Use_Nexus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLCQ__c</field>
            <value>
                <elementReference>acc_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_1__c</field>
            <value>
                <elementReference>Manager_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_2__c</field>
            <value>
                <elementReference>Manager_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_3__c</field>
            <value>
                <elementReference>Manager_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Member_2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Member_3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Member_4__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Member_5__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LLC_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_State__c</field>
            <value>
                <elementReference>Filing_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership4__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Client__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professional_Entity__c</field>
            <value>
                <elementReference>Is_this_LLC_for_a_Professional_Service1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Status__c</field>
            <value>
                <elementReference>LLC_Tax_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_End_Selected__c</field>
            <value>
                <elementReference>Select_the_Month_for_the_Year_End</elementReference>
            </value>
        </inputAssignments>
        <object>Entities__c</object>
    </recordCreates>
    <recordLookups>
        <name>lookup_to_account</name>
        <label>lookup to account</label>
        <locationX>3</locationX>
        <locationY>3</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entity_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accountnumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Nexusdata</assignToReference>
            <field>Corporate_Headquarters__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acc_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acc_name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acc_owner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_to_entities</name>
        <label>lookup to entities</label>
        <locationX>332</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organization_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>organizationstate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shelf</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005U0000003p93g</stringValue>
            </value>
        </filters>
        <object>Entities__c</object>
        <outputReference>entities_collection</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Organization_State__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_entities</name>
        <label>update entities</label>
        <locationX>364</locationX>
        <locationY>683</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_entieies.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Anderson</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>acc_owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Client__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Entities__c</object>
    </recordUpdates>
    <screens>
        <name>C_Corp_Year_End_Date</name>
        <label>C-Corp Year End Date</label>
        <locationX>181</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LLC_Name_and_State</targetReference>
        </connector>
        <fields>
            <name>Select_the_Month_for_the_Year_End</name>
            <choiceReferences>Default</choiceReferences>
            <choiceReferences>January</choiceReferences>
            <choiceReferences>February</choiceReferences>
            <choiceReferences>March</choiceReferences>
            <choiceReferences>April</choiceReferences>
            <choiceReferences>May</choiceReferences>
            <choiceReferences>June</choiceReferences>
            <choiceReferences>July</choiceReferences>
            <choiceReferences>August</choiceReferences>
            <choiceReferences>September</choiceReferences>
            <choiceReferences>October</choiceReferences>
            <choiceReferences>November</choiceReferences>
            <choiceReferences>December</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select the Month for the Year End. You can Select &lt;B&gt;Default&lt;/B&gt; and Processing will Automatically Select the Latest Month.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_they_Have_NEXUS</name>
        <label>Client Has Nexus/Corporate Headquarters</label>
        <locationX>17</locationX>
        <locationY>495</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_they_Have_NEXUS_0</targetReference>
        </connector>
        <fields>
            <name>Nexus</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The Client Currently has &lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;Active&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt; Nexus/ Corporate Headquarters on the account.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Use_Nexus</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Would you like to use Nexus/ Corporate Headquarters ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_they_Have_NEXUS_0</name>
        <label>Does not &amp; next step</label>
        <locationX>22</locationX>
        <locationY>584</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>How_Will_it_be_Managed</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_anonymity_for_this_LLC1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you want anonymity for this LLC ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BusinessAddress</name>
            <choiceReferences>address</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Addressbelow_0</name>
            <fieldText>If not using Nexus/Corporate Headquarters Select Other Here and Verify or Change the address below to the correct Business address for the LLC.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EntityAddress_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ShippingAddress</elementReference>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EntityCity_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account.ShippingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EntityState_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account.ShippingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EntityZip_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account.ShippingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EntityCountry_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account.ShippingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entity_Selection</name>
        <label>Entity Selection</label>
        <locationX>146</locationX>
        <locationY>5</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Entity_Selected</targetReference>
        </connector>
        <fields>
            <name>EntityCreationWizard</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Hello,&lt;/B&gt; {!$User.FirstName}&lt;B&gt; &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!User}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please make a selection below to move forward through the creation wizard. If at anytime you need additional help you can hover over the &amp;quot;?&amp;quot; Icon. &lt;/B&gt;{!CurrentUser.UserId} v&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!User.FirstName}{!CurrentUser.Id}{!User.LastName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_an_LLC_Type_to_Create</name>
            <choiceReferences>Limited_Liability_Company</choiceReferences>
            <choiceReferences>Shelf_LLC1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an LLC Type to Create</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldText>.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_a_Corp_Type_to_Create</name>
            <choiceReferences>C_Corp1</choiceReferences>
            <choiceReferences>S_Corp1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Corp Type to Create</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spacer1</name>
            <fieldText>.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Trusts</name>
            <choiceReferences>Living_Trust</choiceReferences>
            <choiceReferences>Land_Trust</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Trust to Create</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spacer2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Additional_Options_to_Create</name>
            <choiceReferences>Deed</choiceReferences>
            <choiceReferences>Limited_Partnership</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Additional Options to Create</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CreateMultipleEntities</name>
            <choiceReferences>One</choiceReferences>
            <choiceReferences>Two</choiceReferences>
            <choiceReferences>Three</choiceReferences>
            <choiceReferences>Four</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If you would like to Create Multiple Entities at the Same Time Select Amount Here</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_Will_it_be_Managed</name>
        <label>How Will it be Managed</label>
        <locationX>20</locationX>
        <locationY>671</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Managed_or_Member</targetReference>
        </connector>
        <fields>
            <name>Select_How_The_LLC_will_be_Managed</name>
            <choiceReferences>Manager_Managed1</choiceReferences>
            <choiceReferences>Member_Managed1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select How The LLC will be Managed</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_Will_it_be_Managed_0</name>
        <label>How Will it be Managed</label>
        <locationX>354</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Managed_or_Member_0</targetReference>
        </connector>
        <fields>
            <name>Select_How_The_LLC_will_be_Managed_0</name>
            <choiceReferences>Manager_Managed1</choiceReferences>
            <choiceReferences>Member_Managed1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select How The LLC will be Managed</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LLC_Name_and_State</name>
        <label>LLC Name and State</label>
        <locationX>15</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_Nexus_or_not</targetReference>
        </connector>
        <fields>
            <name>LLC_Name</name>
            <dataType>String</dataType>
            <fieldText>LLC Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LLC_Alternate_Choice</name>
            <dataType>String</dataType>
            <fieldText>LLC Alternate Choice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Filing_State</name>
            <choiceReferences>organizationstate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Filing State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manager_Managed</name>
        <label>Manager-Managed</label>
        <locationX>16</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Member_Managed</targetReference>
        </connector>
        <fields>
            <name>TheManagerisa</name>
            <fieldText>The Manager is a(n):</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Entity1</name>
            <dataType>Boolean</dataType>
            <fieldText>Entity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Person1</name>
            <dataType>Boolean</dataType>
            <fieldText>Person</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manager_1</name>
            <dataType>String</dataType>
            <fieldText>Manager 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_2</name>
            <dataType>String</dataType>
            <fieldText>Manager 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_3</name>
            <dataType>String</dataType>
            <fieldText>Manager 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manager_Managed_0</name>
        <label>Manager-Managed</label>
        <locationX>222</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Member_Managed_0</targetReference>
        </connector>
        <fields>
            <name>TheManagerisa_0</name>
            <fieldText>The Manager is a(n):</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Entity1_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Entity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Person1_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Person</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manager_1_0</name>
            <dataType>String</dataType>
            <fieldText>Manager 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_2_0</name>
            <dataType>String</dataType>
            <fieldText>Manager 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_3_0</name>
            <dataType>String</dataType>
            <fieldText>Manager 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Member_Managed</name>
        <label>Member-Managed</label>
        <locationX>163</locationX>
        <locationY>818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_entities</targetReference>
        </connector>
        <fields>
            <name>MemberInformation_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Member Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Member_one</name>
            <dataType>String</dataType>
            <fieldText>Member 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership1percentage</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member2</name>
            <dataType>String</dataType>
            <fieldText>Member2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership2percentage</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member3</name>
            <dataType>String</dataType>
            <fieldText>Member3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership3percentage</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member4</name>
            <dataType>String</dataType>
            <fieldText>Member4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership4percentage</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member5</name>
            <dataType>String</dataType>
            <fieldText>Member5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership5percentage</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Member_Managed_0</name>
        <label>Member-Managed</label>
        <locationX>369</locationX>
        <locationY>562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_entities</targetReference>
        </connector>
        <fields>
            <name>MemberInformation_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Member Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Member_one_0</name>
            <dataType>String</dataType>
            <fieldText>Member 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership1percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member2_0</name>
            <dataType>String</dataType>
            <fieldText>Member2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership2percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member3_0</name>
            <dataType>String</dataType>
            <fieldText>Member3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership3percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member4_0</name>
            <dataType>String</dataType>
            <fieldText>Member4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership4percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Member5_0</name>
            <dataType>String</dataType>
            <fieldText>Member5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership5percentage_0</name>
            <dataType>Number</dataType>
            <fieldText>Ownership%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PropertyAddressinfosection</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Property Address Information &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>select_the_field</name>
        <label>select the field</label>
        <locationX>321</locationX>
        <locationY>202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_to_entities</targetReference>
        </connector>
        <fields>
            <name>select_the_value</name>
            <choiceReferences>organizationstate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the State for the Self LLC</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step1</name>
        <label>Basic Structure of LLC</label>
        <locationX>13</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>corpchoice</targetReference>
        </connector>
        <fields>
            <name>LLC_s_Principle_Purpose</name>
            <choiceReferences>Rental_Real_Estate</choiceReferences>
            <choiceReferences>Flipping_Real_Estate</choiceReferences>
            <choiceReferences>Brokerage_Accounts_Savings</choiceReferences>
            <choiceReferences>Holding_LLC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>LLC&apos;s Principle Purpose</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Will_this_be_a_Joint_Venture_LLC1</name>
            <dataType>Boolean</dataType>
            <fieldText>Will this be a Joint Venture LLC?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LLC_Tax_Status</name>
            <choiceReferences>Disregarded</choiceReferences>
            <choiceReferences>C_Corporation</choiceReferences>
            <choiceReferences>S_Corporation</choiceReferences>
            <choiceReferences>Partnership</choiceReferences>
            <dataType>String</dataType>
            <fieldText>LLC Tax Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_this_LLC_for_a_Professional_Service1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is this LLC for a Professional Service?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_Type</name>
            <dataType>String</dataType>
            <fieldText>What Type?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Will_this_LLC_be_Assigned_an_interest_in_a_Land_Trust</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Will this LLC be Assigned an interest in a Land Trust?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_the_filing_Fees_Been_Paid</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Have the filing Fees Been Paid?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Three_Entities_Creation</name>
        <label>Three Entities Creation</label>
        <locationX>539</locationX>
        <locationY>1015</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Second_Entity_Name_Choice_0</name>
            <dataType>String</dataType>
            <fieldText>Second Entity Name Choice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Second_Alternative_Name_Choice_0</name>
            <dataType>String</dataType>
            <fieldText>Second Alternative Name Choice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Filing_State2_0</name>
            <choiceReferences>organizationstate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Filing State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Will_this_Use_Nexus_Service_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Will this Use Nexus Service ? If not please fill or verify address below</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street_Address_NO_P_O_Box_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Address1</elementReference>
            </defaultValue>
            <fieldText>Street Address NO P.O. Box</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AddressCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>addressstate</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>addresszip</elementReference>
            </defaultValue>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>US</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Space</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Third Entity&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Third_Name_Choice</name>
            <dataType>String</dataType>
            <fieldText>Third Name Choice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Third_Name_Alternative</name>
            <dataType>String</dataType>
            <fieldText>Third Name Alternative</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X3rd_Filing_State</name>
            <choiceReferences>organizationstate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>3rd Filing State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Will_this_Use_Nexus_Service_If_not_please_fill_or_verify_address_below</name>
            <dataType>Boolean</dataType>
            <fieldText>Will this Use Nexus Service ? If not please fill or verify address below</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street_Address_NO_P_O_Box1</name>
            <dataType>String</dataType>
            <fieldText>Street Address NO P.O. Box</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City1</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State1</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip1</name>
            <dataType>String</dataType>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country1</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Two_Entities_Creation</name>
        <label>Two Entities Creation</label>
        <locationX>540</locationX>
        <locationY>918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Second_Entity_Name_Choice</name>
            <dataType>String</dataType>
            <fieldText>Second Entity Name Choice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Second_Alternative_Name_Choice</name>
            <dataType>String</dataType>
            <fieldText>Second Alternative Name Choice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Filing_State2</name>
            <choiceReferences>organizationstate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Filing State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Will_this_Use_Nexus_Service</name>
            <dataType>Boolean</dataType>
            <fieldText>Will this Use Nexus Service ? If not please fill or verify address below</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street_Address_NO_P_O_Box</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Address1</elementReference>
            </defaultValue>
            <fieldText>Street Address NO P.O. Box</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AddressCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>addressstate</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>addresszip</elementReference>
            </defaultValue>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>US</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>lookup_to_account</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>OneEntity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Hello, Please see attached the information we will be filling for you. If you have any questions please reach out ASAP. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>acc_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acc_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acc_owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Accountnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Address1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingStreet</elementReference>
        </value>
    </variables>
    <variables>
        <name>AddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingCity</elementReference>
        </value>
    </variables>
    <variables>
        <name>addressstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingState</elementReference>
        </value>
    </variables>
    <variables>
        <name>addresszip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingPostalCode</elementReference>
        </value>
    </variables>
    <variables>
        <description>Person Logged in</description>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserLogin</objectType>
    </variables>
    <variables>
        <name>entities_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entities__c</objectType>
    </variables>
    <variables>
        <name>Nexusdata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProfessionalService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShippingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.ShippingStreet</elementReference>
        </value>
    </variables>
    <variables>
        <name>sobj_entieies</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entities__c</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
