flows/My_Team_Update_Related_Cases.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Team</name>
        <label>Team?</label>
        <locationX>659</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Cases</targetReference>
            </connector>
            <label>Team 1</label>
        </rules>
        <rules>
            <name>Team_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Cases_0</targetReference>
            </connector>
            <label>Team 5</label>
        </rules>
        <rules>
            <name>Team_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Cases_0_0</targetReference>
            </connector>
            <label>Team 6</label>
        </rules>
        <rules>
            <name>Team_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Cases_0_0_0</targetReference>
            </connector>
            <label>Team 2</label>
        </rules>
        <rules>
            <name>Team_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Cases_0_0_0_0</targetReference>
            </connector>
            <label>Team 3</label>
        </rules>
        <rules>
            <name>Team_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Cases_0_0_0_0_0</targetReference>
            </connector>
            <label>Team 4</label>
        </rules>
        <rules>
            <name>Team_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_cases_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Team 7</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>My Team - Update Related Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My Team - Update Related Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Related_Cases</name>
        <label>Update Related Cases</label>
        <locationX>436</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126f000001Yqv1AAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Signature__c</field>
            <value>
                <elementReference>team1ES</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Cases_0</name>
        <label>Update Related Cases</label>
        <locationX>769</locationX>
        <locationY>612</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126f000001Yqv1AAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Signature__c</field>
            <value>
                <elementReference>team5ES</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Cases_0_0</name>
        <label>Update Related Cases</label>
        <locationX>843</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126f000001Yqv1AAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Signature__c</field>
            <value>
                <elementReference>team6ES</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Cases_0_0_0</name>
        <label>Update Related Cases</label>
        <locationX>515</locationX>
        <locationY>610</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126f000001Yqv1AAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Signature__c</field>
            <value>
                <elementReference>team2ES</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Cases_0_0_0_0</name>
        <label>Update Related Cases</label>
        <locationX>593</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126f000001Yqv1AAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Signature__c</field>
            <value>
                <elementReference>team3ES</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Cases_0_0_0_0_0</name>
        <label>Update Related Cases</label>
        <locationX>684</locationX>
        <locationY>610</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126f000001Yqv1AAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Signature__c</field>
            <value>
                <elementReference>team4ES</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_cases_0_0_0_0_0_0</name>
        <label>Update Related cases</label>
        <locationX>920</locationX>
        <locationY>616</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126f000001Yqv1AAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Signature__c</field>
            <value>
                <elementReference>team7ES</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Team</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Teams__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team 1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Teams__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team 5</stringValue>
            </value>
        </filters>
        <filters>
            <field>Teams__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team 6</stringValue>
            </value>
        </filters>
        <filters>
            <field>Teams__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>team1ES</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;161&quot;&gt;&lt;col width=&quot;310&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:69.45263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 36pt;text-align: center;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 13.5pt; font-family: Arial; color: rgb(36, 39, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:91px;height:79px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/XF47KYb5KTogQhrJzWRskrXiITbo__pSFkBtQbetAJWVA1QZbh8M8qFTkQ2Bl7G_Cap-_OFyAG5zEVDOT81oxQ9m986VjR2YgFvCPHowfn8f2wnjsN5NHECgihdOwojIC6sCKW2G&quot; width=&quot;91&quot; height=&quot;79&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 17pt; font-family: Arial; color: rgb(102, 105, 104); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;YOUR ANDERSON TEAM&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:8pt 0pt 4pt 0pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(725) 201-7553&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(702) 664-0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:37.20263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:148px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh4.googleusercontent.com/1bYNCjZeys_cqCyERJ4NCtsdVRCCANukq8vLQQF6sNdMcy5fji81rF_aS2KkbOwvpSOuRY1KXjlsnrsKhVXlKIUnh-V5FJWbAbtkGVFNNWhJnU1zopq-AaMfanz3QuH4cgEYP6OH&quot; width=&quot;148&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;​​&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Dr., Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60.75pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:277px;height:54px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh5.googleusercontent.com/aO6XpdS73YOU6ElkRmQ7ppzHu_wv90q_3ZajbqX7wYHm08XmGBaI3_UcHzjUaOw0DP_Zke3z-NJM6WczZtVouU7QwPD0S9ze4plzBBjG-e3SrP7y93eygLz1BBOeUmu9f6KUQfZQ&quot; width=&quot;277&quot; height=&quot;54&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/w9BuvtYSlJaVjMcFzc8KTw1AE4Rn7xqKBtC7nnbPwSIul5EpmU4PWSe015hfBH5vwSidmR5n812k8IJDcPqzSYb3_6TbqJ9yzKvDTneDWqZOb2LpW4Dd2jJCH6Sv6udBSlCdcbDp&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/r3Fb2uj2QRgyDtYRVlDcwAzRLgc6xsIPen_vznKb0eGpheGyAnbw0odI15wp6yKmo51_ZziCtMgrIwprGO6sGE4WCyCP-9-6FkOJJLIVcsAzcApXDUc1aiAA2T1owPr6BdcBEga7&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;DISCLAIMERS:&amp;nbsp;If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>team2ES</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;161&quot;&gt;&lt;col width=&quot;310&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:69.45263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 36pt;text-align: center;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 13.5pt; font-family: Arial; color: rgb(36, 39, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:91px;height:79px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/XF47KYb5KTogQhrJzWRskrXiITbo__pSFkBtQbetAJWVA1QZbh8M8qFTkQ2Bl7G_Cap-_OFyAG5zEVDOT81oxQ9m986VjR2YgFvCPHowfn8f2wnjsN5NHECgihdOwojIC6sCKW2G&quot; width=&quot;91&quot; height=&quot;79&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 17pt; font-family: Arial; color: rgb(102, 105, 104); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;YOUR ANDERSON TEAM&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:8pt 0pt 4pt 0pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(725) 201-7371&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(702) 664-0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:37.20263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:148px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh4.googleusercontent.com/1bYNCjZeys_cqCyERJ4NCtsdVRCCANukq8vLQQF6sNdMcy5fji81rF_aS2KkbOwvpSOuRY1KXjlsnrsKhVXlKIUnh-V5FJWbAbtkGVFNNWhJnU1zopq-AaMfanz3QuH4cgEYP6OH&quot; width=&quot;148&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;​​&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Dr., Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60.75pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:277px;height:54px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh5.googleusercontent.com/aO6XpdS73YOU6ElkRmQ7ppzHu_wv90q_3ZajbqX7wYHm08XmGBaI3_UcHzjUaOw0DP_Zke3z-NJM6WczZtVouU7QwPD0S9ze4plzBBjG-e3SrP7y93eygLz1BBOeUmu9f6KUQfZQ&quot; width=&quot;277&quot; height=&quot;54&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/w9BuvtYSlJaVjMcFzc8KTw1AE4Rn7xqKBtC7nnbPwSIul5EpmU4PWSe015hfBH5vwSidmR5n812k8IJDcPqzSYb3_6TbqJ9yzKvDTneDWqZOb2LpW4Dd2jJCH6Sv6udBSlCdcbDp&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/r3Fb2uj2QRgyDtYRVlDcwAzRLgc6xsIPen_vznKb0eGpheGyAnbw0odI15wp6yKmo51_ZziCtMgrIwprGO6sGE4WCyCP-9-6FkOJJLIVcsAzcApXDUc1aiAA2T1owPr6BdcBEga7&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;DISCLAIMERS:&amp;nbsp;If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>team3ES</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;161&quot;&gt;&lt;col width=&quot;310&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:69.45263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 36pt;text-align: center;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 13.5pt; font-family: Arial; color: rgb(36, 39, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:91px;height:79px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/XF47KYb5KTogQhrJzWRskrXiITbo__pSFkBtQbetAJWVA1QZbh8M8qFTkQ2Bl7G_Cap-_OFyAG5zEVDOT81oxQ9m986VjR2YgFvCPHowfn8f2wnjsN5NHECgihdOwojIC6sCKW2G&quot; width=&quot;91&quot; height=&quot;79&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 17pt; font-family: Arial; color: rgb(102, 105, 104); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;YOUR ANDERSON TEAM&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:8pt 0pt 4pt 0pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(725) 208-3130&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(702) 664-0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:37.20263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:148px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh4.googleusercontent.com/1bYNCjZeys_cqCyERJ4NCtsdVRCCANukq8vLQQF6sNdMcy5fji81rF_aS2KkbOwvpSOuRY1KXjlsnrsKhVXlKIUnh-V5FJWbAbtkGVFNNWhJnU1zopq-AaMfanz3QuH4cgEYP6OH&quot; width=&quot;148&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;​​&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Dr., Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60.75pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:277px;height:54px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh5.googleusercontent.com/aO6XpdS73YOU6ElkRmQ7ppzHu_wv90q_3ZajbqX7wYHm08XmGBaI3_UcHzjUaOw0DP_Zke3z-NJM6WczZtVouU7QwPD0S9ze4plzBBjG-e3SrP7y93eygLz1BBOeUmu9f6KUQfZQ&quot; width=&quot;277&quot; height=&quot;54&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/w9BuvtYSlJaVjMcFzc8KTw1AE4Rn7xqKBtC7nnbPwSIul5EpmU4PWSe015hfBH5vwSidmR5n812k8IJDcPqzSYb3_6TbqJ9yzKvDTneDWqZOb2LpW4Dd2jJCH6Sv6udBSlCdcbDp&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/r3Fb2uj2QRgyDtYRVlDcwAzRLgc6xsIPen_vznKb0eGpheGyAnbw0odI15wp6yKmo51_ZziCtMgrIwprGO6sGE4WCyCP-9-6FkOJJLIVcsAzcApXDUc1aiAA2T1owPr6BdcBEga7&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;DISCLAIMERS:&amp;nbsp;If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>team4ES</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;161&quot;&gt;&lt;col width=&quot;310&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:69.45263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 36pt;text-align: center;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 13.5pt; font-family: Arial; color: rgb(36, 39, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:91px;height:79px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/XF47KYb5KTogQhrJzWRskrXiITbo__pSFkBtQbetAJWVA1QZbh8M8qFTkQ2Bl7G_Cap-_OFyAG5zEVDOT81oxQ9m986VjR2YgFvCPHowfn8f2wnjsN5NHECgihdOwojIC6sCKW2G&quot; width=&quot;91&quot; height=&quot;79&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 17pt; font-family: Arial; color: rgb(102, 105, 104); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;YOUR ANDERSON TEAM&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:8pt 0pt 4pt 0pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(725) 208-3133&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(702) 664-0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:37.20263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:148px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh4.googleusercontent.com/1bYNCjZeys_cqCyERJ4NCtsdVRCCANukq8vLQQF6sNdMcy5fji81rF_aS2KkbOwvpSOuRY1KXjlsnrsKhVXlKIUnh-V5FJWbAbtkGVFNNWhJnU1zopq-AaMfanz3QuH4cgEYP6OH&quot; width=&quot;148&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;​​&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Dr., Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60.75pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:277px;height:54px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh5.googleusercontent.com/aO6XpdS73YOU6ElkRmQ7ppzHu_wv90q_3ZajbqX7wYHm08XmGBaI3_UcHzjUaOw0DP_Zke3z-NJM6WczZtVouU7QwPD0S9ze4plzBBjG-e3SrP7y93eygLz1BBOeUmu9f6KUQfZQ&quot; width=&quot;277&quot; height=&quot;54&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/w9BuvtYSlJaVjMcFzc8KTw1AE4Rn7xqKBtC7nnbPwSIul5EpmU4PWSe015hfBH5vwSidmR5n812k8IJDcPqzSYb3_6TbqJ9yzKvDTneDWqZOb2LpW4Dd2jJCH6Sv6udBSlCdcbDp&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/r3Fb2uj2QRgyDtYRVlDcwAzRLgc6xsIPen_vznKb0eGpheGyAnbw0odI15wp6yKmo51_ZziCtMgrIwprGO6sGE4WCyCP-9-6FkOJJLIVcsAzcApXDUc1aiAA2T1owPr6BdcBEga7&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;DISCLAIMERS:&amp;nbsp;If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>team5ES</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;161&quot;&gt;&lt;col width=&quot;310&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:69.45263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 36pt;text-align: center;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 13.5pt; font-family: Arial; color: rgb(36, 39, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:91px;height:79px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/XF47KYb5KTogQhrJzWRskrXiITbo__pSFkBtQbetAJWVA1QZbh8M8qFTkQ2Bl7G_Cap-_OFyAG5zEVDOT81oxQ9m986VjR2YgFvCPHowfn8f2wnjsN5NHECgihdOwojIC6sCKW2G&quot; width=&quot;91&quot; height=&quot;79&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 17pt; font-family: Arial; color: rgb(102, 105, 104); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;YOUR ANDERSON TEAM&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:8pt 0pt 4pt 0pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(725) 201-7545&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(702) 664-0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:37.20263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:148px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh4.googleusercontent.com/1bYNCjZeys_cqCyERJ4NCtsdVRCCANukq8vLQQF6sNdMcy5fji81rF_aS2KkbOwvpSOuRY1KXjlsnrsKhVXlKIUnh-V5FJWbAbtkGVFNNWhJnU1zopq-AaMfanz3QuH4cgEYP6OH&quot; width=&quot;148&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;​​&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Dr., Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60.75pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:277px;height:54px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh5.googleusercontent.com/aO6XpdS73YOU6ElkRmQ7ppzHu_wv90q_3ZajbqX7wYHm08XmGBaI3_UcHzjUaOw0DP_Zke3z-NJM6WczZtVouU7QwPD0S9ze4plzBBjG-e3SrP7y93eygLz1BBOeUmu9f6KUQfZQ&quot; width=&quot;277&quot; height=&quot;54&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/w9BuvtYSlJaVjMcFzc8KTw1AE4Rn7xqKBtC7nnbPwSIul5EpmU4PWSe015hfBH5vwSidmR5n812k8IJDcPqzSYb3_6TbqJ9yzKvDTneDWqZOb2LpW4Dd2jJCH6Sv6udBSlCdcbDp&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/r3Fb2uj2QRgyDtYRVlDcwAzRLgc6xsIPen_vznKb0eGpheGyAnbw0odI15wp6yKmo51_ZziCtMgrIwprGO6sGE4WCyCP-9-6FkOJJLIVcsAzcApXDUc1aiAA2T1owPr6BdcBEga7&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;DISCLAIMERS:&amp;nbsp;If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>team6ES</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;161&quot;&gt;&lt;col width=&quot;310&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:69.45263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 36pt;text-align: center;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 13.5pt; font-family: Arial; color: rgb(36, 39, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:91px;height:79px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/XF47KYb5KTogQhrJzWRskrXiITbo__pSFkBtQbetAJWVA1QZbh8M8qFTkQ2Bl7G_Cap-_OFyAG5zEVDOT81oxQ9m986VjR2YgFvCPHowfn8f2wnjsN5NHECgihdOwojIC6sCKW2G&quot; width=&quot;91&quot; height=&quot;79&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 17pt; font-family: Arial; color: rgb(102, 105, 104); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;YOUR ANDERSON TEAM&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:8pt 0pt 4pt 0pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(725) 201-7544&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(702) 664-0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:37.20263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:148px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh4.googleusercontent.com/1bYNCjZeys_cqCyERJ4NCtsdVRCCANukq8vLQQF6sNdMcy5fji81rF_aS2KkbOwvpSOuRY1KXjlsnrsKhVXlKIUnh-V5FJWbAbtkGVFNNWhJnU1zopq-AaMfanz3QuH4cgEYP6OH&quot; width=&quot;148&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;​​&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Dr., Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60.75pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:277px;height:54px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh5.googleusercontent.com/aO6XpdS73YOU6ElkRmQ7ppzHu_wv90q_3ZajbqX7wYHm08XmGBaI3_UcHzjUaOw0DP_Zke3z-NJM6WczZtVouU7QwPD0S9ze4plzBBjG-e3SrP7y93eygLz1BBOeUmu9f6KUQfZQ&quot; width=&quot;277&quot; height=&quot;54&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/w9BuvtYSlJaVjMcFzc8KTw1AE4Rn7xqKBtC7nnbPwSIul5EpmU4PWSe015hfBH5vwSidmR5n812k8IJDcPqzSYb3_6TbqJ9yzKvDTneDWqZOb2LpW4Dd2jJCH6Sv6udBSlCdcbDp&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/r3Fb2uj2QRgyDtYRVlDcwAzRLgc6xsIPen_vznKb0eGpheGyAnbw0odI15wp6yKmo51_ZziCtMgrIwprGO6sGE4WCyCP-9-6FkOJJLIVcsAzcApXDUc1aiAA2T1owPr6BdcBEga7&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;DISCLAIMERS:&amp;nbsp;If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>team7ES</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;161&quot;&gt;&lt;col width=&quot;310&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:69.45263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 36pt;text-align: center;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 13.5pt; font-family: Arial; color: rgb(36, 39, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:91px;height:79px;&quot;&gt;&lt;img alt=&quot;profile&quot; title=&quot;Anderson Advisors&quot; src=&quot;https://lh5.googleusercontent.com/XF47KYb5KTogQhrJzWRskrXiITbo__pSFkBtQbetAJWVA1QZbh8M8qFTkQ2Bl7G_Cap-_OFyAG5zEVDOT81oxQ9m986VjR2YgFvCPHowfn8f2wnjsN5NHECgihdOwojIC6sCKW2G&quot; width=&quot;91&quot; height=&quot;79&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;span style=&quot;font-size: 17pt; font-family: Arial; color: rgb(102, 105, 104); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;YOUR ANDERSON TEAM&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:8pt 0pt 4pt 0pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;P | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(725) 208-3141&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;F | &lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;(702) 664-0545&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:37.20263671875pt&quot;&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:148px;height:35px;&quot;&gt;&lt;img alt=&quot;Anderson&quot; src=&quot;https://lh4.googleusercontent.com/1bYNCjZeys_cqCyERJ4NCtsdVRCCANukq8vLQQF6sNdMcy5fji81rF_aS2KkbOwvpSOuRY1KXjlsnrsKhVXlKIUnh-V5FJWbAbtkGVFNNWhJnU1zopq-AaMfanz3QuH4cgEYP6OH&quot; width=&quot;148&quot; height=&quot;35&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td style=&quot;vertical-align:top;padding:5pt 5pt 5pt 8pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:4pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;​​&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;3225 McLeod Dr., Las Vegas, NV 89121&lt;/span&gt;&lt;/p&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: -4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;&quot;&gt;&lt;a href=&quot;https://andersonadvisors.com/&quot;&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial; color: rgb(82, 88, 95); font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;www.AndersonAdvisors.com&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height:60.75pt&quot;&gt;&lt;td colspan=&quot;2&quot; style=&quot;vertical-align:top;padding:11pt 0pt 0pt 0pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.2;margin-left: 4.5pt;background-color:#ffffff;margin-top:0pt;margin-bottom:12pt;&quot;&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:277px;height:54px;&quot;&gt;&lt;img alt=&quot;awards&quot; src=&quot;https://lh5.googleusercontent.com/aO6XpdS73YOU6ElkRmQ7ppzHu_wv90q_3ZajbqX7wYHm08XmGBaI3_UcHzjUaOw0DP_Zke3z-NJM6WczZtVouU7QwPD0S9ze4plzBBjG-e3SrP7y93eygLz1BBOeUmu9f6KUQfZQ&quot; width=&quot;277&quot; height=&quot;54&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;facebook&quot; src=&quot;https://lh6.googleusercontent.com/w9BuvtYSlJaVjMcFzc8KTw1AE4Rn7xqKBtC7nnbPwSIul5EpmU4PWSe015hfBH5vwSidmR5n812k8IJDcPqzSYb3_6TbqJ9yzKvDTneDWqZOb2LpW4Dd2jJCH6Sv6udBSlCdcbDp&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Roboto, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;border:none;display:inline-block;overflow:hidden;width:40px;height:40px;&quot;&gt;&lt;img alt=&quot;youtube&quot; src=&quot;https://lh6.googleusercontent.com/r3Fb2uj2QRgyDtYRVlDcwAzRLgc6xsIPen_vznKb0eGpheGyAnbw0odI15wp6yKmo51_ZziCtMgrIwprGO6sGE4WCyCP-9-6FkOJJLIVcsAzcApXDUc1aiAA2T1owPr6BdcBEga7&quot; width=&quot;40&quot; height=&quot;40&quot; style=&quot;margin-left:0px;margin-top:0px;&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;DISCLAIMERS:&amp;nbsp;If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
