flows/Notify_Client_Advocacy.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Feedback_Email</name>
        <label>Feedback Email</label>
        <locationX>552</locationX>
        <locationY>491</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecepientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@andersonadvisors.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Feedback Submitted</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>Description_Supervisor</name>
        <dataType>String</dataType>
        <expression>{!Description_of_Issue} + 
&quot; Has the supervisor tried to address their concerns: &quot; + {!Has_the_supervisor_tried_to_address_their_concerns}</expression>
    </formulas>
    <formulas>
        <name>Priority</name>
        <dataType>String</dataType>
        <expression>If  ( {!Are_they_expecting_Client_Advocacy_to_contact_them} == &quot;Yes&quot;, &quot;Urgent&quot; ,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Notify Client Advocacy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Client Advocacy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Feedback</name>
        <label>Feedback</label>
        <locationX>657</locationX>
        <locationY>338</locationY>
        <assignRecordIdToReference>FeedbackID</assignRecordIdToReference>
        <connector>
            <targetReference>Feedback_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Items_Completed__c</field>
            <value>
                <elementReference>Action_Items_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expecting_Client_Advocacy_Contact__c</field>
            <value>
                <elementReference>Are_they_expecting_Client_Advocacy_to_contact_them</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Source__c</field>
            <value>
                <stringValue>Client Conversation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Client Concerns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G6f000004jLKg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120B000000N9Wi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_tried_to_address_concerns__c</field>
            <value>
                <elementReference>Has_the_supervisor_tried_to_address_their_concerns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Comments__c</field>
            <value>
                <elementReference>Description_of_Issue</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
    </recordCreates>
    <screens>
        <name>Notify_Client</name>
        <label>Notify Client</label>
        <locationX>563</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Feedback</targetReference>
        </connector>
        <fields>
            <name>Notify_Client_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Notify_Client_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Client__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Client</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Feedback__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Notify_Client_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Feedback__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description_of_Issue</name>
            <fieldText>Description of Issue</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_the_supervisor_tried_to_address_their_concerns</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the supervisor tried to address their concerns?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Action_Items_Completed</name>
            <fieldText>Action Items Completed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_they_expecting_Client_Advocacy_to_contact_them</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are they expecting Client Advocacy to contact them?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Notify_Client</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$User.FirstName},

New Feedback has been created!
Link to the feedback : https://andersonadvisors.lightning.force.com/lightning/r/{!FeedbackID}/view

Thanks,</text>
    </textTemplates>
    <variables>
        <name>Contact_Name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FeedbackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriorityValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Priority</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecepientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$User.Email},clientadvocacy@andersonadvisors.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
