flows/NPS_Case_Weclome_Call_Completed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Welcome_Call_Survey</name>
        <label>Welcome Call Survey</label>
        <locationX>1059</locationX>
        <locationY>229</locationY>
        <actionName>Case.NPS_Welcome_Call_Complete</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Email_and_Last_Welcome_Call</name>
        <label>Check Email and Last Welcome Call</label>
        <locationX>531</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Don&apos;t Send</defaultConnectorLabel>
        <rules>
            <name>Send_NPS</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Account.NPS_Welcome_Call__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fmTodayMinus180</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Account.NPS_Welcome_Call__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Client_E_Mail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_1_Day</targetReference>
            </connector>
            <label>Send NPS</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmTodayMinus180</name>
        <dataType>Date</dataType>
        <expression>Today()-180</expression>
    </formulas>
    <interviewLabel>NPS - Case - Weclome Call Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NPS - Case - Welcome Call Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>251</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_and_Last_Welcome_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recvarTask.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTask</name>
        <label>GetTask</label>
        <locationX>50</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>recvarTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTask</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recvarCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recvarTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_1_Day</name>
        <label>Wait 1 Day</label>
        <locationX>845</locationX>
        <locationY>229</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>X1_Day_Passed</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Welcome_Call_Survey</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>1 Day Passed</label>
        </waitEvents>
    </waits>
</Flow>
