flows/Order_ChangeInActiveUser_s.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Loop_Counter</name>
        <label>Add Loop Counter</label>
        <locationX>531</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Order_List</name>
        <label>Add Order List</label>
        <locationX>976</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>OrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Owner</name>
        <label>Set New Owner</label>
        <locationX>1156</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>Order.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056f00000AZcEgAAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Follow Up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>774</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_s</targetReference>
            </connector>
            <label>Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUserInActive</name>
        <label>CheckUserInActive</label>
        <locationX>922</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Set_New_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>51.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_s</targetReference>
            </connector>
            <label>CheckLoop</label>
        </rules>
        <rules>
            <name>ActiveUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISActiveUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Orders</targetReference>
            </connector>
            <label>Active User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Order_s</name>
        <label>Update Order&apos;s</label>
        <locationX>365</locationX>
        <locationY>532</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Order - ChangeInActiveUser&apos;s {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - ChangeInActiveUser&apos;s</label>
    <loops>
        <name>Loop_over_Orders</name>
        <label>Loop over Orders</label>
        <locationX>366</locationX>
        <locationY>329</locationY>
        <collectionReference>Get_Order_s</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Loop_Counter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_s</name>
        <label>Get Order&apos;s</label>
        <locationX>164</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Needs Follow Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>683</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckUserInActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Orders.Law_Coordinator__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ISActiveUser</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_List</name>
        <label>Update Order List</label>
        <locationX>180</locationX>
        <locationY>537</locationY>
        <inputReference>OrderList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_s</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-03-18</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ISActiveUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
