flows/OrderItem_Trust_Logic_holder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>check_stage_change</name>
        <label>check stage change</label>
        <locationX>840</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateTrust</name>
            <conditionLogic>(4 AND 3 ) OR (1 OR 2) OR (5 OR 6 OR 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trust__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Trust__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trust__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trust__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120B000000N9KlQAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Processing_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Land_Trust_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Processor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrustUpdate</targetReference>
            </connector>
            <label>UpdateTrust</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateOSIlink</name>
        <label>UpdateOSIlink</label>
        <locationX>368</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>check_stage_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OSILink</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trust__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trust__r.OSI_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trust__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120B000000N9KlQAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trust__r.Order_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OSiLinkUdpate</targetReference>
            </connector>
            <label>OSILink</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsOSINew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OrderLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://andersonadvisors.lightning.force.com/lightning/r/Order/&quot;+{!$Record.OrderId}+&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>UpdateOsiInTrust</name>
        <dataType>String</dataType>
        <expression>&quot;https://andersonadvisors.lightning.force.com/lightning/r/OrderItem/&quot;+{!$Record.Id}+&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>OrderItem -Trust Logic holder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OrderItem -Trust Logic holder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>OSiLinkUdpate</name>
        <label>OSiLinkUdpate</label>
        <locationX>268</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>check_stage_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trust__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OSI_Link__c</field>
            <value>
                <elementReference>UpdateOsiInTrust</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Link__c</field>
            <value>
                <elementReference>OrderLink</elementReference>
            </value>
        </inputAssignments>
        <object>Trust__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>TrustComments</name>
        <label>TrustComments</label>
        <locationX>690</locationX>
        <locationY>633</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trust__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OSI_Comments_Section__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <object>Trust__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>TrustUpdate</name>
        <label>TrustUpdate</label>
        <locationX>1046</locationX>
        <locationY>407</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trust__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Success_Coordinator1__c</field>
            <value>
                <elementReference>$Record.Law_Coordinator_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Land_Trust_Processer__c</field>
            <value>
                <elementReference>$Record.Processor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Land_Trust_Reviewer__c</field>
            <value>
                <elementReference>$Record.Land_Trust_Reviewer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSI_Comments_Section__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.Processing_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Trust__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CSC</name>
        <label>Update CSC</label>
        <locationX>1096</locationX>
        <locationY>553</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trust__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Success_Coordinator1__c</field>
            <value>
                <elementReference>$Record.Law_Coordinator_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Trust__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Land_trust_reviewer</name>
        <label>Update Land trust reviewer</label>
        <locationX>946</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trust__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Land_Trust_Reviewer__c</field>
            <value>
                <elementReference>$Record.Land_Trust_Reviewer__c</elementReference>
            </value>
        </inputAssignments>
        <object>Trust__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_on_Trust</name>
        <label>Update Stage on Trust</label>
        <locationX>432</locationX>
        <locationY>618</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trust__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120B000000N9KlQAK</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.Processing_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Trust__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProcesser</name>
        <label>UpdateProcesser</label>
        <locationX>811</locationX>
        <locationY>634</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trust__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Land_Trust_Processer__c</field>
            <value>
                <elementReference>$Record.Processor__c</elementReference>
            </value>
        </inputAssignments>
        <object>Trust__c</object>
    </recordUpdates>
    <start>
        <locationX>648</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>UpdateOSIlink</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
