flows/OSI_Stage_Update_based_on_Entity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_List_OSI</name>
        <label>Add to List OSI</label>
        <locationX>797</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>OSI_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_OSI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deed_Sent_To_Processingx1</name>
        <label>Deed - Sent To Processing</label>
        <locationX>798</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OSI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_OSI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OSI_Completed</name>
        <label>OSI Completed</label>
        <locationX>562</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.Processing_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OSI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_OSI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OSI_Sent_to_County</name>
        <label>OSI - Sent to County</label>
        <locationX>879</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.Processing_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent to County</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OSI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_OSI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OSI_Signed_Original_Received</name>
        <label>OSI - Signed Original Received</label>
        <locationX>692</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.Processing_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signed Original Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OSI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_OSI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sent_to_Client_for_Signatures</name>
        <label>Sent to Client for Signatures</label>
        <locationX>1005</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.Processing_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent to Client for Signatures</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OSI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_OSI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>804</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Loop_on_OSI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deed_Sent_To_Client_TrackingNumberDeedtoClientforSign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeedSentToClient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrackingNumberDeedtoClientforSign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_OSI.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_to_Client_for_Signatures</targetReference>
            </connector>
            <label>Deed Sent To Client &amp;&amp; TrackingNumberDeedtoClientforSign</label>
        </rules>
        <rules>
            <name>Deed_FiledDeedSenttoClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FiledDeedSenttoClient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_OSI.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OSI_Completed</targetReference>
            </connector>
            <label>Deed - FiledDeedSenttoClient</label>
        </rules>
        <rules>
            <name>Deed_Receivedfromclient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Receivedfromclient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_OSI.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OSI_Signed_Original_Received</targetReference>
            </connector>
            <label>Deed - Receivedfromclient</label>
        </rules>
        <rules>
            <name>Deedsenttocounty1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deedsenttocounty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_OSI.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OSI_Sent_to_County</targetReference>
            </connector>
            <label>Deedsenttocounty</label>
        </rules>
        <rules>
            <name>Landtrust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_OSI.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Land Trust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShippedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Trackingnumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OSI_Completed</targetReference>
            </connector>
            <label>Landtrust</label>
        </rules>
        <rules>
            <name>Deed_Sent_To_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent To Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Entity_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012U0000000DW1kIAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deed_Sent_To_Processingx1</targetReference>
            </connector>
            <label>Deed - Sent To Processing</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 14</expression>
    </formulas>
    <interviewLabel>OSI - Stage Update based on Entity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OSI - Stage Update based on Entity</label>
    <loops>
        <name>Loop_on_OSI</name>
        <label>Loop on OSI</label>
        <locationX>439</locationX>
        <locationY>204</locationY>
        <collectionReference>Get_OSI_s</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OSI_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Entity_Record</name>
        <label>Get Entity Record</label>
        <locationX>81</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OSI_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OSI_s</name>
        <label>Get OSI&apos;s</label>
        <locationX>285</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_OSI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Entity_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OSI_s</name>
        <label>Update OSI&apos;s</label>
        <locationX>251</locationX>
        <locationY>485</locationY>
        <inputReference>OSI_List</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Entity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeedSentToClient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Deedsenttocounty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FiledDeedSenttoClient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OSI_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Receivedfromclient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippedDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Trackingnumber</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TrackingNumberDeedtoClientforSign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
