flows/Pension_Annual_Renewal_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>August</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),8,31)</expression>
    </formulas>
    <interviewLabel>Pension - Annual Renewal Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pension - Annual Renewal Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Annual_Maintenance_Item</name>
        <label>Add Annual Maintenance Item</label>
        <locationX>634</locationX>
        <locationY>214</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PensionSaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t0B000007xycHQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>350.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Build_Pension_Sale</name>
        <label>Build Pension Sale</label>
        <locationX>236</locationX>
        <locationY>208</locationY>
        <assignRecordIdToReference>PensionSaleId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Sale_Entity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2020-10-31</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>EntityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Made_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Annual Plan Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01sU0000000DX8aIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012U0000000g4stIAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sale_Entity</name>
        <label>Create Sale Entity</label>
        <locationX>455</locationX>
        <locationY>208</locationY>
        <assignRecordIdToReference>SaleEntityId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Annual_Maintenance_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>EntityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EntityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>PensionSaleId</elementReference>
            </value>
        </inputAssignments>
        <object>SaleEntity__c</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Build_Pension_Sale</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PensionSaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaleEntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
