flows/Peter_Pasternack_Text_Event.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Campaign_Member_Already_Created</name>
        <label>Campaign Member Already Created</label>
        <locationX>239</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>Campaign_Member_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Member</targetReference>
            </connector>
            <label>Campaign Member Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact</label>
        <locationX>492</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>New_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Lead</defaultConnectorLabel>
        <rules>
            <name>Contact_Isn_t_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Campaign_Member</targetReference>
            </connector>
            <label>Contact Isn&apos;t Empty</label>
        </rules>
    </decisions>
    <formulas>
        <name>Campaign</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS(LOWER({!Message}), &quot;peter2&quot;), &quot;7010B000001SjXB&quot;, &quot;7010B000001SjWD&quot;)</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!Mobile} + &quot; - Text Message Lead&quot;</expression>
    </formulas>
    <interviewLabel>Peter Pasternack Text Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Peter Pasternack Text Event</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>419</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>New_Lead</name>
        <label>New Lead</label>
        <locationX>766</locationX>
        <locationY>27</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Campaign_Source__c</field>
            <value>
                <elementReference>Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Campaign_Member</name>
        <label>Lookup Campaign Member</label>
        <locationX>237</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Member_Already_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CampaignMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lead_or_Contact</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
