flows/Platinum_Portal_Team_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Updates the details for the Clients Platinum portal team.</description>
    <formulas>
        <description>Removes the term (admin) if it is contained in the bookkeeper name.</description>
        <name>fmBookkeeperName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Client.Bookkeeper_Picklist__c}),&quot; (admin)&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Platinum Team Details Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Platinum Portal Team Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounting_Coordinator</name>
        <label>Get Accounting Coordinator</label>
        <locationX>1267</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Team</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Accounting_Coordinators__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerPartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>AC_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AC_Image</assignToReference>
            <field>Image_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AC_Phone</assignToReference>
            <field>Phone_and_Extension__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_BCP_Manager</name>
        <label>Get BCP Manager</label>
        <locationX>391</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Law_Coordinator</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Assigned_BCP_Rep__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerPartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>BCP_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BCP_Image</assignToReference>
            <field>Image_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BCP_Phone</assignToReference>
            <field>Phone_and_Extension__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Bookkeeper</name>
        <label>Get Bookkeeper</label>
        <locationX>1102</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounting_Coordinator</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmBookkeeperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerPartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>BK_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BK_Image</assignToReference>
            <field>Image_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BK_Phone</assignToReference>
            <field>Phone_and_Extension__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Client</name>
        <label>Get Client</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BCP_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Law_Coordinator</name>
        <label>Get Law Coordinator</label>
        <locationX>571</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Senior_Advisor</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Assigned_CSR__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerPartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>LC_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LC_Image</assignToReference>
            <field>Image_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LC_Phone</assignToReference>
            <field>Phone_and_Extension__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Senior_Advisor</name>
        <label>Get Senior Advisor</label>
        <locationX>736</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tax_Preparer</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Senior_Advisor_Picklist__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerPartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SA_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SA_Image</assignToReference>
            <field>Image_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SA_Phone</assignToReference>
            <field>Phone_and_Extension__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tax_Preparer</name>
        <label>Get Tax Preparer</label>
        <locationX>931</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bookkeeper</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Tax_Preparer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerPartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>TP_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TP_Image</assignToReference>
            <field>Image_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TP_Phone</assignToReference>
            <field>Phone_and_Extension__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Team</name>
        <label>Update Team</label>
        <locationX>1267</locationX>
        <locationY>485</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accounting_Coordinators_Email__c</field>
            <value>
                <elementReference>AC_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Coordinators_Phone__c</field>
            <value>
                <elementReference>AC_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_ImageURL__c</field>
            <value>
                <elementReference>AC_Image</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedBCPManager_ImageUrl__c</field>
            <value>
                <elementReference>BCP_Image</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_BCP_Manager_Email__c</field>
            <value>
                <elementReference>BCP_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_BCP_Manager_Phone__c</field>
            <value>
                <elementReference>BCP_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Law_Coordinator_Email__c</field>
            <value>
                <elementReference>LC_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Law_Coordinator_Phone__c</field>
            <value>
                <elementReference>LC_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookkeeper_Email__c</field>
            <value>
                <elementReference>BK_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookkeeper_ImageURL__c</field>
            <value>
                <elementReference>BK_Image</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookkeeper_Phone__c</field>
            <value>
                <elementReference>BK_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fix_Team__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_ImageURL__c</field>
            <value>
                <elementReference>LC_Image</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SeniorAdvisor_ImageURL__c</field>
            <value>
                <elementReference>SA_Image</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Senior_Advisor_Email__c</field>
            <value>
                <elementReference>SA_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Senior_Advisor_Phone__c</field>
            <value>
                <elementReference>SA_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Preparer_Email__c</field>
            <value>
                <elementReference>TP_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Preparer_ImageURL__c</field>
            <value>
                <elementReference>TP_Image</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Preparer_Phone__c</field>
            <value>
                <elementReference>TP_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Client</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AC_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AC_Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AC_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BCP_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BCP_Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BCP_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BK_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Bookkeeper Image URL</description>
        <name>BK_Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Bookkeeper Name</description>
        <name>BK_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BK_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LC_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LC_Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LC_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LC_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Senior Advisor Image URL</description>
        <name>SA_Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Senior Advisor Name</description>
        <name>SA_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TP_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TP_Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Tax Preparer Name</description>
        <name>TP_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TP_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
