flows/Project_and_Task_Tax_Advantage_Program.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_project_Exists</name>
        <label>If project Exists</label>
        <locationX>176</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tax_Project_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaxProjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project</targetReference>
            </connector>
            <label>Tax Project Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_Active</name>
        <label>If User Active</label>
        <locationX>614</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerId_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>OwnerId Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>BackInTime55Minutes</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/26)</expression>
    </formulas>
    <interviewLabel>Project and Task-Tax Advantage Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project and Task-Tax Advantage Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>318</locationX>
        <locationY>375</locationY>
        <assignRecordIdToReference>NewProjectID</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_User</targetReference>
        </connector>
        <inputAssignments>
            <field>H2S__Account__c</field>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>H2S__TotalProjectFees__c</field>
            <value>
                <numberValue>3000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Tax Advantage Program</stringValue>
            </value>
        </inputAssignments>
        <object>H2S__HarvestProject__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>861</locationX>
        <locationY>364</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please properly sync this project with Harvest and complete the task when you&apos;re done!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Harvest Sync Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>NewProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_the_Project</name>
        <label>Get the Project</label>
        <locationX>180</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_project_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>H2S__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>H2S__DateCompleted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Tax Advantage Program</stringValue>
            </value>
        </filters>
        <object>H2S__HarvestProject__c</object>
        <outputAssignments>
            <assignToReference>TaxProjectId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>470</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_User_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brina DeLeon</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Wait_5_Minutes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_5_Minutes</name>
        <label>Wait 5 Minutes</label>
        <locationX>176</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_the_Project</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>BackInTime55Minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Always Pause</label>
        </waitEvents>
    </waits>
</Flow>
