flows/Refund_Credit_Wizard.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_if_the_Credit_Balance_Refund_Balance</name>
        <label>Check if the Credit Balance &gt; Refund Balance</label>
        <locationX>716</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Balance_Refund_Balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>convertCreditsalePositiveBalance</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>RefundBalance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Processing_0</targetReference>
            </connector>
            <label>Credit Balance &gt; Refund Balance</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CreditSales</name>
        <dataType>String</dataType>
        <displayField>Sale_name_and_Balance_creditwizard__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Credit To Be Used</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>CreditBalanceDue</assignToReference>
            <field>ChargentSFA__Balance_Due__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditSalesID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditSaleInvoiceNumber</assignToReference>
            <field>QB_Invoice_Number__c</field>
        </outputAssignments>
        <valueField>Sale_name_and_Balance_creditwizard__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ClientcreditUpdate</name>
        <dataType>Number</dataType>
        <expression>{!convertCreditsalePositiveBalance}-{!RefundBalance}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>convertCreditsalePositiveBalance</name>
        <dataType>Number</dataType>
        <expression>-{!CreditBalanceDue}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CreditGatewayText</name>
        <dataType>String</dataType>
        <expression>&quot;Credit went to Invoice # &quot; + {!InvoiceNumber}</expression>
    </formulas>
    <formulas>
        <name>CreditSaleTransactionLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://platinum.force.com/aba/s/transaction/&quot; +{!Create_Transaction_On_credit_sale}</expression>
    </formulas>
    <formulas>
        <name>CreditTransactionamount</name>
        <dataType>Number</dataType>
        <expression>-{!Refund_Sale_Charge_Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RefundGatewayText</name>
        <dataType>String</dataType>
        <expression>&quot;Credit Came from Invoice # &quot; +{!CreditSaleInvoiceNumber}</expression>
    </formulas>
    <formulas>
        <name>RefundsaleTransactionSale</name>
        <dataType>String</dataType>
        <expression>&quot;https://platinum.force.com/aba/s/transaction/&quot;+{!Create_Transaction_On_sale}</expression>
    </formulas>
    <interviewLabel>Refund - Credit Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund - Credit Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transaction_On_credit_sale</name>
        <label>Create Transaction On  credit sale</label>
        <locationX>1128</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentSFA__Amount__c</field>
            <value>
                <elementReference>CreditTransactionamount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Gateway_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Gateway_ID__c</field>
            <value>
                <elementReference>Credit_Transaction_Gateway</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Opportunity__c</field>
            <value>
                <elementReference>CreditSalesID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Payment_Method__c</field>
            <value>
                <stringValue>Credit to be used</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Response_Message__c</field>
            <value>
                <elementReference>Credit_Transaction_Gateway</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Type__c</field>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Reason__c</field>
            <value>
                <stringValue>Applied to Another Sale</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentSFA__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_On_sale</name>
        <label>Create Transaction On sale</label>
        <locationX>977</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>Create_Transaction_On_credit_sale</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentSFA__Amount__c</field>
            <value>
                <elementReference>Refund_Sale_Charge_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Gateway_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Gateway_ID__c</field>
            <value>
                <elementReference>Refund_Transaction_Gateway</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Opportunity__c</field>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Payment_Method__c</field>
            <value>
                <stringValue>Credit to be used</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Response_Message__c</field>
            <value>
                <elementReference>Refund_Transaction_Gateway</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Response_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentSFA__Type__c</field>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </inputAssignments>
        <object>ChargentSFA__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account_Details</name>
        <label>Get account Details</label>
        <locationX>67</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_opportunity_Line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ClientCredit</assignToReference>
            <field>Credit_Available__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity_Line_items</name>
        <label>Get opportunity Line items</label>
        <locationX>212</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Processing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Name__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_record_details</name>
        <label>Get Refund record details</label>
        <locationX>58</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RefundID</elementReference>
            </value>
        </filters>
        <object>Refund__c</object>
        <outputAssignments>
            <assignToReference>ClientID</assignToReference>
            <field>Client__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SaleId</assignToReference>
            <field>Sale__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_Sale_Records</name>
        <label>Get Refund Sale Records</label>
        <locationX>552</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_Credit_Balance_Refund_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>RefundBalance</assignToReference>
            <field>ChargentSFA__Balance_Due__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SaleName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceNumber</assignToReference>
            <field>QB_Invoice_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Credit_Processing</name>
        <label>Credit Processing</label>
        <locationX>379</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Refund_Sale_Records</targetReference>
        </connector>
        <fields>
            <name>ClientDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Client Name:{!ClientName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Credit Available:{!ClientCredit}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Br</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Available_Sale_Credits</name>
            <choiceReferences>CreditSales</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Sale Credits</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UseSalecredit</name>
            <fieldText>&lt;p&gt;If you want to use the selected credit sale please click on the Next button&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Processing_0</name>
        <label>Credit Processing</label>
        <locationX>905</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Transaction_On_sale</targetReference>
        </connector>
        <fields>
            <name>ServicesPresent</name>
            <fieldText>&lt;p&gt;The {!SaleName} Sale has the following services&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceitemsList</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard7</name>
                <value>
                    <elementReference>Get_opportunity_Line_items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Service_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Service Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>ListPrice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>ListPrice</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Br2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvoiceNumbers</name>
            <fieldText>&lt;p&gt;Refund Sale Invoice Number:{!InvoiceNumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Credit Sale Invoice Number:&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!CreditSaleInvoiceNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UseSalecredit_0</name>
            <fieldText>&lt;p&gt;Please enter the gateway details to be entered on Refund Sale and credit sale Transactions&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Refund_Transaction_Gateway</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RefundGatewayText</elementReference>
            </defaultValue>
            <fieldText>Refund Transaction Gateway</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Credit_Transaction_Gateway</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CreditGatewayText</elementReference>
            </defaultValue>
            <fieldText>Credit Transaction Gateway</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Refund_Sale_Charge_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>RefundBalance</elementReference>
            </defaultValue>
            <fieldText>Refund Sale Charge Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>1271</locationX>
        <locationY>160</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TransactionDetails</name>
            <fieldText>&lt;p&gt;The Transactions are created on the Refund sale and Credit sale&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;a href=&quot;{!RefundsaleTransactionSale}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to check the Refund Sale Transaction &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;a href=&quot;{!CreditSaleTransactionLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to check the Credit Sale Transaction&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Refund_record_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientCredit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditBalanceDue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CreditGateway</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditSaleInvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditSalesID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RefundID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundSaleGateway</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
