flows/Sales_Rep_Find_and_record_community_user_id.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>FullNamePlusCommunityTest</name>
        <dataType>String</dataType>
        <expression>{!FirstName} + &quot; &quot; + {!LastName} + &quot; (Community Test)&quot;</expression>
    </formulas>
    <interviewLabel>Sales Rep - Find and record community user id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Rep - Find and record community user id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Community_User</name>
        <label>Find Community User</label>
        <locationX>208</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Sales_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FullNamePlusCommunityTest</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CommunityUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Rep</name>
        <label>Update Sales Rep</label>
        <locationX>361</locationX>
        <locationY>155</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesRepId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Community_User__c</field>
            <value>
                <elementReference>CommunityUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Rep__c</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Find_Community_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommunityUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesRepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
