flows/Sale_Accounting_Starter_Package.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddOneOtherItem</name>
        <label>AddOneOtherItem</label>
        <locationX>390</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>OtherServiceItemCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOneReplenishment</name>
        <label>AddOneReplenishment</label>
        <locationX>872</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>TaxReplenishmentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_EF_Case</name>
        <label>Found EF Case?</label>
        <locationX>1187</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>Find_Tax_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Entity_Formation_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Welcome_Task_0</targetReference>
            </connector>
            <label>Found Entity Formation Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_EF_Case_0</name>
        <label>Found EF Case?</label>
        <locationX>976</locationX>
        <locationY>1018</locationY>
        <defaultConnector>
            <targetReference>Find_Tax_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Entity_Formation_Case_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Welcome_Call_0</targetReference>
            </connector>
            <label>Found Entity Formation Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Task</name>
        <label>Found Task?</label>
        <locationX>609</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Create_Welcome_Call_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Welcome_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Welcome_Call</targetReference>
            </connector>
            <label>Welcome Found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Task_0</name>
        <label>Found Task?</label>
        <locationX>1084</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>Create_Welcome_Call_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Welcome_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Welcome_Call_0</targetReference>
            </connector>
            <label>Welcome Found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Tax_Case</name>
        <label>Found Tax Case?</label>
        <locationX>1587</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Create_Welcome_Call_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tax_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Welcome_Call_0_0_0_0_0</targetReference>
            </connector>
            <label>Tax Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Tax_Case_0</name>
        <label>Found Tax Case?</label>
        <locationX>1375</locationX>
        <locationY>1017</locationY>
        <defaultConnector>
            <targetReference>Create_Welcome_Call_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tax_Case_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Welcome_Call_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Tax Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_the_AS_Case</name>
        <label>Found the AS Case?</label>
        <locationX>758</locationX>
        <locationY>546</locationY>
        <defaultConnector>
            <targetReference>Find_Entity_Formation_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_AS_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Welcome_Task</targetReference>
            </connector>
            <label>Found AS Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_the_AS_Case_0</name>
        <label>Found the AS Case?</label>
        <locationX>565</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Find_Entity_Formation_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_AS_Case_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Welcome_Call</targetReference>
            </connector>
            <label>Found AS Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_Replenishment_Items</name>
        <label>Tax Replenishment Items</label>
        <locationX>628</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>AddOneOtherItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Replenishment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecord.Service_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accounting Starter Package</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOneReplenishment</targetReference>
            </connector>
            <label>Replenishment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whats_the_Service_Item_Count</name>
        <label>Whats the Service Item Count</label>
        <locationX>278</locationX>
        <locationY>469</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_Replenishment_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaxReplenishmentCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OtherServiceItemCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_User</targetReference>
            </connector>
            <label>Only Replenishment Items</label>
        </rules>
        <rules>
            <name>Replenishment_and_Other_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherServiceItemCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaxReplenishmentCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_User_0</targetReference>
            </connector>
            <label>Replenishment and Other Items</label>
        </rules>
    </decisions>
    <formulas>
        <name>BackInTime55Minutes</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/26)</expression>
    </formulas>
    <formulas>
        <name>OwnerIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!UserId}), CASESAFEID(&quot;005U0000001DC1yIAG&quot;), {!UserId})</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD( TODAY() - DATE(1900, 1, 7), 7),
0, TODAY()+2, 
1, TODAY()+2, 
2, TODAY()+2, 
3, TODAY()+2, 
4, TODAY()+1,
5, TODAY()+3, 
6, TODAY()+2, 
TODAY())</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Sale - Tax Replenishment Welcome Task Creation Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sale - Accounting Starter Package</label>
    <loops>
        <name>Loop_Through_OLIs</name>
        <label>Loop Through OLIs</label>
        <locationX>631</locationX>
        <locationY>341</locationY>
        <assignNextValueToReference>LoopRecord</assignNextValueToReference>
        <collectionReference>SaleOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tax_Replenishment_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Whats_the_Service_Item_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Welcome_Call</name>
        <label>Create Welcome Call</label>
        <locationX>573</locationX>
        <locationY>1215</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call_0</name>
        <label>Create Welcome Call</label>
        <locationX>986</locationX>
        <locationY>1218</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call_0_0</name>
        <label>Create Welcome Call</label>
        <locationX>1620</locationX>
        <locationY>1015</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This is an automated Tax Welcome Call task to follow up with the client regarding their recent purchase. No open case was found at the time of this tasks creation.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call_0_0_0</name>
        <label>Create Welcome Call</label>
        <locationX>618</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call_0_0_0_0</name>
        <label>Create Welcome Call</label>
        <locationX>1089</locationX>
        <locationY>872</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call_0_0_0_0_0</name>
        <label>Create Welcome Call</label>
        <locationX>1596</locationX>
        <locationY>728</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call_0_0_0_0_0_0</name>
        <label>Create Welcome Call</label>
        <locationX>1389</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call_0_0_0_0_0_0_0</name>
        <label>Create Welcome Call</label>
        <locationX>1845</locationX>
        <locationY>537</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This is an automated Tax Welcome Call task to follow up with the client regarding their recent purchase. No open case was found at the time of this tasks creation.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Find_AS_Case</name>
        <label>Find AS Case</label>
        <locationX>647</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_the_AS_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000g6UJIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_AS_Case_0</name>
        <label>Find AS Case</label>
        <locationX>422</locationX>
        <locationY>1017</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_the_AS_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000g6UJIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Entity_Formation_Case</name>
        <label>Find Entity Formation Case</label>
        <locationX>1016</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_EF_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000g6UTIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Entity_Formation_Case_0</name>
        <label>Find Entity Formation Case</label>
        <locationX>812</locationX>
        <locationY>1016</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_EF_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000g6UTIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_OLIs</name>
        <label>Find OLIs</label>
        <locationX>300</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SaleOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id__c</queriedFields>
        <queriedFields>Service_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Tax_Case</name>
        <label>Find Tax Case</label>
        <locationX>1445</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Tax_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000g6UOIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Tax_Case_0</name>
        <label>Find Tax Case</label>
        <locationX>1215</locationX>
        <locationY>1012</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Tax_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000g6UOIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Welcome_Task</name>
        <label>Find Welcome Task</label>
        <locationX>764</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>BackInTime55Minutes</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Welcome</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>TaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Welcome_Task_0</name>
        <label>Find Welcome Task</label>
        <locationX>1193</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Task_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>BackInTime55Minutes</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>TaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>533</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_AS_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User_0</name>
        <label>Lookup User</label>
        <locationX>287</locationX>
        <locationY>1017</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_AS_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Welcome_Call</name>
        <label>Update Welcome Call</label>
        <locationX>442</locationX>
        <locationY>730</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Welcome_Call_0</name>
        <label>Update Welcome Call</label>
        <locationX>940</locationX>
        <locationY>703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Accounting Starter Pack Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Wait_5_then_go</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OtherServiceItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaleOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxReplenishmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_5_then_go</name>
        <label>Wait 5 then go</label>
        <locationX>300</locationX>
        <locationY>159</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Find_OLIs</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>BackInTime55Minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Always Pause</label>
        </waitEvents>
    </waits>
</Flow>
