flows/Sale_Infinity_Trigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Platinum_WP_User</name>
        <label>Create Platinum WP User</label>
        <locationX>199</locationX>
        <locationY>541</locationY>
        <actionName>PlatinumSaleWPuserflow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Sale_Record_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SaleIDs</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DigitalProductsSaleWPuserCreatioSa</name>
        <label>DigitalProductsSaleWPuserCreatioSan</label>
        <locationX>456</locationX>
        <locationY>166</locationY>
        <actionName>DigitalProductsSaleWPuserCreation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_Primary_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SaleIDs</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Service_codeUpdate</name>
        <label>Service codeUpdate</label>
        <locationX>1031</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>UpdateserviceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_IF_the_Service_item_Is_updated_on_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_codeUpdate_0</name>
        <label>Service codeUpdate</label>
        <locationX>1088</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>UpdateserviceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Real</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_IF_the_Service_item_Is_updated_on_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_codeUpdate_0_0</name>
        <label>Service codeUpdate</label>
        <locationX>1102</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>UpdateserviceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_IF_the_Service_item_Is_updated_on_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_codeUpdate_0_0_0</name>
        <label>Service codeUpdate</label>
        <locationX>1082</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>UpdateserviceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>360</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_IF_the_Service_item_Is_updated_on_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Service_Item</name>
        <label>Check for Service Item</label>
        <locationX>932</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Item_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11773</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_codeUpdate_0_0</targetReference>
            </connector>
            <label>Stock Pro</label>
        </rules>
        <rules>
            <name>Real_Estate_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Item_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11775</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_codeUpdate_0</targetReference>
            </connector>
            <label>Real Estate Pro</label>
        </rules>
        <rules>
            <name>Basic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Item_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11774</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_codeUpdate</targetReference>
            </connector>
            <label>Basic</label>
        </rules>
        <rules>
            <name>Summit_Investor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Item_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11776</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_codeUpdate_0_0_0</targetReference>
            </connector>
            <label>360</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IF_the_Service_item_Is_updated_on_Contact</name>
        <label>Check IF the Service item Is updated on Contact</label>
        <locationX>1313</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Update_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ConTactHasServiceItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceItems</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UpdateserviceCode</elementReference>
                </rightValue>
            </conditions>
            <label>ConTactHasServiceItem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sale_type</name>
        <label>Check Sale type</label>
        <locationX>200</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Platinum_Subscription</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Infinity_Sale_Dataload__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_User_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Platinum_WP_User</targetReference>
            </connector>
            <label>Platinum Subscription</label>
        </rules>
        <rules>
            <name>Mastermind_signup</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 8) AND (5 OR 6) AND 7 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Item_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11775</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Item_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11773</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Item_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11774</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Item_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11776</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment/Partial Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Infinity_Sale_Dataload__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Item_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A12363</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_User_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DigitalProductsSaleWPuserCreatioSa</targetReference>
            </connector>
            <label>Mastermind signup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Primary_Contact</name>
        <label>Found Primary Contact</label>
        <locationX>628</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Oldest_Contact</targetReference>
            </connector>
            <label>Yes Primary contact</label>
        </rules>
        <rules>
            <name>NoPrimaryContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoPrimaryContact</label>
        </rules>
    </decisions>
    <formulas>
        <name>ContactServiceItemUpdate</name>
        <dataType>String</dataType>
        <expression>If({!CurrentServiceItems}!=&apos;&apos;,{!CurrentServiceItems} + {!UpdateserviceCode}+&apos;, &apos;,{!UpdateserviceCode})+&apos;, &apos;</expression>
    </formulas>
    <interviewLabel>Sale - Infinity Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sale - Infinity Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Oldest_Contact</name>
        <label>Find Oldest Contact</label>
        <locationX>734</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Sale_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PrimaryContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Primary_Contact</name>
        <label>Find Primary Contact</label>
        <locationX>599</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Roles__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PrimaryContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_ContactServiceItem</name>
        <label>Get Primary ContactServiceItem</label>
        <locationX>886</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Service_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CurrentServiceItems</assignToReference>
            <field>Service_Item_List__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>1502</locationX>
        <locationY>318</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Item_List__c</field>
            <value>
                <elementReference>ContactServiceItemUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sale_Record</name>
        <label>Update Sale Record</label>
        <locationX>820</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Get_Primary_ContactServiceItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_User_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sale_Record_0</name>
        <label>Update Sale Record</label>
        <locationX>187</locationX>
        <locationY>717</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_User_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Check_Sale_type</targetReference>
        </connector>
        <filterLogic>(1  OR 7 ) AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 8 )</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Item_List__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>A11774</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Item_List__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>A11773</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Item_List__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>A11776</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Item_List__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>A11775</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000g5s4IAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfillment/Partial Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Item_List__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>A12363</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentServiceItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateserviceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
