flows/Sale_Platinum_Courses_Update_Contact_Service_Item_List.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FetchUpdatedSIList</name>
        <label>FetchUpdatedSIList</label>
        <locationX>439</locationX>
        <locationY>240</locationY>
        <actionName>ContactServiceItemUpdateHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Service_Item_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>digitalProds</name>
            <value>
                <elementReference>DigitalProds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>existingSIs</name>
            <value>
                <elementReference>ExistingServiceItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>incomingSIs</name>
            <value>
                <elementReference>ServiceItemList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>infinityProds</name>
            <value>
                <elementReference>InfinityProds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NewSIList</assignToReference>
            <name>contactSIList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Campaign_IDs</name>
        <label>Assign Campaign IDs</label>
        <locationX>1202</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs_0</name>
        <label>Assign Campaign IDs</label>
        <locationX>1063</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000002FzQSAA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tax_ToolBox_0</name>
        <label>Tax ToolBox?</label>
        <locationX>656</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesToolBox_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceItemList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A09275</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CampaignId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>BackInTime55Minutes</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/24.3)</expression>
    </formulas>
    <formulas>
        <name>updatedContactServiceItemList</name>
        <dataType>String</dataType>
        <expression>{!currentContactServiceItemList} + {!ServiceItemListClean}</expression>
    </formulas>
    <interviewLabel>Sale - Platinum Courses - Update Contact Service Item List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sale - Platinum Courses - Update Contact Service Item List</label>
    <loops>
        <name>Loop_through_the_Campaigns</name>
        <label>Loop through the Campaigns</label>
        <locationX>1000</locationX>
        <locationY>414</locationY>
        <collectionReference>Get_CampaignId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Campaign_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Campaign_IDs_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CampaignId</name>
        <label>Get CampaignId</label>
        <locationX>843</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_Campaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Tax Wise Workshop</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Item_List</name>
        <label>Update Service Item List</label>
        <locationX>600</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>Tax_ToolBox_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Item_List__c</field>
            <value>
                <elementReference>NewSIList</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>236</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>FetchUpdatedSIList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>653</locationX>
        <locationY>608</locationY>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>ConId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentContactServiceItemList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DigitalProds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Digital_Course__mdt</objectType>
    </variables>
    <variables>
        <name>ExistingServiceItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfinityProds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Infinity_Subscription_Product__mdt</objectType>
    </variables>
    <variables>
        <name>NewSIList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProdASIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceItemList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceItemListClean</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
