flows/Sale_Scheduled_Close_Lost_Old_Renewals.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Record_Collection</name>
        <label>Add To Record Collection</label>
        <locationX>812</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRenewalSales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarRenewalSale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Renewal_Sales_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>812</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>loopVarRenewalSale.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopVarRenewalSale.Closed_Lost_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Record_Collection</targetReference>
        </connector>
    </assignments>
    <description>Will set the Stage of a Renewal Sale to Close Lost if the Close Date is more than 6 months old.</description>
    <formulas>
        <name>fmTodayLess6Months</name>
        <dataType>Date</dataType>
        <expression>Today() - 180</expression>
    </formulas>
    <interviewLabel>Sale - Scheduled - Close Lost Old Renewals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sale - Scheduled - Close Lost Old Renewals</label>
    <loops>
        <name>Renewal_Sales_Collection</name>
        <label>Renewal Sales Collection</label>
        <locationX>486</locationX>
        <locationY>123</locationY>
        <assignNextValueToReference>loopVarRenewalSale</assignNextValueToReference>
        <collectionReference>Get_Renewal_Sales</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Update_Renewal_Sales</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Renewal_Sales</name>
        <label>Renewal Sales</label>
        <locationX>221</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Sales_Collection</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0010B00001xFkWPQA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fmTodayLess6Months</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000DhZz</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000DhZQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Closed_Lost_Reason__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Bulk_Update_Renewal_Sales</name>
        <label>Bulk Update Renewal Sales</label>
        <locationX>488</locationX>
        <locationY>419</locationY>
        <inputReference>UpdatedRenewalSales</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Renewal_Sales</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2020-02-16</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>loopVarRenewalSale</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedRenewalSales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
