flows/Sale_Infinity_Subscription.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_the_Sale_List_0</name>
        <label>Add to the Sale List</label>
        <locationX>1156</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>SaleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_subscription_Sale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_Sale_List_0_0_0</name>
        <label>Add to the Sale List</label>
        <locationX>1265</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>SaleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_subscription_Sale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_Sale_List_0_0_0_0_0</name>
        <label>Add to the Sale List</label>
        <locationX>1265</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>SaleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_subscription_Sale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_Sale_List_0_0_0_0_0_0</name>
        <label>Add to the Sale List</label>
        <locationX>1398</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>SaleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_subscription_Sale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Infinity_Subscription_record_0</name>
        <label>Create Infinity Subscription record</label>
        <locationX>723</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>Sale.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Infinity Subscription - RE Pro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardExpirationYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0P6f00000K2yKcEAJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentStartDateYearly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Stop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Made_by_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Main_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainLeadsource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120B000000N8E5QAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Charge_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>995.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Sale_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salecampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Sale_Parent_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleParentcampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Memebership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Real</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Membership_Expiration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentStartDateYearly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YEARLY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Sale_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Infinity_Subscription_record_0_0_0</name>
        <label>Create Infinity Subscription record</label>
        <locationX>959</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>Sale.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Infinity Subscription - Stock Pro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardExpirationYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0P6f00000K2yKcEAJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentStartDateYearly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Stop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Made_by_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Main_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainLeadsource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120B000000N8E5QAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Charge_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>995.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Sale_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salecampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Sale_Parent_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleParentcampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Memebership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Membership_Expiration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentStartDateYearly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YEARLY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Sale_List_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Infinity_Subscription_record_0_0_0_0_0</name>
        <label>Create Infinity Subscription record</label>
        <locationX>956</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>Sale.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Infinity Subscription - 360 Pro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardExpirationYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0P6f00000K2yKcEAJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentStartDateYearly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Payment_Stop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Made_by_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Main_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainLeadsource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120B000000N8E5QAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Charge_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1295.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Sale_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salecampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Sale_Parent_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleParentcampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Memebership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>360</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Membership_Expiration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentStartDateYearly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YEARLY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Sale_List_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Infinity_Subscription_record_0_0_0_0_0_0</name>
        <label>Create Infinity Subscription record</label>
        <locationX>800</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>Sale.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Infinity Subscription - Basic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Card_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardExpirationYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0P6f00000K2yKcEAJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Made_by_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Main_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainLeadsource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120B000000N8E5QAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.ChargentSFA__Charge_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Sale_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salecampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Sale_Parent_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleParentcampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Memebership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sale.Infinity_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YEARLY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Sale_List_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Membership_Level_Basic</name>
        <label>Membership Level - Basic</label>
        <locationX>248</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>MembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Infinity_Subscription_record_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Membership_Level_Basic_360</name>
        <label>Membership Level - 360</label>
        <locationX>664</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>MembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>360</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Infinity_Subscription_record_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Membership_Level_Basic_Stock</name>
        <label>Membership Level - Stock</label>
        <locationX>658</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>MembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Infinity_Subscription_record_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Membership_Level_Real</name>
        <label>Membership Level - Real</label>
        <locationX>323</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>MembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Real</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Infinity_Subscription_record_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_Service_items</name>
        <label>Check the Service items</label>
        <locationX>168</locationX>
        <locationY>423</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Real_Estate_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceItemNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11775</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Level_Real</targetReference>
            </connector>
            <label>Real Estate Pro</label>
        </rules>
        <rules>
            <name>Basic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceItemNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11774</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Level_Basic</targetReference>
            </connector>
            <label>Basic</label>
        </rules>
        <rules>
            <name>Stock_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceItemNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11773</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Level_Basic_Stock</targetReference>
            </connector>
            <label>Stock Pro</label>
        </rules>
        <rules>
            <name>X360</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceItemNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A11776</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Level_Basic_360</targetReference>
            </connector>
            <label>360</label>
        </rules>
    </decisions>
    <formulas>
        <name>MembershipCampaignId</name>
        <dataType>String</dataType>
        <expression>IF({!MembershipLevel} = &quot;360&quot;, &quot;7016f000001tdOGAAY&quot;,
IF({!MembershipLevel} = &quot;Real&quot;, &quot;7016f000001tdOQAAY&quot;,
IF({!MembershipLevel} = &quot;Stock&quot;, &quot;7016f000001tdOLAAY&quot;, &quot;7016f000001taXEAAY&quot;)))</expression>
    </formulas>
    <formulas>
        <name>OneHourAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/24)</expression>
    </formulas>
    <formulas>
        <name>PaymentStartDatemonthly</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!SaleClosedDate},1)</expression>
    </formulas>
    <formulas>
        <name>PaymentStartDateYearly</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!SaleClosedDate})+1,
MONTH({!SaleClosedDate}),
DAY({!SaleClosedDate})
)</expression>
    </formulas>
    <interviewLabel>Sale- Infinity Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sale- Infinity Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddCampaignMemberToCampaign</name>
        <label>AddCampaignMemberToCampaign</label>
        <locationX>1985</locationX>
        <locationY>625</locationY>
        <inputAssignments>
            <field>CampaignId__c</field>
            <value>
                <elementReference>MembershipCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>Get_Primary_Contact.ConatctID</elementReference>
            </value>
        </inputAssignments>
        <object>BuildCampaignMember__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_subscription_Sale</name>
        <label>Create subscription Sale</label>
        <locationX>1691</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Instant_Pause</targetReference>
        </connector>
        <inputReference>SaleList</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Check_the_Service_items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>2000</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>AddCampaignMemberToCampaign</targetReference>
        </connector>
        <flowName>Account_Get_Primary_contact_flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardExpirationYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardSecuritycode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventOfferName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MainLeadsource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembershipLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sale</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Salecampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaleClosedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SaleParentcampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceItemNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Instant_Pause</name>
        <label>Instant Pause</label>
        <locationX>1805</locationX>
        <locationY>459</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>SecondWait</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Primary_Contact</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>OneHourAgo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Secondwait</label>
        </waitEvents>
    </waits>
</Flow>
