flows/Sale_Infinity_Subscription_Update_on_contact_data_upload.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>StagechangeServiceitems</name>
        <dataType>String</dataType>
        <expression>{!CurrentServiceItems}+{!InfinitySubscriptionSelected}+&apos;,&apos;</expression>
    </formulas>
    <formulas>
        <name>UpdatedServiceItemCode</name>
        <dataType>String</dataType>
        <expression>If({!PriorInfinitySubscriptionValue}!=&apos;&apos;&amp;&amp; {!PriorInfinitySubscriptionValue}!=null,SUBSTITUTE({!CurrentServiceItems},{!PriorInfinitySubscriptionValue},{!InfinitySubscriptionSelected}),{!CurrentServiceItems})</expression>
    </formulas>
    <formulas>
        <name>UpdatethecontactService</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS({!CurrentServiceItems},{!InfinitySubscriptionSelected}))</expression>
    </formulas>
    <interviewLabel>Sale- Infinity Subscription Update on contact data upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sale- Infinity Subscription Update on contact data upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_ServiceItems</name>
        <label>Get Contact ServiceItems</label>
        <locationX>360</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_contact_Service_Item_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CurrentServiceItems</assignToReference>
            <field>Service_Item_List__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact_Service_Item_0</name>
        <label>Update contact Service Item</label>
        <locationX>532</locationX>
        <locationY>234</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Item_List__c</field>
            <value>
                <elementReference>StagechangeServiceitems</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>61</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Account_Get_Primary_contact_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_Get_Primary_contact_flow</name>
        <label>Account - Get Primary contact flow</label>
        <locationX>199</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>Get_Contact_ServiceItems</targetReference>
        </connector>
        <flowName>Account_Get_Primary_contact_flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <name>ConatctID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentServiceItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfinityMemebershipChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfinitySubscriptionSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriorInfinitySubscriptionValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceItemList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateserviceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
