flows/Sale_BE_BKG_1500_Version.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_AFC_opportunityLineitem_0</name>
        <label>Add AFC opportunityLineitem</label>
        <locationX>1766</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Saleid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u6f00000Ji4xUAAR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_opportunityLineitem_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CAP_opportunityLineitem_0</name>
        <label>Add CAP opportunityLineitem</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Saleid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tBxCTQA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_opportunityLineitem_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Corp_LLC_opportunityLineitem</name>
        <label>Add Corp/LLC opportunityLineitem</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Saleid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjDAIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_opportunityLineitem_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_platinum_opportunityLineitem_0_0_0</name>
        <label>Add platinum opportunityLineitem</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Saleid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjEgIAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_opportunityLineitem_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TTB_opportunityLineitem_0</name>
        <label>Add TTB opportunityLineitem</label>
        <locationX>1326</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Saleid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u6f00000JlS9MAAV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_opportunityLineitem_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Virtual_opportunityLineitem</name>
        <label>Add Virtual opportunityLineitem</label>
        <locationX>1062</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Saleid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tDS9zQAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_opportunityLineitem_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs</name>
        <label>Assign Campaign IDs</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f00000272vHAAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001tV6jAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001tT1AAAU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_opportunityLineitem_to_collection</name>
        <label>Assign the opportunityLineitem to collection</label>
        <locationX>1150</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineitemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAsCase1</name>
        <label>CreateAsCase</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>CreateAsCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateBKCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_offer_Type</name>
        <label>Check for offer Type</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Essentials_Bookkeeping_1_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Offertype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Essentials Bookkeeping 1/30</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Get_Primary_contact_flow</targetReference>
            </connector>
            <label>Business Essentials Bookkeeping 1/30</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Services</name>
        <label>Check for Services</label>
        <locationX>1150</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_the_opportunityLineitem_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Corp_LLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Services.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LLC Formation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Corp_LLC_opportunityLineitem</targetReference>
            </connector>
            <label>Corp/LLC</label>
        </rules>
        <rules>
            <name>CAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Services.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Assistance Program, 1 Year, Initial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CAP_opportunityLineitem_0</targetReference>
            </connector>
            <label>CAP</label>
        </rules>
        <rules>
            <name>Plat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Services.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_platinum_opportunityLineitem_0_0_0</targetReference>
            </connector>
            <label>Plat</label>
        </rules>
        <rules>
            <name>Virtual_BKG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Services.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Yearly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Virtual_opportunityLineitem</targetReference>
            </connector>
            <label>Virtual BKG</label>
        </rules>
        <rules>
            <name>TTB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Services.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Toolbox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Offer_is_Present</targetReference>
            </connector>
            <label>TTB</label>
        </rules>
        <rules>
            <name>AFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Services.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anderson Funding Community</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_AFC_opportunityLineitem_0</targetReference>
            </connector>
            <label>AFC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Offer_is_Present</name>
        <label>Check if Offer is Present</label>
        <locationX>1458</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_the_opportunityLineitem_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Offertype</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_TTB_opportunityLineitem_0</targetReference>
            </connector>
            <label>Offer Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_opportunity_Lineitems</name>
        <label>Insert opportunity Lineitems</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Check_for_offer_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineitemList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_opportunityLineitem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Copied from Sale -Add Corp/LLC,Plat,Virtual BKG,TTB,AFC</description>
    <formulas>
        <name>Wait</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (1/24)</expression>
    </formulas>
    <interviewLabel>Sale - BE BKG 1500 Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sale - BE BKG 1500 Version</label>
    <loops>
        <name>Loop_Services</name>
        <label>Loop Services</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_service_names</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Services</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_opportunity_Lineitems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_opportunityLineitem</name>
        <label>Insert opportunityLineitem</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Check_for_offer_Type</targetReference>
        </connector>
        <inputReference>OpportunityLineitemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Sale</name>
        <label>Get Sale</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_service_names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Saleid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_service_names</name>
        <label>Get service names</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Services</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) And 7</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC Formation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Assistance Program, 1 Year, Initial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platinum Membership</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Virtual Yearly</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Toolbox</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Anderson Funding Community</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_Wait1hour</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_Get_Primary_contact_flow</name>
        <label>Account - Get Primary contact flow</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>CreateAsCase1</targetReference>
        </connector>
        <flowName>Account_Get_Primary_contact_flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>Account_Get_Primary_contact_flow.ConatctID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>2102</locationY>
        <connector>
            <targetReference>Assign_Campaign_IDs</targetReference>
        </connector>
        <flowName>Create_Case_Flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseRequired</name>
            <value>
                <elementReference>CreateAsCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BookkeepingCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CreateBkCase</name>
            <value>
                <elementReference>CreateBKCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OfferDescription</name>
            <value>
                <elementReference>OfferPurchaseText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaleId</name>
            <value>
                <elementReference>Saleid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>OfferPurchaseText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>$1500- Business Essentials Package - Bookkeeping Version
(1) Choice of entity (LLC, Corp, or QRP)
(1) CAP for 1 Year
(1) Platinum (initial fee waived)
(1) Virtual Bookkeeping (for 1 year)
Plus:
(1) Tax Toolbox (digital version)
(1) Anderson Funding Community</text>
    </textTemplates>
    <variables>
        <name>CampaignMemberIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateAsCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateBKCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopVarServices</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Offertype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLineitemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Saleid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_Wait1hour</name>
        <label>Wait (Wait1hour)</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Instant_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Sale</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Wait</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Instant Pause</label>
        </waitEvents>
    </waits>
</Flow>
