flows/SMS_Campaigns_Add_Lead_or_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Campaign_Member_Already_Created</name>
        <label>Already In Campaign?</label>
        <locationX>744</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>Campaign_Member_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Campaign_Member</targetReference>
            </connector>
            <label>Not In Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>238</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Lead_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Isn_t_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Campaign_Member</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Exists</name>
        <label>Lead Exists?</label>
        <locationX>241</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>New_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Lead_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Campaign</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!Mobile} + &quot; - Text Message Lead&quot;</expression>
    </formulas>
    <formulas>
        <name>TestVarValues</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW()) &amp; &quot;~CampaignId~&quot;  &amp; {!CampaignId} &amp; &quot;~ContactId~&quot; &amp; {!ContactId} &amp; &quot;~LeadId~&quot; &amp; {!LeadId} &amp; &quot;~Mobile~&quot; &amp; {!Mobile} &amp; &quot;~Message~&quot; &amp; {!Message}</expression>
    </formulas>
    <interviewLabel>SMS Event - Add Lead or Contact to Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMS Campaigns - Add Lead or Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Contact_Campaign_Member</name>
        <label>Add Campaign Member</label>
        <locationX>1036</locationX>
        <locationY>159</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>New_Lead</name>
        <label>New Lead</label>
        <locationX>530</locationX>
        <locationY>631</locationY>
        <assignRecordIdToReference>LeadId</assignRecordIdToReference>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Campaign_Source__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Campaign_Member</name>
        <label>Lookup Campaign Member Contact</label>
        <locationX>545</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Member_Already_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>CampaignMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Campaign</name>
        <label>Update Lead Campaign</label>
        <locationX>530</locationX>
        <locationY>442</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Original_Campaign_Source__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Contact_Exists</startElementReference>
    <status>Active</status>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
