flows/Tax_Advantage_Program_Add_Primary_to_Campaign.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Campaign_IDs</name>
        <label>Assign Campaign IDs</label>
        <locationX>946</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs_0</name>
        <label>Assign Campaign IDs</label>
        <locationX>1150</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Campaigns</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_other_than_primary_Found</name>
        <label>Contact other than primary Found</label>
        <locationX>523</locationX>
        <locationY>419</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_other_than_primary_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Campaign</targetReference>
            </connector>
            <label>Contact other than primary not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_the_primary_contact</name>
        <label>Found the primary contact?</label>
        <locationX>351</locationX>
        <locationY>176</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Oldest_Contact</targetReference>
            </connector>
            <label>Contact not found</label>
        </rules>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Campaign</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <description>SCH-0046</description>
    <formulas>
        <name>BackInTime55Minutes</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/26)</expression>
    </formulas>
    <interviewLabel>Tax Advantage Program - Add Primary to Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tax Advantage Program - Add Primary to Campaign</label>
    <loops>
        <name>Loop_through_the_Campaigns</name>
        <label>Loop through the Campaigns</label>
        <locationX>922</locationX>
        <locationY>53</locationY>
        <collectionReference>Get_CampaignId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Campaign_IDs_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Campaign_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Campaign</name>
        <label>Find Campaign</label>
        <locationX>651</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CampaignId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Advantage</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Oldest_Contact</name>
        <label>Find Oldest Contact</label>
        <locationX>360</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_other_than_primary_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Primary_Contact</name>
        <label>Find Primary Contact</label>
        <locationX>190</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_the_primary_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Roles__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CampaignId</name>
        <label>Get CampaignId</label>
        <locationX>808</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_Campaigns</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quarterly Tax Planning Webinar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Tax Wise Workshop</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Wait_5_Minutes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>1129</locationX>
        <locationY>291</locationY>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_5_Minutes</name>
        <label>Wait 5 Minutes</label>
        <locationX>120</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Find_Primary_Contact</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>BackInTime55Minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Always Pause</label>
        </waitEvents>
    </waits>
</Flow>
