flows/Template_Loop_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddClientRecColl</name>
        <label>AddToCollVar</label>
        <locationX>545</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>ClientRecColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AsnClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAttendees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdClientRec</name>
        <label>UpdClientRec</label>
        <locationX>849</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>AsnClient.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientLoopVar.Client_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AsnClient.Event_Snapshot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddClientRecColl</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If The client is either already in the collection variable or the attendee didn&apos;t have a related contact then do not add to these records to the collection variable.</description>
        <name>ClientCheck</name>
        <label>Attendee Exists?</label>
        <locationX>844</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>UpdClientRec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Exists_or_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AsnClient.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ClientLoopVar.Client_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientLoopVar.Client_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAttendees</targetReference>
            </connector>
            <label>Exists or is Null</label>
        </rules>
    </decisions>
    <description>Template to loop records  and batch insert. The loops also contains a decision to check for an existing value in the Collection variable.</description>
    <interviewLabel>Template - Loop Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Template - Loop Records</label>
    <loops>
        <name>LoopAttendees</name>
        <label>Loop Attendees</label>
        <locationX>545</locationX>
        <locationY>217</locationY>
        <assignNextValueToReference>ClientLoopVar</assignNextValueToReference>
        <collectionReference>EventAttendeesRecColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ClientCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BatchInsertClients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the contact Ids from Attendees who are not either declined or canceled</description>
        <name>GetAttendees</name>
        <label>GetAttendees</label>
        <locationX>205</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAttendees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>evt__Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <filters>
            <field>evt__Invitation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>evt__Invitation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>evt__Attendee__c</object>
        <outputReference>EventAttendeesRecColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Client_Name__c</queriedFields>
        <sortField>Client_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>BatchInsertClients</name>
        <label>BatchInsertClients</label>
        <locationX>707</locationX>
        <locationY>54</locationY>
        <inputReference>ClientRecColl</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAttendees</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AsnClient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AttendeeClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>evt__Attendee__c</objectType>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>evt__Attendee__c</objectType>
    </variables>
    <variables>
        <name>ClientRecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EventAttendeesRecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>evt__Attendee__c</objectType>
    </variables>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestValue1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
