flows/Testing_Mail_room.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>CAFranchise</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;CA Franchise&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA Franchise</stringValue>
        </value>
    </choices>
    <choices>
        <name>CountyAssessor</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;County Assessor&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>County Assessor</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeptofEmployment</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Dept of Employment&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dept of Employment</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeptofFinance</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Dept of Finance&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dept of Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeptofLabor</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Dept of Labor&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dept of Labor</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeptofRevenue</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Dept of Revenue&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dept of Revenue</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeptofTaxation</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Dept of Taxation&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dept of Taxation</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeptofTreasury</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Dept of Treasury&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dept of Treasury</stringValue>
        </value>
    </choices>
    <choices>
        <name>EFTPS</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;EFTPS&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EFTPS</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmploymentSecurityCommission</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Employment Security Commission&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employment Security Commission</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SentBinder</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Sent Binder&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Binder</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentBinders</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Sent Binder(s)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Binder(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentBooks</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Sent Book(s)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Book(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentCertifiedMail</name>
        <choiceText>Sent Certified Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Certified Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentChecks</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Sent Check(s)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Check(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentCreditCards</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Sent Credit Card(s)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Credit Card(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentEINLetter</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Sent EIN Letter&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent EIN Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentFedEx</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Sent FedEx&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent FedEx</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentIRSmail</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Sent IRS mail&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent IRS mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentMail</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Sent Mail&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentPriorityMail</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Sent Priority Mail&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Priority Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentTaxDocs</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Sent Tax Docs&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Tax Docs</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentTXCompLetter</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Sent TX Comp Letter&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent TX Comp Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentUPS</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Sent UPS&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent UPS</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentViolationLetter</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Sent Violation Letter&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Violation Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentWholesaleTrustKit</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Sent Wholesale Trust Kit&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Wholesale Trust Kit</stringValue>
        </value>
    </choices>
    <choices>
        <name>TitleEscrow</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Title/Escrow&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Title/Escrow</stringValue>
        </value>
    </choices>
    <choices>
        <name>TXAppraisalDistrict</name>
        <choiceText>&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;TX Appraisal District&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TX Appraisal District</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Tracking_Numbers_List</name>
        <label>Tracking Numbers List</label>
        <locationX>262</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Requires_Tracking_Number</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11</conditionLogic>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Priority Mail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent FedEx</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent UPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Wholesale Trust Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Tax Docs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Check(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Credit Card(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Book(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Binder(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Violation Letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Certified Mail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tracking_Number_Selection_Page</targetReference>
            </connector>
            <label>Requires Tracking Number</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EntityList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Entities__c</object>
        <outputAssignments>
            <assignToReference>EntityRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UpsTrackingNumbers</name>
        <dataType>String</dataType>
        <displayField>Tracking_Number_ShipDate_Hidden__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>zkups__RecipientAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>zkups__UPSShipment__c</object>
        <outputAssignments>
            <assignToReference>UPSTrackingNumber</assignToReference>
            <field>zkups__MasterTrackingId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UpsShipmentNotes</assignToReference>
            <field>zkups__Notes__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>zkups__MasterTrackingId__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>USPSTrackingNumbers</name>
        <dataType>String</dataType>
        <displayField>Tracking_number_Shipped_Date__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>zkusps__toAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>zkusps__Shipment__c</object>
        <outputAssignments>
            <assignToReference>USPSShipmentNotes</assignToReference>
            <field>zkusps__shipmentNotes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>USPSTRackingNumber</assignToReference>
            <field>zkusps__trackingNumber__c</field>
        </outputAssignments>
        <sortField>zkusps__shipDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>zkusps__trackingNumber__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DefaultComments</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SubjectREmoveHtml5},&apos;&lt;/span&gt;&apos;,&apos;&apos;) +&apos; to &apos;+{!ClientName}+&apos; &apos;+{!LastName}+IF({!Related_To_Entity_Multiselect}!=&apos;&apos; &amp;&amp; {!Related_To_Entity_Multiselect}!=null , &apos; on behalf of&apos; +{!Related_To_Entity_Multiselect},&apos;&apos;)+ &apos; &apos;+SUBSTITUTE({!LineBreakTextTemplate}, &quot;~&quot;, &quot;&quot;)
+
IF(NOT(ISBLANK({!UPS_Tracking_Number})), &apos;UPS Tracking Number:&apos;+{!UPS_Tracking_Number}+ &apos; &apos;+SUBSTITUTE({!LineBreakTextTemplate}+&apos;Shipment Notes:&apos;+{!UpsShipmentNotes}+ &apos; &apos;+SUBSTITUTE({!LineBreakTextTemplate}, &quot;~&quot;, &quot;&quot;), &quot;~&quot;, &quot;&quot;),&quot;&quot;)
+
IF(NOT(ISBLANK({!USPS_Tracking_Number})),&apos;USPS Tracking Number:&apos;+{!USPS_Tracking_Number}+ &apos; &apos;+SUBSTITUTE({!LineBreakTextTemplate}, &quot;~&quot;, &quot;&quot;)+&apos;USPS Shipment notes:&apos;+{!USPSShipmentNotes},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>SubjectREmoveHtml</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Subject},&apos;&lt;span style=&quot;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SubjectREmoveHtml1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SubjectREmoveHtml},&apos;color: rgb(34, 34, 34);&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SubjectREmoveHtml2</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SubjectREmoveHtml1},&apos;font-family: Arial, Helvetica, sans-serif;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SubjectREmoveHtml3</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SubjectREmoveHtml2},&apos;font-size: small;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SubjectREmoveHtml4</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SubjectREmoveHtml3},&apos;background-color: rgb(255, 255, 255);&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SubjectREmoveHtml5</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!SubjectREmoveHtml4},&apos;&quot;&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Testing Mail room {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Testing Mail room_log call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>387</locationX>
        <locationY>483</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DefaultComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>50</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_A_Call_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ClientName</assignToReference>
            <field>First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastName</assignToReference>
            <field>Last_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>388</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Task Created!Please check the  Activity !&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_A_Call_Details</name>
        <label>Log A Call Details</label>
        <locationX>50</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tracking_Numbers_List</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <choiceReferences>SentMail</choiceReferences>
            <choiceReferences>SentPriorityMail</choiceReferences>
            <choiceReferences>SentFedEx</choiceReferences>
            <choiceReferences>SentUPS</choiceReferences>
            <choiceReferences>SentWholesaleTrustKit</choiceReferences>
            <choiceReferences>SentBinders</choiceReferences>
            <choiceReferences>SentTaxDocs</choiceReferences>
            <choiceReferences>SentChecks</choiceReferences>
            <choiceReferences>SentCreditCards</choiceReferences>
            <choiceReferences>SentBooks</choiceReferences>
            <choiceReferences>SentViolationLetter</choiceReferences>
            <choiceReferences>SentEINLetter</choiceReferences>
            <choiceReferences>SentIRSmail</choiceReferences>
            <choiceReferences>CountyAssessor</choiceReferences>
            <choiceReferences>EFTPS</choiceReferences>
            <choiceReferences>DeptofLabor</choiceReferences>
            <choiceReferences>DeptofTaxation</choiceReferences>
            <choiceReferences>DeptofFinance</choiceReferences>
            <choiceReferences>DeptofRevenue</choiceReferences>
            <choiceReferences>DeptofTreasury</choiceReferences>
            <choiceReferences>DeptofEmployment</choiceReferences>
            <choiceReferences>EmploymentSecurityCommission</choiceReferences>
            <choiceReferences>SentTXCompLetter</choiceReferences>
            <choiceReferences>TXAppraisalDistrict</choiceReferences>
            <choiceReferences>CAFranchise</choiceReferences>
            <choiceReferences>TitleEscrow</choiceReferences>
            <choiceReferences>SentCertifiedMail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Related_To_Entity_Multiselect</name>
            <choiceReferences>EntityList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Related To Entity</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tracking_Number_Selection_Page</name>
        <label>Tracking Number Selection Page</label>
        <locationX>540</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <fields>
            <name>UPS_Tracking_Number</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>UpsTrackingNumbers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>UPS Tracking Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>USPS_Tracking_Number</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>USPSTrackingNumbers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>USPS Tracking Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Account_Lookup</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>LineBreakTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>~
~</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntityRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualTrackingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedUpsTrackingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedUPSTrackingNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlectedEntities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpsShipmentNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UPSTrackingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>USPSShipmentNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>USPSTRackingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
