flows/Tmp_Dataload_Remove_Unlimted_Nominee.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Org_State</name>
        <label>Org State</label>
        <locationX>574</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Loop_Sale_Entity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WYCorp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSaleEntity.Organizational_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wyoming</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopSaleEntity.Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Dataload_Box</targetReference>
            </connector>
            <label>WY Corp</label>
        </rules>
        <rules>
            <name>NV_Corp_or_LLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSaleEntity.Organizational_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nevada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Dataload_Box_0</targetReference>
            </connector>
            <label>NV Corp or LLC</label>
        </rules>
    </decisions>
    <description>SCH-0083</description>
    <interviewLabel>Tmp - Dataload - Remove Unlimted Nominee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tmp - Dataload - Remove Unlimted Nominee</label>
    <loops>
        <name>Loop_Sale_Entity</name>
        <label>Loop Sale Entity</label>
        <locationX>259</locationX>
        <locationY>358</locationY>
        <assignNextValueToReference>LoopSaleEntity</assignNextValueToReference>
        <collectionReference>Get_Sale_Entities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Org_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Unlimited_Nom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Unlimited_Nom</name>
        <label>Delete Unlimited Nom</label>
        <locationX>258</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Uncheck_Dataload_Box_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t4P000007ZsyK</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Sale_Entities</name>
        <label>Get Sale Entities</label>
        <locationX>259</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Sale_Entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SaleEntity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Organizational_State__c</queriedFields>
        <queriedFields>Entity_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Dataload_Box</name>
        <label>Uncheck Dataload Box</label>
        <locationX>584</locationX>
        <locationY>80</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tmp_Dataloads__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Dataload_Box_0</name>
        <label>Uncheck Dataload Box</label>
        <locationX>780</locationX>
        <locationY>90</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tmp_Dataloads__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Dataload_Box_0_0</name>
        <label>Uncheck Dataload Box</label>
        <locationX>516</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tmp_Dataloads__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Sale_Entities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoopSaleEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SaleEntity__c</objectType>
    </variables>
    <variables>
        <name>SaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
