flows/Transaction_Logic_Holder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Event - 03.31.2021 SREC Platinum</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Event - 03.31.2021 SREC</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Event_03_31_2021_SREC_Platinum</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SaleId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>SaleId</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EventOfferAutomationText</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>EventOfferAutomationText</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>02.22.2021 - Don Pendleton BE Virtual</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>02.22.2021 Event Flow</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>X02_22_2021_Don_Pendleton_BE_Virtual</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EventOfferAutomationText</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>EventOfferAutomationText</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SaleId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>SaleId</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Event -  TAP for Active Real Estate 02.23.2021</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Event - TAP for Active Real Estate</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Event_TAP_for_Active_Real_Estate_02_23_2021</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EventOfferAutomationText</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>EventOfferAutomationText</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SaleId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>SaleId</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Sale- Update Expiration Date</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Sale- Update Expiration Date</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Sale_Update_Expiration_Date</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SaleId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>SaleId</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LastTransactionDate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>LastTransactionDate</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__r.Last_Transaction__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Event - 03.15.2021 - SIS</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Event - 03.15.2021 - SIS</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Event_02_08_2021_SIS</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SaleId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>SaleId</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EventOfferAutomationText</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>EventOfferAutomationText</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Event - 03.26.2021 - TaxWise</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Event - 03.26.2021 - TaxWise</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Event_03_26_2021_TaxWise</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SaleId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>SaleId</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EventOfferAutomationText</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>EventOfferAutomationText</name>
            <value>
                <elementReference>myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>02.22.2021 - Don Pendleton BE Virtual</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Event - SREC - 03.31.2021</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Event - Business Essentials Package - Bookkeeping Version</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ChargentSFA__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infinity Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Currency</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Currency</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Currency</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Currency</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ChargentSFA__Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ChargentSFA__Opportunity__r.Infinity_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YEARLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ChargentSFA__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ChargentSFA__Response_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ChargentSFA__Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Sale - Update Infinity Membership Expiration Date</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Event- SIS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Event - TaxWise 3.26.2021</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISNEW(), 

TEXT([ChargentSFA__Transaction__c].ChargentSFA__Type__c) = &quot;Charge&quot;,
[ChargentSFA__Transaction__c].ChargentSFA__Response_Status__c = &quot;Approved&quot;,
[ChargentSFA__Transaction__c].ChargentSFA__Amount__c &gt; 0,


NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__c  )),
NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c )),

CONTAINS([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c, &quot;Don Pendleton BE 2/22&quot;)


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISNEW(), 

TEXT({!myVariable_current.ChargentSFA__Type__c}) = &quot;Charge&quot;,
{!myVariable_current.ChargentSFA__Response_Status__c} = &quot;Approved&quot;,
{!myVariable_current.ChargentSFA__Amount__c} &gt; 0,


NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__c}  )),
NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c} )),

CONTAINS({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c}, &quot;Don Pendleton BE 2/22&quot;)


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISNEW(), 

TEXT([ChargentSFA__Transaction__c].ChargentSFA__Type__c) = &quot;Charge&quot;,
[ChargentSFA__Transaction__c].ChargentSFA__Response_Status__c = &quot;Approved&quot;,


NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__c  )),
NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c )),

OR(
CONTAINS([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c, &quot;SREC Platinum 03-31-2021&quot;))


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISNEW(), 

TEXT({!myVariable_current.ChargentSFA__Type__c}) = &quot;Charge&quot;,
{!myVariable_current.ChargentSFA__Response_Status__c} = &quot;Approved&quot;,


NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__c}  )),
NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c} )),

OR(
CONTAINS({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c}, &quot;SREC Platinum 03-31-2021&quot;))


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISNEW(), 

TEXT([ChargentSFA__Transaction__c].ChargentSFA__Type__c) = &quot;Charge&quot;,
[ChargentSFA__Transaction__c].ChargentSFA__Response_Status__c = &quot;Approved&quot;,
[ChargentSFA__Transaction__c].ChargentSFA__Amount__c &gt; 0,


NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__c  )),
NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c )),

OR(
CONTAINS([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c, &quot;Business Essentials Evergreen Active&quot;),
CONTAINS([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c, &quot;Business Essentials Evergreen Passive&quot;)
)


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISNEW(), 

TEXT({!myVariable_current.ChargentSFA__Type__c}) = &quot;Charge&quot;,
{!myVariable_current.ChargentSFA__Response_Status__c} = &quot;Approved&quot;,
{!myVariable_current.ChargentSFA__Amount__c} &gt; 0,


NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__c}  )),
NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c} )),

OR(
CONTAINS({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c}, &quot;Business Essentials Evergreen Active&quot;),
CONTAINS({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c}, &quot;Business Essentials Evergreen Passive&quot;)
)


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISNEW(), 

TEXT([ChargentSFA__Transaction__c].ChargentSFA__Type__c) = &quot;Charge&quot;,
[ChargentSFA__Transaction__c].ChargentSFA__Response_Status__c = &quot;Approved&quot;,
[ChargentSFA__Transaction__c].ChargentSFA__Amount__c &gt; 0,


NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__c  )),
NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c )),

OR(
CONTAINS([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c, &quot;SIS Real Estate Upgrade 2021&quot;), 
CONTAINS([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c, &quot;SIS Tax Bookkeeping Bundle 2021&quot;), 
CONTAINS([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c, &quot;SIS Legacy Bundle 2021&quot;))


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISNEW(), 

TEXT({!myVariable_current.ChargentSFA__Type__c}) = &quot;Charge&quot;,
{!myVariable_current.ChargentSFA__Response_Status__c} = &quot;Approved&quot;,
{!myVariable_current.ChargentSFA__Amount__c} &gt; 0,


NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__c}  )),
NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c} )),

OR(
CONTAINS({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c}, &quot;SIS Real Estate Upgrade 2021&quot;), 
CONTAINS({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c}, &quot;SIS Tax Bookkeeping Bundle 2021&quot;), 
CONTAINS({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c}, &quot;SIS Legacy Bundle 2021&quot;))


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISNEW(), 

TEXT([ChargentSFA__Transaction__c].ChargentSFA__Type__c) = &quot;Charge&quot;,
[ChargentSFA__Transaction__c].ChargentSFA__Response_Status__c = &quot;Approved&quot;,
[ChargentSFA__Transaction__c].ChargentSFA__Amount__c &gt; 0,


NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__c  )),
NOT(ISBLANK([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c )),

OR(
CONTAINS([ChargentSFA__Transaction__c].ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c, &quot;TaxWise 3/26&quot;))


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISNEW(), 

TEXT({!myVariable_current.ChargentSFA__Type__c}) = &quot;Charge&quot;,
{!myVariable_current.ChargentSFA__Response_Status__c} = &quot;Approved&quot;,
{!myVariable_current.ChargentSFA__Amount__c} &gt; 0,


NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__c}  )),
NOT(ISBLANK({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c} )),

OR(
CONTAINS({!myVariable_current.ChargentSFA__Opportunity__r.Event_Offer_Automation_Text__c}, &quot;TaxWise 3/26&quot;))


)</expression>
    </formulas>
    <interviewLabel>Transaction_Logic_Holder-14_InterviewLabel</interviewLabel>
    <label>Transaction - Logic Holder</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ChargentSFA__Transaction__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargentSFA__Transaction__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargentSFA__Transaction__c</objectType>
    </variables>
</Flow>
