flows/Unlimited_Living_Trust.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Does this opportunity have one of the relevant services for Unlimited Living Trust Amendments.</description>
        <name>ULT_Service</name>
        <label>ULT Service?</label>
        <locationX>336</locationX>
        <locationY>412</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateClientVIP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>BackInTime55Minutes</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/26)</expression>
    </formulas>
    <formulas>
        <name>ULTEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!ApprovedTxDate})+7, MONTH({!ApprovedTxDate}), DAY({!ApprovedTxDate}))</expression>
    </formulas>
    <interviewLabel>Unlimited Living Trust {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unlimited Living Trust</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity_Products</name>
        <label>Opp Product Info</label>
        <locationX>107</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ULT_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unlimited Living Trust Amendments</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceName</assignToReference>
            <field>Service_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateClientVIP</name>
        <label>Update Client</label>
        <locationX>644</locationX>
        <locationY>529</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unlimited_Living_Trust_Status__c</field>
            <value>
                <stringValue>ULTACTIVE</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Wait_5_then_go</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApprovedTxDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlatinumStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_5_then_go</name>
        <label>Wait 5 then go</label>
        <locationX>367</locationX>
        <locationY>172</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Opportunity_Products</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>BackInTime55Minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Always Pause</label>
        </waitEvents>
    </waits>
</Flow>
