flows/Unlimited_Land_Trust.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Platinum_Status</name>
        <label>Platinum Status</label>
        <locationX>947</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Platinum_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatinumStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatinumSale</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateClientVIP</targetReference>
            </connector>
            <label>Platinum Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Type</name>
        <label>Service Type</label>
        <locationX>655</locationX>
        <locationY>346</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Land_Trust_VIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Land Trust VIP Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovedTxDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platinum_Status</targetReference>
            </connector>
            <label>Land Trust VIP</label>
        </rules>
        <rules>
            <name>Unlimited_Land_Trust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unlimited Land Trusts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovedTxDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateClient</targetReference>
            </connector>
            <label>Unlimited Land Trust</label>
        </rules>
        <rules>
            <name>Land_Trust_VIP_Fulfillment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Land Trust VIP Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovedTxDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Land Trust VIP Fulfillment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does this opportunity have one of the relevant services for Unlimited Land Trusts</description>
        <name>ULT_Service</name>
        <label>ULT Service?</label>
        <locationX>168</locationX>
        <locationY>346</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Determines if the client has unlimited land trust.</description>
    <formulas>
        <name>BackInTime55Minutes</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/26)</expression>
    </formulas>
    <formulas>
        <description>Date Unlimited Land Trust Service Ends</description>
        <name>ULTEndDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DATE(YEAR({!ApprovedTxDate})+7, MONTH({!ApprovedTxDate}), DAY({!ApprovedTxDate})))</expression>
    </formulas>
    <interviewLabel>Unlimited Land Trust {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unlimited Land Trust</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Information</name>
        <label>Account Info</label>
        <locationX>367</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transaction_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PlatinumStatus</assignToReference>
            <field>Platinum_Client_View__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PlatinumSale</assignToReference>
            <field>Platinum_Sale_Closed_Won__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Products</name>
        <label>Opp Product Info</label>
        <locationX>176</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ULT_Service</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unlimited Land Trusts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Land Trust VIP Services</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceName</assignToReference>
            <field>Service_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Transaction_Info</name>
        <label>Transaction Info</label>
        <locationX>504</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargentSFA__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargentSFA__Response_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChargentSFA__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </filters>
        <object>ChargentSFA__Transaction__c</object>
        <outputAssignments>
            <assignToReference>ApprovedTxDate</assignToReference>
            <field>ChargentSFA__Gateway_Date__c</field>
        </outputAssignments>
        <sortField>ChargentSFA__Gateway_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateClient</name>
        <label>Update Client</label>
        <locationX>961</locationX>
        <locationY>508</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unlimited_Land_Trust__c</field>
            <value>
                <elementReference>ULTEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientVIP</name>
        <label>Update Client</label>
        <locationX>1194</locationX>
        <locationY>223</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unlimited_Land_Trust__c</field>
            <value>
                <stringValue>ULTVIP</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Wait_5_then_go</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApprovedTxDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlatinumSale</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PlatinumStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_5_then_go</name>
        <label>Wait 5 then go</label>
        <locationX>421</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Opportunity_Products</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>BackInTime55Minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Always Pause</label>
        </waitEvents>
    </waits>
</Flow>
