flows/Update_BookKeeping_fields_from_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_individual_records_to_collection_record</name>
        <label>Assign individual records to collection record</label>
        <locationX>832</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskIndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_individual_records</name>
        <label>Assign Task individual records</label>
        <locationX>831</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_records.Client_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.Call_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Call_Outcome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskIndividualRecord.Bookkeeping_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bookkeeping_Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_individual_records_to_collection_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Team_lead</name>
        <label>Assigning Team lead</label>
        <locationX>1178</locationX>
        <locationY>31</locationY>
        <assignmentItems>
            <assignToReference>Loop.Team_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop.Bookkeeping_IC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bookkeeping_IC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_to_be_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Records_to_be_updated</name>
        <label>Records to be updated</label>
        <locationX>1186</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>Listofbookkeepingrecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking null values for the team lead and bookkeeping</description>
        <name>check_null</name>
        <label>check null</label>
        <locationX>669</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team_Lead__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bookkeeping_IC__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Book_keeping_records</targetReference>
            </connector>
            <label>Team is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_record_type</name>
        <label>Check the record type</label>
        <locationX>461</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_type_is_BookKeeping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120B000000QxKoQAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_null</targetReference>
            </connector>
            <label>Record type is BookKeeping</label>
        </rules>
        <rules>
            <name>RecordType_is_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012U0000000g5s9IAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bookkeeping_records</targetReference>
            </connector>
            <label>RecordType is Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_found</name>
        <label>Records found</label>
        <locationX>943</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Book_keeping_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>Records found1</label>
        </rules>
    </decisions>
    <description>Updating bookkeeping record fields from task--Added Task duplication functionality v22</description>
    <interviewLabel>Update BookKeeping fields from flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update BookKeeping fields from flow</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1027</locationX>
        <locationY>128</locationY>
        <collectionReference>Get_Book_keeping_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Team_lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_records</name>
        <label>Loop records</label>
        <locationX>694</locationX>
        <locationY>329</locationY>
        <collectionReference>Get_Bookkeeping_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_individual_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_duplicate_task_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_duplicate_task_records</name>
        <label>Create duplicate task records</label>
        <locationX>671</locationX>
        <locationY>580</locationY>
        <inputReference>TasksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Book_keeping_records</name>
        <label>Get Book keeping records</label>
        <locationX>808</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bookkeeping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bookkeeping_records</name>
        <label>Get Bookkeeping records</label>
        <locationX>526</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bookkeeping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_records</name>
        <label>Update the records</label>
        <locationX>1037</locationX>
        <locationY>296</locationY>
        <inputReference>Listofbookkeepingrecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>91</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Check_the_record_type</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BookkeepingTeamlead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Listofbookkeepingrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bookkeeping__c</objectType>
    </variables>
    <variables>
        <name>TaskIndividualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
