flows/X02_22_2021_Don_Pendleton_BE_Virtual.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Business_Essentials_Don_P</name>
        <label>Add Business Essentials - Don P</label>
        <locationX>1834</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t6f00000O68QTAAZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2995.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u6f00000JjWRdAAN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Business_Essentials_Don_P_0</name>
        <label>Add Business Essentials - Don P</label>
        <locationX>1855</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t6f00000O68QTAAZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2995.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u6f00000JjWRdAAN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Business_Essentials_Don_P_0_0</name>
        <label>Add Business Essentials - Don P</label>
        <locationX>1854</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t6f00000O68QTAAZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2995.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u6f00000JjWRdAAN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CAP</name>
        <label>Add CAP</label>
        <locationX>1360</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t4P000007ZoKiQAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tBxCTQA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CAP_0</name>
        <label>Add CAP</label>
        <locationX>1359</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t4P000007ZoKiQAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tBxCTQA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CAP_0_0</name>
        <label>Add CAP</label>
        <locationX>1361</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t4P000007ZoKiQAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01u4P00000tBxCTQA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CORP</name>
        <label>Add CORP</label>
        <locationX>1127</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU00000005vddIAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjD8IAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LLC</name>
        <label>Add LLC</label>
        <locationX>1106</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU00000006ARsIAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjDAIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Platinum</name>
        <label>Add Platinum</label>
        <locationX>1583</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU0000002vQMzIAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjEgIAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlatSaleCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Platinum_0</name>
        <label>Add Platinum</label>
        <locationX>1583</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU0000002vQMzIAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjEgIAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlatSaleCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Platinum_0_0</name>
        <label>Add Platinum</label>
        <locationX>1586</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU0000002vQMzIAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjEgIAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlatSaleCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QRP</name>
        <label>Add QRP</label>
        <locationX>1124</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tU0000001nfC8IAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01uU000000dUjEKIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsnPlatinumCount</name>
        <label>AsnPlatinumCount</label>
        <locationX>466</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>PlatSaleCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sale.Account.Platinum_Sale_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Get_Primary_contact_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs_0</name>
        <label>Assign Campaign IDs</label>
        <locationX>3486</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001tOmTAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001taNEAAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs_0_0_0_0</name>
        <label>Assign Campaign IDs</label>
        <locationX>3480</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001tOmTAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001taNEAAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_IDs_0_0_0_0_0</name>
        <label>Assign Campaign IDs</label>
        <locationX>3486</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001tOmTAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7016f000001taNEAAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Publish_Platform_Event_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1249</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CAP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1471</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Platinum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1697</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Business_Essentials_Don_P</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1977</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_OpportunityLineItem_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1999</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_OpportunityLineItem_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1998</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_OpportunityLineItem_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1251</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CAP_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1472</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Platinum_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1697</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Business_Essentials_Don_P_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1250</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CAP_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1471</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Platinum_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_OpportunityLineItem_List_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign to the OpportunityLineItem List</label>
        <locationX>1698</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Business_Essentials_Don_P_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAsCase1</name>
        <label>CreateAsCase</label>
        <locationX>2845</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>CreateAsCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Platinum</name>
        <label>Has Platinum?</label>
        <locationX>2646</locationX>
        <locationY>591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPlatinum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAsCase1</targetReference>
            </connector>
            <label>YesPlatinum</label>
        </rules>
        <rules>
            <name>NoPlatinum</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatSaleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>NoPlatinum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offer_Type</name>
        <label>Offer Type</label>
        <locationX>830</locationX>
        <locationY>595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer_1_Don_Pendleton_BE_2_22_LLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Don Pendleton BE 2/22 LLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_LLC</targetReference>
            </connector>
            <label>Offer 1 - Don Pendleton BE 2/22 LLC</label>
        </rules>
        <rules>
            <name>Offer_2_Don_Pendleton_BE_2_22_CORP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Don Pendleton BE 2/22 CORP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CORP</targetReference>
            </connector>
            <label>Offer 2 - Don Pendleton BE 2/22 CORP</label>
        </rules>
        <rules>
            <name>Offer_3_Don_Pendleton_BE_2_22_QRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Don Pendleton BE 2/22 QRP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_QRP</targetReference>
            </connector>
            <label>Offer 3 - Don Pendleton BE 2/22 QRP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offer_Type_0</name>
        <label>Offer Type</label>
        <locationX>3128</locationX>
        <locationY>670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer_1_Don_Pendleton_BE_2_22_LLC_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Don Pendleton BE 2/22 LLC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sale.ChargentSFA__Transaction_Total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_IDs_0</targetReference>
            </connector>
            <label>Offer 1 - Don Pendleton BE 2/22 LLC</label>
        </rules>
        <rules>
            <name>Offer_2_Don_Pendleton_BE_2_22_CORP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Don Pendleton BE 2/22 CORP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sale.ChargentSFA__Transaction_Total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_IDs_0_0_0_0</targetReference>
            </connector>
            <label>Offer 2 - Don Pendleton BE 2/22 CORP</label>
        </rules>
        <rules>
            <name>Offer_3_Don_Pendleton_BE_2_22_QRP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventOfferAutomationText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Don Pendleton BE 2/22 QRP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sale.ChargentSFA__Transaction_Total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_IDs_0_0_0_0_0</targetReference>
            </connector>
            <label>Offer 3 - Don Pendleton BE 2/22 QRP</label>
        </rules>
    </decisions>
    <formulas>
        <name>OfferPurchaseTextFormula</name>
        <dataType>String</dataType>
        <expression>IF({!EventOfferAutomationText} = &quot;Don Pendleton BE 2/22 LLC&quot;,  {!PurchasedDescriptionOffer1},
IF({!EventOfferAutomationText} = &quot;Don Pendleton BE 2/22 CORP&quot;,  {!PurchasedDescriptionOffer2},
IF({!EventOfferAutomationText} = &quot;Don Pendleton BE 2/22 QRP&quot;,  {!PurchasedDescriptionOffer3},
&quot;Purchased package at Don Pendleton 2/22&quot;)))</expression>
    </formulas>
    <formulas>
        <name>Wait</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (1/24)</expression>
    </formulas>
    <interviewLabel>02.22.2021 - Don Pendleton BE Virtual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>02.22.2021 - Don Pendleton BE Virtual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>2 Tickets</description>
        <name>Create_Entitlements</name>
        <label>Create Entitlements</label>
        <locationX>2467</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>Has_Platinum</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Received for purchasing the Business Essentials Don P 02.22.2021</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>2 Tickets to an upcoming AP event in 2021</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_OpportunityLineItem_List</name>
        <label>Insert OpportunityLineItem List</label>
        <locationX>2306</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>Create_Entitlements</targetReference>
        </connector>
        <inputReference>OpportunityLineItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Sale</name>
        <label>Get Sale</label>
        <locationX>339</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsnPlatinumCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Wait_Wait1hour</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Account_Get_Primary_contact_flow</name>
        <label>Account - Get Primary contact flow</label>
        <locationX>581</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Offer_Type</targetReference>
        </connector>
        <flowName>Account_Get_Primary_contact_flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event_0_0_0</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>3612</locationX>
        <locationY>479</locationY>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>Account_Get_Primary_contact_flow.ConatctID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event_0_0_0_0</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>3629</locationX>
        <locationY>680</locationY>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>Account_Get_Primary_contact_flow.ConatctID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Campaign_Member_Publish_Platform_Event_0_0_0_0_0</name>
        <label>Campaign Member- Publish Platform Event</label>
        <locationX>3626</locationX>
        <locationY>856</locationY>
        <flowName>Campaign_Member_Publish_Platform_Event</flowName>
        <inputAssignments>
            <name>CampaignIds</name>
            <value>
                <elementReference>CampaignMemberIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrimaryContactID</name>
            <value>
                <elementReference>Account_Get_Primary_contact_flow.ConatctID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>2993</locationX>
        <locationY>672</locationY>
        <connector>
            <targetReference>Offer_Type_0</targetReference>
        </connector>
        <flowName>Create_Case_Flow</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Sale.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AsCaseRequired</name>
            <value>
                <elementReference>CreateAsCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BookkeepingCaseDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CreateFulfilMentCase</name>
            <value>
                <elementReference>CreateFulfimentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OfferDescription</name>
            <value>
                <elementReference>OfferPurchaseTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaleId</name>
            <value>
                <elementReference>SaleId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>PurchasedDescriptionOffer1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
Business Essentials Don P 2/22 - $2995
(1) Choice of entity (LLC, Corp, or QRP) 
(1) CAP for 1 Year
(1) Platinum (initial fee waived)
(1) Anderson Funding Community
Collect Platinum cc for subscription</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
Business Essentials Don P 2/22 - $2995
(1) Choice of entity (LLC, Corp, or QRP) 
(1) CAP for 1 Year
(1) Platinum (initial fee waived)
(1) Anderson Funding Community
Collect Platinum cc for subscription</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
Business Essentials Don P 2/22 - $2995
(1) Choice of entity (LLC, Corp, or QRP) 
(1) CAP for 1 Year
(1) Platinum (initial fee waived)
(1) Anderson Funding Community
Collect Platinum cc for subscription</text>
    </textTemplates>
    <textTemplates>
        <name>PurchasedDescriptionOffer3QRP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchased:
Legacy Bundle at SIS 02.08.2021 - $2500
Living Trust or QRP - The client chose QRP
Tax Toolbox - Digital
Anderson Funding Community
Virtual Bookkeeping for 1 Year</text>
    </textTemplates>
    <variables>
        <name>CampaignMemberIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateAsCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateBKCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateFulfimentCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventOfferAutomationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PlatSaleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_Wait1hour</name>
        <label>Wait (Wait1hour)</label>
        <locationX>168</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Instant_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Sale</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Wait</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Instant Pause</label>
        </waitEvents>
    </waits>
</Flow>
